<div id="sidebox">
  <ul>
    <li class="sign_up">
      <span><%= t("sessions.new.sign_up_for_free") %></span>
      <%= t("sessions.new.sign_up_tag_line") %>
    </li>
  </ul>
  <div class="right_side">
    <a href="<%= new_user_path %>" class="blue_button submit_button"><span><span><%= t("sessions.new.listener_account") %></span></span></a>
  </div>
</div>
