<% content_for :head do %>
  <%= stylesheet_link_tag 'registration_form' %>
<% end %>

<h2 class="page_title"><%= t('sessions.new.sign_in')%></h2>

<div id="content">
  <div id="main_content" class="registration">
    <%= render 'form' %>
  </div>
</div>

<%= render 'sidebox' %>
<br class="clearer" />
