- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title
%p
  O Cyloop é um site de música que oferece uma experiência multimídia personalizada para cada usuário, com uma das mais completas coleções de áudio e vídeo online. No Cyloop você pode escutar e colecionar milhares de músicas, das estrelas mais famosas do mundo e também de artistas independentes, além de seguir a atividade do seu artista favorito, tudo de uma maneira personalizada.
%h4 Como funciona?
%p
  Depois de se registrar, você pode simplesmente escutar as músicas que a Rádio Cyloop recomenda para você ou ativamente colecionar suas canções preferidas em “playlists”. Além disso, você pode seguir seus artistas favoritos, sendo informado de cada novidade sobre eles, ler as últimas notícias e blogs, ou deixar comentários em cada canção ou álbum.
%p  
  O sistema de recomendação proprietário do Cyloop é baseado no projeto MAP. O nosso sistema de recomendação é utilizado extensivamente no site, desde a criação de rádios personalizadas até a sugestão de artistas novos no perfil de usuários. O projeto MAP é baseado na idéia que o gosto musical é marcado não somente por artistas similares mas também por dados demográficos, geográficos e culturais. Em outras palavras, a gente acredita que o local que você vive, sua linguagem, amigos, idade e mais determinam que tipo de música você se identifica mais.
%p
  A tecnologia do projeto MAP está patenteada nos EUA (pendente), e utiliza mapas auto-organizáveis (SOM, “self-organizing maps”). Os SOMs são um tipo de rede neural que é treinada para aprender sozinha e produzir resultados cada vez melhores com o decorrer do tempo. 

%h4 O que artistas podem encontrar no Cyloop?
%p
  o cyloop é uma ferramenta para artistas e suas gravadoras divulgarem o seu trabalho, atingindo milhares de fãs em vários países.