- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title

%h4 GERAL
%strong 
  O Cyloop tem custo? 
%p
  Não, atualmente o Cyloop não tem custo. 


%h4 MEUS DADOS
%strong 
  Como atualizo meus dados, no meu perfil?
%p
  Ao fazer login, siga estes passos:
%ol
  %li No seu Painel de Controle, clique em “Opções”.
  %li Você pode inserir ou atualizar seus dados ali.
  %li Não esqueça de clicar no botão de “Salvar” antes de sair da página.

%strong
  Onde posso trocar meu e-mail e senha?
%p
  Depois de fazer o login, dentro do Painel de Controle, escolha o link “Opções”. Dentro de “Opções” você pode trocar seu e-mail. Também ali dentro,  existe um botão “Senha”, somente para troca de senha.

%strong
  Como posso trocar a aparência do meu perfil?
%p
  Ao fazer login, você vai encontrar um botão de “Personalizar Página” embaixo do seu nome e cidade. Clique nesse botão e várias opções de personalização (cores, imagem de fundo, etc) vão aparecer.


%h4 MINHA MÚSICA
%strong
  Como posso colecionar músicas?
%ul
  %li
    %strong
      Na Atividade
    %ul
      %Li Ao lado de cada canção aparece um botão com o sinal de “+” (adição). Clique nesse botão para colecionar aquela música em uma playlist. 
%ul
  %li
    %strong
      Na Rádio
    %ul
      %li Dentro do player da rádio, você pode arrastar a capa do álbum que está tocando para dentro do mixer. Depois clique em “Salvar Mix”.

%strong
  Como posso administrar minha coleção de música?
%p
  Você precisa fazer login para enxergar sua coleção. Depois do login, dentro do Painel de Controle, você vai enxergar uma link para “Playlists”, nas abas que aparecem abaixo do seu nome e cidade. Dentro de “Playlists” você pode organizar suas músicas.

%strong
  Posso subir fotos ou música?
%p
  O Cyloop é um site 100% legal. Não oferecemos a possibilidade de o usuário subir músicas, para evitar a pirataria. Se você é um artista, vai poder subir suas músicas e divulgar o seu trabalho.
Além da imagem do seu perfil (seu ícone), você não pode subir fotos. Existem outros sites para isso e preferimos focar em música, apenas.

%strong
  Por que não posso escolher o que toca na rádio?
%p
  A rádio funciona como um rádio normal: não é possível escolher as músicas ou sequência em que elas tocam. Uma vez que você seleciona um artista e inicia uma rádio, vai escutar músicas (ou pelo menos uma música) daquele artista e outras músicas que seguem o mesmo estilo. 
De acordo com o mesmo modelo, você pode avançar (pular), se não gostar de alguma música, mas não pode retroceder na rádio.

%strong
  Como posso gerenciar minhas rádios?
%p
  Depois de fazer o login, dentro do Painel de Controle, clique no link “Rádios”. Ali você pode administrar suas rádios.


%h4 USUÁRIOS E SEGUIDORES
%strong
  O que é o conceito de “seguir” usuários e artistas?
%p
  Você vai encontrar um botão de “Seguir” perto do nome de cada usuário ou música tocada por um usuário. As páginas de artistas também apresentam o botão de “Seguir”. Quando você escolhe seguir uma pessoa, vai receber na lista de “Novidades” todas as músicas que aquela pessoa tocar ou publicar (no caso de artista). Assim, você pode ficar por dentro do que os seus amigos estão escutando e descobrir músicas e artistas novos. 
Se uma pessoa está seguindo você, da mesma maneira, ela vai ver cada música que você toca.

%strong
  Quero bloquear alguém que está me seguindo.
%p
  Se você não quiser que algum usuário específico siga você, depois de fazer o login, dentro do Painel de Controle, clique no link “Seguidores”. Ali você vai encontrar um botão de “Bloquear” ao lado de cada usuário. Você pode impedir quem quiser de segui-lo bloqueando o usuário.

%strong
  Não quero ser “seguido” por ninguém. Como faço?
%p
  Depois de fazer o login, dentro do Painel de Controle, escolha o link “Opções”. Ali dentro, no final da página, você vai encontrar uma opção “Manter perfil privado?”. Marque esta opção e clique em “Salvar” para que ninguém possa seguir você. 

%strong
  Outro usuário do Cyloop está me incomodando. O que posso fazer?
%p
  Por favor, entre em contato com a gente através do link “Contato”, no rodapé de qualquer página do site. Conte para a gente o que aconteceu.


