- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title
%p
  Cyloop est une application musicale qui permet aux utilisateurs de créer une puissante expérience multimédia personnalisée avec une des librairies audio et vidéo les plus complètes sur le Web. Chez Cyloop, vous pouvez écouter et choisir des millions de chansons des artistes les plus connus mondialement jusqu’aux groupes indépendants locaux, et suivre les activités de vos artistes préférés d’une façon personnalisée.
%h4 Comment ça fonctionne?
%p
  Une fois inscrit, vous pouvez soit profiter de la musique que la radio Cyloop vous recommande ou vous pouvez immédiatement commencer à choisir de la musique pour construire vos propres listes de lecture. Ces listes, fonctionnent comme n’importe quelle liste de lecture que vous créeriez avec tout autre programme. De plus, vous pouvez suivre vos artistes préférés, lire les dernières nouvelles et les dernières blogues à leur sujet ou même encore leur laisser un message pour leur montrer votre appréciation.
%p
  Les recommandations provenant de Cyloop et du moteur de recherche fonctionnent avec l’aide de The MAP Project, qui est utilisé partout dans le site, de la création de la radio personnalisée jusqu’aux artistes suggérés dans le Tableau de bord de votre profil. The MAP Project s’inspire de la notion suivante : lorsqu’il faut créer une expérience musicale personnalisée, les recommandations ne doivent pas être déterminées que par les similarités entre les artistes. Elles doivent aussi être déterminées par plusieurs critères démographiques, ainsi que par des caractéristiques culturelles, sans oublier la vie sociale de l’utilisateur sur le Web. En d’autres mots, nous croyons qu’où vous vivez, votre langue, votre âge et vos fréquentations seront des caractéristiques déterminantes de vos goûts musicaux.
%p
  Dès que Cyloop connait mieux vos goûts à l’aide de The Map Project, il peut identifier plus facilement des goûts similaires entre les gens et ainsi amener votre expérience musicale personnalisée à un autre niveau plus puissant et plus intéressant pour vous.

%h4 Qu’est-ce qui attend les artistes sur Cyloop?

%p
  Cyloop est un outil pour les artistes et leurs maisons de disque afin qu’ils se mettent en valeur (eux et leur contenu!), touchant ainsi des millions de fans à travers le monde. Si vous êtes un artiste, vous serez heureux d’apprendre que cette communauté est générée par les artistes et non générée par les utilisateurs (UGC). Votre contenu n’est donc pas en compétition avec des vidéos d’artistes amateurs (il y a plusieurs autres sites pour ça !). Sur Cyloop, vous pouvez facilement créer un profil au look cool et partager votre contenu de façon sécuritaire avec vos fans. De plus, nous vous fournirons toutes les statistiques au sujet de vos fans, incluant leur ville, leur âge et quelles chansons et vidéos ils aiment le plus, tout en respectant leur vie privée.

