- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title

%h4 GÉNÉRAL
%strong
  Y a-t-il des frais d’utilisation pour Cyloop?
%p
  Non, Cyloop sera toujours gratuit pour l’ensemble de ses membres. Cependant, dans le futur, il pourrait y avoir certaines fonctions qui auront un coût associé à leur utilisation.



%h4 MON PROFIL
%strong
  Comment puis-je consulter ou modifier mon profil?
%p
  Accédez à votre compte et suivez ces étapes:
%ol
  %li Cliquez sur «Tableau de bord» en haut à droite, «Paramètres» puis «Compte»
  %li Consultez et/ou modifiez l’information si nécessaire
  %li Cliquez sur «Enregistrer» à la fin de chacune des pages

%strong
  Où puis-je changer mon courriel et/ou mon mot de passe?
%p
  Accédez à votre compte et suivez ces étapes
%ol
  %li Cliquez sur «Tableau de bord» en haut à droite, «Paramètres» puis sur «Compte» et/ou «Mot de passe»
  %li Modifiez votre courriel et/ou votre mot de passe
  %li Cliquez sur «Enregistrer» à la fin de chacune des pages
%p
  La prochaine fois que vous accéderez à Cyloop, vous devrez utiliser votre nouveau courriel et/ou mot de passe.

%strong
  Comment puis-je modifier le look de ma page?
%p
  Accédez à votre compte et suivez ces étapes:
%ol
  %li À gauche dans l’entête, au-dessus des différents onglets et sous votre nom, cliquez sur «Personnaliser la page»
  %li Modifiez les options désirées (couleurs, images d’arrière-plan, etc.)
  %li Cliquez sur «Enregistrer» à la fin de chacune des pages.
%p
  Vous verrez ensuite apparaître vos pages personnalisées selon vos paramètres.

%h4 MA MUSIQUE
%strong
  Comment ajouter des chansons à mon profil Cyloop?
%p
  Rendez-vous dans la section Tableau de bord» à gauche et vous pourrez facilement gérer ces chansons tout comme les chansons que vous aurez amassées à l’aide de votre lecteur de musique personnel. Vous pourrez aussi créer votre propre liste d’écoute et ajouter ou enlever des chansons à votre guise.

%strong
  Comment puis-je choisir de la musique sur Cyloop?
%p
  Peu importe la chanson que vous écoutez à n’importe quel endroit sur le site, que ce soit à partir de votre propre profil ou de celui d’un artiste, cliquez sur le bouton [+] pour ajouter cette chanson à votre collection.

%p
  Dans le lecteur radio, vous pouvez glisser la chanson qui joue présentement directement dans le «Mixer» et cliquer sur «Enregistrer»

%strong
  Comment puis-je gérer ma librairie musicale?
%p
  Vous devez accéder à votre compte Cyloop pour gérer votre musique. Une fois connecté, rendez-vous à l’onglet «Listes de lecture» pour organiser toute votre librairie.

%strong
  Puis-je téléverser de la musique ou des photos?
%p
  Cyloop est un site 100% légal. Pour éviter le piratage et respecter les droits d’auteurs, les utilisateurs ne peuvent téléverser de la musique sur Cyloop. Cependant, si vous êtes un artiste, il est possible de téléverser de la musique pour promouvoir votre travail.
%p
  Au sujet des photos, vous pouvez seulement téléverser une photo, que vous utiliserez pour votre profil et qui sera également votre icône. Il est impossible de téléverser toute autre photo. Puisque le principal intérêt de Cyloop est la musique, le téléversement de photos n’est pas notre priorité pour le moment.

%strong
  Pourquoi ne puis je pas choisir la musique qui joue dans une station de radio?
%p
  Le lecteur fonctionne comme n’importe quelle autre station de radio: il est impossible de choisir des pièces ou l’ordre dans lequel elles seront jouées. Une fois que vous avez entré le nom d’un artiste et que la station de radio est créée, vous pourrez écouter les chansons (ou du moins une chanson) de cet artiste ou d’autres artistes au style similaire.
%p
  Ce lecteur ne permet pas non plus d’avancer à la prochaine chanson. Gardez aussi en tête que vous ne pouvez pas rejouer une chanson une fois que vous êtes passé à la suivante. 


%h4 UTILISATEURS ET FANS
%strong
  Que veut dire «Devenir fan» des utilisateurs ou à des artistes?
%p
  À côté de chacun des noms des utilisateurs ou des artistes, vous verrez le bouton «Devenir fan». En cliquant sur ce bouton, vous deviendrez fan de cette personne. Une fois fan, vous recevrez des mises à jour dans votre liste de mises à jour, de même que des mises à jour en temps réel des chansons que cet utilisateur précis vient tout juste d’écouter. Si c’est un artiste duquel vous êtes fan, vous recevrez une mise à jour des chansons qu’il ou elle a téléversées. De cette façon, vous ne manquerez rien de ce que vos amis écoutent et/ou ont découvert comme nouvelle chanson ou nouvel artiste!


%strong
  Comment puis-je bloquer quelqu’un qui est devenu fan de mon profil?
%p
  Si vous désirez qu’un utilisateur précis cesse de voir vos mises à jour, suivez ces étapes. Accédez à votre compte Cyloop, allez à l’onglet «Tableau de bord» à gauche puis cliquez sur l'onglet «Communautés». Une liste de tous les utilisateurs qui sont fans de votre profil apparaîtra, et à la suite de chacun des noms vous verrez le bouton «Bloquer». Cliquez sur ce bouton et cet utilisateur ne pourra plus recevoir vos mises à jour.

%strong
  Je souhaite que personne ne à devenir fan de mon profil, que puis-je faire?
%p
  Une fois connecté à votre compte, cliquez sur «Tableau de bord» en haut à droite «Paramètres» puis «Compte». Choisissez au bas «Garder mon profil privé» puis cliquez sur «Enregistrer». Cette action bloquera tous les utilisateurs et les artistes qui sont fans de vos mises à jour.


%strong
  Un autre membre de Cyloop est dérangeant, que puis-je faire?
%p
  S’il vous plait, contactez-nous en cliquant sur le lien «Commentaires» au bas de votre écran et expliquez-nous quel est le problème.

