- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title

%h4 Les conseils de sécurité de Cyloop
%p
  Cyloop est un site ouvert à tous, où les artistes et les fans peuvent interagir, écouter de la musique, voir des vidéos, converser et partager! Puisque nous sommes un site public et que les membres doivent obligatoirement s’inscrire, nos utilisateurs doivent utiliser leur discernement et leur bon sens. Veuillez faire attention à ce qui suit :

%h4 N’oubliez pas que les profils et les forums sont des espaces publics.
%p
  Ne publiez rien que vous ne voudriez pas que tout le monde sache (par exemple votre nom, votre numéro de téléphone, votre adresse ou la ville où vous demeurez). Évitez de publier tout ce qui pourrait aider un étranger à vous retrouver, tel que les endroits que vous fréquentez.

%h4 Les gens ne sont pas toujours qui ils disent être.
%p
  Soyez très prudents face aux gens que vous pourriez appeler vos «amis». Il est très plaisant d’interagir avec de nouveaux amis Cyloop de partout dans le monde, mais évitez de rencontrer les gens que vous ne connaissez pas parfaitement. Si vous devez rencontrer quelqu’un, faites-le dans un endroit public et soyez accompagné d’un ami ou d’un adulte en qui vous avez confiance.

%h4 Le harcèlement, les propos haineux et le contenu inapproprié doivent être rapportés.
%p
  Si vous croyez que le comportement de quelqu’un est inapproprié, réagissez! Rapportez ces incidents à Cyloop en cliquant sur le lien «Commentaires» au bas de votre écran.

%h4 Ne publiez rien qui pourrait vous gêner plus tard.
%p
  Pensez-y deux fois avant de publier une photo de vous ou une information à votre sujet que vous ne voudriez pas que vos amis, vos parents ou toute autre personne importante - même votre patron, voie! De plus, assurez-vous d’avoir tous les droits avant de publier des photos, des chansons, etc. sur votre profil.

%h4 Ne vous faites pas hameçonner!
%p
  L’hameçonnage est une méthode utilisée par les fraudeurs pour accéder à vos informations personnelles, comme votre nom d’utilisateur et votre mot de passe, en prétendant être un site auquel vous avez confiance.

%h4 Protégez toujours vos mots de passe!
%p
  NE DONNEZ JAMAIS vos mots de passe à des étrangers ou de nouveaux amis. Votre profil, son contenu et les actions faites sous votre nom d’utilisateur sont suivies attentivement et les infractions seront retenues contre vous. De plus, les actes malicieux faits avec votre profil peuvent vous mettre en danger, tant physique que légal.

%h4 Votre profil représente qui vous êtes.
%p
  Si vous publiez des photos, des histoires, des blagues ou tout autre contenu avec des références sexuelles, vous attirerez les gens qui veulent discuter de sexe. Lorsque vous publiez du contenu en ligne, vous établissez qui vous êtes à l’ensemble des gens en ligne. Soignez l’image que vous projetez dans la communauté virtuelle!
%h4 Ne répondez pas à des messages ou des courriels inappropriés.
%p
  Si vous répondez, vous encouragez par la même occasion l’auteur à vous envoyer d’autre contenu inapproprié. Plutôt que de répondre, dénoncez l’auteur à Cyloop en cliquant sur le lien «Commentaires» au bas de votre écran.

%h4 Pour plus d’assistance et des conseils sur un usage sécuritaire du Web, consultez ces autres ressources en anglais :
%p
  =link_to "OnGuard Online: FTC safety tips", "http://onguardonline.gov/socialnetworking_youth.html"
%p
  =link_to "Internet Crime Complaint Center", "http://www.ic3.gov/"
%p
  =link_to "Netsmartz.org","http://www.netsmartz.org/"
%p
  =link_to "BlogSafety.Com", "http://www.blogsafety.com/index.jspa"
%p
  =link_to "National Crime Prevention Council","http://www.ncpc.org/"

