- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title

%p
  The Cyloop websites are provided to you by Cyloop LLC ("Cyloop", "we" or "us") through our websites (collectively, the "Website," or the "Site"). To assist you in using our Website and associated services, and to ensure a clear understanding of the relationship arising from your use of our Site and participation in these services, we have created (i) these Terms and Conditions of Use (the "Terms") and (ii) a Privacy Policy. Our Privacy Policy explains how we treat information you provide to us through the Site, and our Terms govern your use of our Site. Our Terms and Privacy Policy apply to any visitor to the Website (collectively, "you"), including (i) casual visitors to our Site and those who utilize the Services or access Content (as that term is defined below) via other websites or services in ways that we authorize or permit ("Site Visitors"), (ii) musicians, musical groups, visual artists, videographers, video, film, and sound recording mixers and producers, authors, and other participants in the music, film, video, text-based arts, visual arts, and related industries, who visit the Site to promote, introduce, and air their works ("Contributing Artists"); and (iii) users who create profiles, enjoy the music and audio-visual works of our Contributing Artists, and otherwise participate in our Services ("Members").
%br

%p
  PLEASE READ THIS DOCUMENT CAREFULLY BEFORE YOU ACCESS OR USE THE SITE. BY ACCESSING OR USING THE SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS, PLEASE DO NOT ACCESS OUR SITE.

%h3
  1. Your Agreement
%br
%p
  These Terms govern (i) your use of the Website, (ii) your receipt of and participation in Cyloop services offered now and in the future through the Website or technologies that extend those services or the Website's content to other websites, computers or devices (the "Services"), (iii) your provision of music, video, sound, text, graphics, files, information, or other content (the "Content") to others through the Site; and (iv) your use of Content obtained through the Site. Please read these Terms carefully; they impose legal obligations on you and on Cyloop, and establish our legal relationship. By using the Services or accessing our Website, you are acknowledging that you have read and understood these Terms and agree to be legally bound by them.

%p
  In addition, if you become a Member or a Contributing Artist, during the registration process for your password (and from time to time as we may require) you will be prompted to click an "I Accept" button, which further confirms your agreement to be legally bound by these Terms.
%br
%br
%h3
  2. Our Services: Overview
%br
%p
  We provide a range of Services for our Members, and Contributing Artists, as follows:
%br
%br
.section
  %h4
    2.1 Services for Our Members
  %span
    In addition to all of the Services we provide to our Members, we provide to our Contributing Artists certain "feedback" services and promotional opportunities. Similar to a regular Member, a Contributing Artist creates a profile. The Artist then makes his or her Content available to Members, via the Website. The Site provides a Contributing Artist with a range of opportunities to promote his or her Content through various "links" on our Site, and to charge for downloads of copies of Content through our Site. Although Artists may charge for downloads of their Content from the Site, an Artist must make promotional Content links available to Members at no charge,. Contributing Artists may receive feedback and comments directly from Members who choose to provide this type of feedback and through feedback mechanisms such as Artist Reports that we periodically compile (using non-personal, aggregate information), and that provide "demographic" type information as to Members' reactions to the Contributing Artist's work.

    We provide our Members with online social networking services, designed to allow them to find and communicate with old and new friends, based on shared interests. Members use our Site primarily via Member "profiles," which are personal web pages. As a Member, you can create a profile and, subject to certain content-related, bandwidth, and file-size restrictions, you can include in your profile a range of multimedia Content, describing your interests and commenting on the topics about which you are passionate. Your friends then use your profile to leave you messages (incorporating multimedia Content, if they wish), and to create links to their own profiles. Depending on the privacy controls you have set for your profile, you have the ability to "open" your profile not just to close friends, but to others, including all other Members. Our Members' exchanges via their profiles are supplemented by additional features of our Site, that allow Members (generally without charge): (i) to enjoy the music, video, and other offerings of our Contributing Artists; (ii) to engage in online classified advertising; (iii) to contribute to online journals, blogs, and message boards; and (iv) to enjoy the other Services we offer.
  %br
  %br
  %h4
    2.2 Services for Contributing Artists
  %span
    In addition to all of the Services we provide to our Members, we provide to our Contributing Artists certain "feedback" services and promotional opportunities. Similar to a regular Member, a Contributing Artist creates a profile. The Artist then makes his or her Content available to Members, via the Website. The Site provides a Contributing Artist with a range of opportunities to promote his or her Content through various "links" on our Site, and to charge for downloads of copies of Content through our Site. Although Artists may charge for downloads of their Content from the Site, an Artist must make promotional Content links available to Members at no charge,. Contributing Artists may receive feedback and comments directly from Members who choose to provide this type of feedback and through feedback mechanisms such as Artist Reports that we periodically compile (using non-personal, aggregate information), and that provide "demographic" type information as to Members' reactions to the Contributing Artist's work.
  %br
  %br
  %h4
    2.3 Summary of Services
  %span
    The above generally describes our Services. Please read on for the specific terms and conditions under which we provide these Services. For example, for further information and terms concerning profiles, Members' privacy controls, and Artists Reports, please review Section 5.1 (Privacy, Your Profile, and Privacy Controls), Section 11 (Technical Restrictions; Remedies), and Section 4.6 (Artist Reports). And please review our Privacy Policy for details concerning our uses of aggregate information, and other important information concerning our privacy and other data protection practices.
%br
%h3
  3. Obtaining a Password; Use of Your Password
%br
.section
  %h4
    3.1 Eligibility
  %span
    You are eligible to register as a Member at our Site if (i) you are 13 years old or older, (ii) you have requisite permissions to submit the Content you wish to submit to the Site, as provided in Section 5.4 (Rights You Must Have in Content); and (iii) you agree to abide by our Terms and Privacy Policy. You are eligible to register as a Contributing Artist to our Site. if (i) you are at least 18 years old, (ii) you hold requisite legal rights in the Content that you make available over the Website, as provided in Section 4.7 ( Clearance; License Fees and Professional Content), (iii) you present artistic proficiency and skills that are sufficient, in our sole judgment, to warrant according to you the enhanced Services provided to Contributing Artists; and (iv) you agree to abide by our Terms and Privacy Policy. Each Member and Contributing Artist may only have one account with us. If you believe you should be entitled to a exception to this policy, please contact us at the address provided in Section 25 (Contact Us).
  %br
  %br
  %h4
    3.2 Registering on behalf of a Musical Group or Other "Group"
  %span
    Because our Site is designed for social networking, and the dissemination and enjoyment of the work of our Contributing Artists, we do not allow our Members to engage in commercial use of our Site. Therefore, we expect that all of our Members will be individuals, and will be acting each on his or her own behalf. In contrast, a Contributing Artist may well be part of a musical group and acting on their behalf, or part of some other organization. If you are agreeing to these Terms and our Privacy Policy on behalf of a musical group, your employer, or other organization, then (i) you represent and warrant that you have authority to act on behalf of, and to bind this musical group, employer, or other entity, and (ii) for all purposes in these Terms and the Privacy Policy, the term "you" means your musical group, employer, or other entity on whose behalf you are acting.
  %br
  %br
  %h4
    3.3 Protecting Your Password
  %span
    Please keep in mind that we will treat anyone who uses your password as "you." We will provide this user with all of the rights and privileges that we provide to you, and we will hold you responsible for the activities of a person using your password. Therefore, we recommend that you maintain your user id and password in confidence, and that you refrain from disclosing this information to anyone who might "pretend" to be you with respect to the Services and your participation on our Website. We also ask that you notify us immediately if you suspect that someone is using your password in this manner.

%br
%h3
  4. Contributing Artists
%br
.section
  %h4
    4.1 Designating Professional Content
  %span
    As a Contributing Artist, you may designate specific Content, such as songs or videos that you have created and that you wish Site Visitors and Members to be able to listen to or view, for hosting and access via our Site and Services by uploading such Content to your profile. This type of Content is referred to in these Terms as "Professional Content." In addition, to facilitate Members and Site Visitors locating your Content, you should complete our online registration form for Contributing Artists, and include the requested information, which is designed to focus search queries conducted over our Site. Please retain copies of your Content, as we will not necessarily preserve or return materials uploaded to our Site. We reserve the right to determine which Content qualifies as Professional Content.
  %br
  %br
  %h4
    4.2 Your Grant of Rights to Members and Site Visitors with respect to Professional Content
  %span
    You acknowledge that, with respect to Professional Content that is provided to Members and Site Visitors without charge, the Professional Content will be made available generally as follows: (i) a file containing the Professional Content will be stored in a database we maintain (the "Content File"); (ii) you will create a link to the Content File from your profile, or from other Site locations as permitted under these Terms (a "Content Link"); (iii) a Member or Site Visitor who clicks on a Content Link or accesses Content via other websites or services in ways that we authorize or permit will be able to experience or "enjoy a performance of" the Professional Content; (iv) a Member will be able to create a similar Content Link on his or her profile, and to share with and copy this Content Link for other Members and Site Visitors. We take reasonable steps to secure and safeguard Content Files you provide to us, in order to protect them from unauthorized downloading or use. Toward this end, we apply security features similar to those that protect personally identifiable information, as described in Section 11 (Security) of our Privacy Policy. As described below in Section 4.3, we may occasionally make derivative works or compilations of Professional Content for purposes of promoting the Site and/or one or more Contributing Artists (a "Derivative Work") and distribute those Derivative Works to Members and Site Visitors via the Site and its Services. One example of the type of Derivative Work we might create is a weekly streaming audio program or downloadable Podcast recapping the week's activity in the Site's "Battle Zone" and containing all or a portion of songs that were popular that week. In light of the above, with respect to all Professional Content you post at or distribute through our Site at no charge, you grant to our Members and Site Visitors a royalty-free, sublicenseable, non-exclusive, worldwide license, under your intellectual property rights, (i) to access, use, communicate to the public, perform, and enjoy your designated Professional Content and Derivative Works containing it via the Site and its Services and to reproduce such Professional Content and Derivative Works to the extent necessary to exercise such license, and (ii) to copy, reproduce and share Content Links with other Members and Site Visitors; provided, however, that such uses shall be strictly for purposes of participating in the Services and engaging in non-commercial social networking activities consistent with our Code of Conduct over our Site. Under this license, for example, one of our Members would be permitted to copy and forward to a Member friend a Content Link to your "song X"; the Member would not, however, be authorized (a) to sell copies of the Content Link to "song X" or a Derivative Work containing "song X" to his or her friends, (b) to obtain copies of the Content File itself, or (c) to engage in any commercial activities with respect to "song X." No compensation will be paid with respect to Members' or Site Visitors' use of your Professional Content under this grant. Please refer to Section 4.5 (Distributing Professional Content for a Fee) if you wish to distribute Professional Content via our Site for a fee.
  %br
  %br
  %h4
    4.3 Your Grant of Rights to cyloop
  %span
    As a Contributing Artist, with respect to all Professional Content you post at or distribute through our Site, you grant us only those rights in your Professional Content that are necessary for us to process and implement your desired transactions and to promote your Professional Content to the extent we choose to do so. Specifically, you grant to us a royalty-free, sublicenseable, non-exclusive, worldwide license, under your intellectual property rights, to use, copy and reproduce (for purposes of storage, back-up, and conversion to other file formats), index, communicate to the public, display, and distribute your Professional Content via the Site and the Services, and to create Derivative Works and to distribute them via the Site and the Services, strictly and solely for purposes of providing the Site and Services in ways that are consistent with the terms of Section 4.2 (Your Grant of Rights to Members with respect to Performances) and Section 4.5 (Distributing Professional Content for a Fee) and the promotion of your Professional Content to the extent we choose to promote it. Subject to Cyloop's obligation to maintain the quality of the Site at a level which is at least as good as its quality when you first contributed Professional Content to the Site, you also hereby grant Cyloop a non-exclusive, worldwide, royalty-free license to use your name and logo ("Brand Features"), in connection with (i) advertising and promoting your Professional Content, and your artistic work generally via the Site, and (ii) advertising and promoting our Website and Services. No compensation will be paid by Cyloop with respect to our use of your Professional Content or Brand Features under this grant. If you wish to charge our Members or Site Visitors for Professional Content distributed over our Site, please proceed as set out in Section 4.5 (Distributing Professional Content for a Fee).
  %br
  %br
  %h4
    4.4 Your Grant of Rights to Members with respect to Downloads
  %span
    Our Site is designed to attempt to prevent a Member or Site Visitor from downloading or otherwise copying a Content File without the Contributing Artist's permission (such as, for example, in connection with a paid-for transaction arranged by the Artist with us under Section 4.5 (Distributing Professional Content for a Fee)). Members' and Site Visitors' rights with respect to downloading or otherwise obtaining a copy of a Content File, and any related payment obligations, will be governed by the license or other contractual arrangement the Contributing Artist at issue chooses to structure (a "Contributing Artist License"). We are not responsible for the terms, enforcement, or other aspects of these Contributing Artist Licenses, which are between the Artist and a Member or Site Visitor. We ask Members and Site Visitors to review applicable Contributing Artist Licenses, to ensure they are comfortable with their terms, before entering into any associated transactions.
  %br
  %br
  %h4
    4.5 Distributing Professional Content for a Fee
  %span
    If you, as a Contributing Artist, wish to distribute Content Files containing your work over our Site and to charge for these Files, please contact us in accordance with Section 25 (Contact Us) to discuss a suitable arrangement.
  %br
  %br
  %h4
    4.6 Artist Reports and Other Member Feeback
  %span
    As a Service to our Contributing Artists, we may periodically compile reports, known as "Artist Reports," and provide these Reports to some or all of our Contributing Artists. We reserve the right to determine which of our Contributing Artists will receive Artist Reports. To create an Artist Report for a particular Contributing Artist, we will compile, from log files and other sources, an anonymous list of Members who have accessed the Artist's song, video, or other Content. Along with this information, we may include non-personal, aggregate information, including "demographic" type information, that further shows, in an anonymous way, our Members' reactions to the Contributing Artist's work. An Artist Report, for example, might state that "10% of all Members residing in Miami listened to your "song X" during the week beginning February 1." Members and Site Visitors also may express their preferences and opinions regarding Contributing Artists and their Content and Professional Content by posting Content of their own, using polling or voting features on the Site, and through other means. We make no representations or warranties to you regarding the quality, completeness or other characteristics of information contained in Artist Reports or the integrity of the means by which information in Artist Reports or information compiled through polls, voting or other methods was obtained. We are not responsible for any opinions expressed or statements made by Members or others regarding Contributing Artists or their Content and Professional Content. Except as may be required by law, we have no obligation to monitor Members' Content to remove or retain Content, although we reserve the right to do so, as indicated in Section 8.
  %br
  %br
  %h4
    4.7 Clearance; License Fees and Professional Content
  %span
    When you make Professional Content available over our Site, you represent and warrant (i) that you hold all rights needed to grant requisite rights under Section 4.2 You Grant of Rights to Members) and Section 4.3 (Your Grant of Rights to Cyloop) (; (ii) that you own the copyright in all Content subject to copyright protection (or have been given needed permissions by the copyright owner); and (iii) that each person depicted in images or identified in text in your Content (if any), has provided you with consent to use the Content as set forth in these Terms. Please also understand that your use of our Services to promote your Professional Content may give rise to obligations to pay license fees (i) for performance rights, to organizations such as the Society of Composers, Authors and Music Publishers of Canada (SOCAN) and The Neighbouring Rights Collective of Canada (NRCC), (ii) for mechanical rights to distribute recordings, to organizations such as the Canadian Musical Reproduction Rights Agency Ltd. (CMRRA) or the Society for Reproduction Rights of Authors Composers and Publishers in Canada (SODRAC), and (iii) for other rights (collectively, "Licensing Fees"). You are responsible for the identification and payment of all Licensing Fees. Additional information concerning potential Licensing Fees can be found at:
  %br
  %br
  %a{ :href => "http://www.socan.ca/", :target => '_blank' }
    http://www.socan.ca
  %br
  %a{ :href => "http://www.nrcc.ca/", :target => '_blank' }
    http://www.nrcc.ca
  %br
  %a{ :href => "http://www.cmrra.ca/", :target => '_blank' }
    http://www.sesac.com/
  %br
  %a{ :href => "http://www.sodrac.com/", :target => '_blank' }
    http://www.sodrac.com
  %br
  %br
  %h4
    4.8 Advertisements and Professional Content
  %span
    We retain the right to display advertisements in connection with displays, performances, or distributions of your Content, including your Professional Content.
  %br
  %br
  %h4
    4.9 Contributing Artists' Participation as Members
  %span
    We recognize that a Contributing Artist may wish to participate in our Services as a Member. Your registration as a Contributing Artist allows you to enjoy most of the features of our Site that Members enjoy, and we encourage you to participate in the Services, like one of our Members; please remember, though, that your conduct as a Member remains subject to all provisions in these Terms (and in the Privacy Policy) that are applicable to Members.
  %br
  %br
  %h4
    4.10 No Other Promotional Obligations
  %span
    Apart from allowing you to post your Professional Content via the Site, and to distribute and promote this Content via the then-available functionality of our Services, we have no role or obligation in the marketing or promotion of a Contributing Artist or his or her Professional Content.
  %br
  %br
  %h4
    4.11 Termination of Rights; Survival
  %span
    If our relationship is terminated, for whatever reason, upon request Cyloop will cease use of your Professional Content, and the grants set out in Section 4.3 (Your Grant of Rights to Cyloop) will end. Cyloop shall have a reasonable period of time to cease such use. Members' and Site Visitors' rights under Section 4.2 (Your Grant of Rights to Members and Site Visitors) will survive and continue, provided the Members and Site Visitors comply with applicable restrictions on these rights.
%br
%br
%h3
  5. Members; Profiles
.section
  %h4
    5.1 Privacy, Your Profile, and Privacy Controls.
  %span
    To allow you greater flexibility in the information you include in your profile, we provide you with privacy controls that allow you to designate your complete profile, or portions of your profile, as "closed" to all but certain specified Members and Contributing Artists (our "Privacy Controls"). Please choose carefully the information you post on your profile, and that you provide to other Members.
  %br
  %br
  %h4
    5.2 Your Grant of Rights to cyloop
  %span
    For Content that you include in your profile (or submit to other areas of our Site) and that is not Professional Content, you grant us a royalty-free, sublicenseable, non-exclusive, worldwide license, under your intellectual property rights, to use, copy, reproduce, reformat, index, modify, translate, communicate to the public, display, and distribute your Content for purposes of providing our Services (as such services may change over time) and promoting our Website. No compensation will be paid with respect to our use of your Content under this grant. Rights and obligations with respect to Professional Content, such as musical works and audiovisual works, are addressed in Section 4.
  %br
  %br
  %h4
    5.3 Your Grant of Rights to Other Members
  %span
    By posting Content other than Professional Content (which is governed by Section 4), you are also granting to all Members who properly access that Content in accordance with these Terms and with your Privacy Controls, a royalty-free, sublicenseable, non-exclusive, worldwide license, under your intellectual property rights, to use, copy, reproduce, reformat, index, modify, translate, communicate to the public, display, and distribute your Content for purposes of participating in the Services and engaging in other non-commercial social networking activities consistent with our Code of Conduct. No compensation will be paid with respect to Members' use of your Content under this grant.
  %br
  %br
  %h4
    5.4 Rights You Must Have in Your Content
  %span
    When you post Content to our Site, either in your profile or through other Services, you represent and warrant (i) that you hold all rights needed to grant requisite rights under Section 5.2 (Your Grant of Rights to Cyloop) and Section 5.3 (You Grant of Rights to Members); (ii) that you own the copyright in all Content subject to copyright protection (or have been given needed permissions by the copyright owner); and (iii) that each person depicted in images or identified in text in your Content (if any), has provided you with consent to use the Content as set forth in these Terms.
  %br
  %br
  %h4
    5.5 Advertisements and Profiles
  %span
    We offer our Services to Members without charge, and intend to rely, in part, on advertising revenue to fund our Site. You acknowledge that we will be entitled to post advertisements on some or all of our Members' profile pages, as well as other areas of the Site. You also agree that we will be free to display advertising on your profile pages, and that you will not seek to cover or obscure advertisements on our Site via HTML/CSS or other means.
  %br
  %br
  %h4
    5.6 Use of Profiles in Promotions
  %span
    We believe that our Members' own experiences on the Site can often act as the strongest promotion for the Site and our Services. To promote and illustrate our Services and the Site, therefore, we may wish to post on our Home Page, and in other areas of the Site, profiles and other Content of our Members. We assume that Members who choose not to employ our Privacy Controls are interested in (or do not object to) publicizing their profiles and related Content, and you acknowledge that we will be entitled to use these Members' profiles and Content in connection with our advertisements and promotions for the Site.
  %br
  %br
  %h4
    5.7 Termination of Rights; Survival
  %span
    Cyloop does not claim ownership of the Content you post in your profile or otherwise provide through the Service. The licenses granted to us and to our Members in this Section will terminate prospectively at the time you completely remove the Content at issue from our Site. This termination will not affect licenses to the Content granted to before the time you completely remove the Content, and our Members (as well as Cyloop) will continue to enjoy their rights under Section 5.2 (Your Grant of Rights to Cyloop) and Section 5.3 (Your Grant of Rights to Members).
%br
%br
%h3
  6. Cyloop's Grant of Rights to You
%br
%p
  In this Section, Cyloop gives to Members and Contributing Artists the rights and privileges they will need to participate fully in the social networking, artistic, and communications goals of our Services.
%br
.section
  %h4
    6.1 Rights to Access and Participate in Services
  %span
    Subject to your compliance with these Terms, Cyloop hereby grants Members and Contributing Artists the right to access and use the Website, and to participate in the Services. The Services and Website are for the personal use of individual Members and for the promotional and other use of Contributing Artists, and may not be used in connection with any commercial endeavor, except (i) those commercial endeavors of our Contributing Artists, as set out in these Terms, (ii) those commercial endeavors of the Advertisers we have allowed to advertise though our Site, and (iii) other commercial endeavors that we specifically consent to in writing.
  %br
  %br
  %h4
    6.2 Rights to Artist Reports
  %span
    Cyloop grants to Contributing Artists, under Cyloop's intellectual property rights, a perpetual, non-exclusive, worldwide, royalty-free, non-transferable license to use, copy, reproduce, and modify the Artist Reports that Cyloop provides, for internal use only. Without Cyloop's written permission (which Cyloop may withhold in its discretion), a Contributing Artist shall not, for example, publicly disclose an Artist Report or information derived therefrom for any purpose, and shall not use an Artist Report (or information derived therefrom) to promote, publicize, or otherwise call attention to the Artist or his or her work.

  %br
  %br
  %h4
    6.3  Available Software
  %span
    Any software that is made available to download from the Services ("Software") is the copyrighted work of Cyloop and/or our suppliers. Use of the Software is governed by the terms of the end user license agreement, if any, which accompanies the Software ("License Agreement"). An end user will be unable to install any Software that is accompanied by or includes a License Agreement, unless he or she first agrees to the License Agreement terms. The Software is made available for download solely for use by end users according to the License Agreement. Any reproduction, communication to the public or redistribution of the Software not in accordance with the License Agreement is expressly prohibited.
  %br
  %br
  %h4
    6.4 cyloop Ownership; Reservation of Rights
  %span
    All content available on or through the Website -- other than Member-provided Content, Professional Content, or Advertiser Content -- including all information, software, artwork, text, video, audio, pictures, trade-marks, trade dress, and other intellectual property found on the Website, or embodied in the Services or the Content, is the proprietary property of Cyloop and its licensors ("Cyloop Content"). The Cyloop Content is protected by Canadian and international copyright and other intellectual property laws, and Cyloop retains all rights with respect to the Cyloop Content, the Website, and the Services, except those expressly granted to you in these Terms. You agree not to duplicate, communicate to the public, publish, display, distribute, modify, translate, or create derivative works from the material on the Website except as expressly allowed in Section 6.1 (Rights to Access and Participate in Services) and Section 6.2 (Rights to Artist Reports), unless specifically authorized in writing by Cyloop.
%br
%h3
  7. Code of Conduct
%br
%p
  Our Site may provide profiles, blogs, chat rooms, bulletin boards, email services, and other services that allow you to interact with other Members and Contributing Artists ("Interactive Services"). As a condition to your use of the Website, the Services, and the Content, including the Interactive Services, you agree to follow our Code of Conduct, set out below. Under this Code, you will not:
%br
%ul
  %li
    Upload, email or otherwise transmit any images or other Content that are unlawful, obscene, harmful, hateful, invade the privacy of any third party, contain nudity or pornography, or are otherwise objectionable.
%ul
  %li
    Disseminate materials that impact or invade the privacy of others, such as photographs, video clips, sound recordings, personally identifiable information, or other materials that reveal personal, private or sensitive information about another person, without that person’s consent.
%ul
  %li
    Submit material that is intentionally false, defamatory, unlawfully threatening, or unlawfully harassing.
%ul
  %li
    Infringe any third party's copyright, patent, trade-mark, trade secret, or other proprietary rights or rights of publicity or privacy. Electronic materials – such as music, videos, games, images, and text in electronic form -- can easily be copied, modified and sent over networks (such as the Internet). These electronic materials are thus extremely vulnerable to unauthorized distribution and copyright infringement. These materials may not be transmitted over the Website without the copyright owner's permission, unless the use is for legitimate "fair dealing."
%ul
  %li
    Transmit materials that contain any viruses, Trojan horses, worms, time bombs, cancelbots, or other computer-programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept, or expropriate any system, data, or personal information.
  %li
    Seek to use for financial gain the Website, related computer facilities, or information available on the Website (except in the case of our Commercial Artists and Advertisers, who may seek to financially gain from the Website).
  %li
    Use the Service to artificially generate traffic or page links to a Web site or for any other purpose not expressly allowed under these Terms.
  %li
    Use the Website in a manner that could disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site, such as through sending "spam" email.
  %li
    Seek to obtain access to any materials or information through "hacking," "data harvesting," or through other means we have not intentionally made available to you through the Website.
  %li
    Use the Website for any purpose that is unlawful or prohibited by these Terms. For example, you will not use the Website, Services, or Content to violate any law, statute, or regulation (including, without limitation, those governing export control, consumer protection, unfair competition, anti-discrimination, or false advertising).
%p
  We will enforce the above Code of Conduct wherever we deem necessary. Please understand, however, that Cyloop does not control – and does not necessarily endorse -- the Content found in any Interactive Service. When you participate in the Interactive Services, you do so at your own risk, and we expressly disclaim responsibility for the Content found in these Services.

%br
%br
%h3
  8. Monitoring of Interactive Services; Removing Postings
%br
%p
  We expect each user of our Website to act responsibly, and to respect the rights of others. We seek to protect the integrity and security of our computing systems, and the right to protect our community of Members from claims of intellectual property infringement and other claims or threats, such as those detailed in our Code of Conduct. Toward these ends, we reserve the right in our discretion (i) to monitor your use of the Website, your profile, and email and other Content transmitted through the Site, (ii) to restrict or foreclose access to certain Internet sites or other resources, and (iii) to take other actions we deem necessary to protect our community of users and our resources. Due to this monitoring, you cannot expect that communications through our Website will remain "private" or otherwise free of our review. Please refer to our Privacy Policy for a precise statement concerning your expectations of privacy.
%br
.section
  %h4
    8.1  Filters; Blocking and Removal of Content
  %span
    Although we have no – and assume no -- obligation to monitor activities on our Website, please understand that we may employ filters designed to detect and block the transmission of messages that contain sexually explicit or otherwise inappropriate language. We reserve the right to edit, to refuse to post, or to remove any information or materials, in whole or in part, that we believe, in our sole discretion, are incompatible with our Code of Conduct.
  %br
  %br
  %h4
    8.2 Reports and Complaints
  %span
    If you believe that a Member, Contributing Artist, or other user has acted inappropriately, such as by violating our Code of Conduct, you may report your concerns either via the links we have included on the Site, or by contacting us in accordance with Section 25 (Contact Us). If we are notified by a Member, Contributing Artist, or Site Visitor that he or she believes Content at the Site does not comply with our Code of Conduct, we may investigate the allegation and determine in good faith, in our sole discretion, whether to remove or block access to such Content, or to take action with respect to person or persons responsible for posting the Content. We have the right (but not the obligation), in our sole discretion, to remove, relocate, change from public to private, or otherwise block or restrict any Content at any time, with or without notice, and without liability.
  %br
  %br
  %h4
    8.3 Revocation or Suspension of Use Privileges
  %span
    We reserve the right at any time to terminate or suspend your access to some or all of the Interactive Services or the Website if you engage in activities that we conclude, in our discretion, breach our Code of Conduct. Users should also understand that our Code of Conduct is based in many instances on principles of Canadian and foreign law. Users who violate our Code of Conduct accordingly may be exposed under these laws to criminal charges, and civil liability to harmed parties for compensatory damages and attorney's fees. Cyloop reserves the right at all times to disclose information it deems necessary to satisfy any applicable law, regulation, legal process, or governmental request, consistent with its Privacy Policy.
  %br
  %br
  %h4
    8.4 Member disputes
  %span
    You are solely responsible for your interaction with other Cyloop.com Members and Contributing Artists, both online or offline. We may monitor disputes between you and other Members, but we have no obligation to become involved. If you have a dispute with one or more Members or Contributing Artists, you release Cyloop (and our officers, directors, agents, employees, subsidiaries, and affiliates) from claims, demands, and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such dispute.
%br
%br
%h3
  9. Privacy and Your Disclosure of Information in Interactive Areas
%br
%p
  We value your privacy and the privacy of all our users. Please review our Privacy Policy for information on how we collect, use, and protect your personally identifiable information. These protections, however, do not apply to information you choose to disclose to other Members in our Interactive Areas. Although Members are bound, under our Code of Conduct, to refrain from disseminating information from our Website and its Interactive Areas without permission, we cannot assure you that this will be the case. Therefore, you should disclose personally identifiable information advisedly. Please review our Privacy Policy for more information.
%br
%br
%h3
  10. Advertisers; Links
%br
%p
  We allowed certain companies and advertisers to place ads and information on our Site, and to maintain profiles on our Site ("Advertisers"). These ads, and the presence of the Advertisers, allow us in large part to provide our Member Services without charge. Although we have selected the Advertisers, we are not responsible for your choice to contact or do business with them. Your correspondence and dealings with Advertisers, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and the Advertiser, and you agree that Cyloop shall not be responsible or liable for any loss or damage incurred as the result of your dealings with Advertisers or as the result of the presence of such Advertisers on the Site.


%p
  The Website may also contain links or produce search results that reference links to third party Websites (collectively "Linked Sites"). Cyloop has no control over these Linked Sites or their content and does not assume responsibility or liability for any content, opinions, or materials available on Linked Sites. Cyloop does not endorse the content of any Linked Site, nor does Cyloop warrant that a Linked Site will be free of computer viruses or other harmful code that can impact your computer or other Web-access device. By using the Website to search for or link to another site, you agree and understand that such use is at your own risk.
%br
%h3
  11. Technical Restrictions; Remedies
%br
%p
  Please keep in mind that, in part because our Services are free to Members, you are limited to one Cyloop account. In addition, you must respect and comply with our specified file size, bandwidth and storage limitations for Content you submit and the profile you create. If we determine, in our discretion, that it is necessary, we will disable or take other related action concerning accounts that in our view are using excessive bandwidth or other system resources. In addition, we reserve the right, if we find it necessary (in our discretion), to delete or change a Member's username and URL address, and reserve the right to restrict the number of emails which a Member sends to other Members in any 24-hour period, if we believe, in our discretion, that the volume of email is too large.
%br
%br
%h3
  12. Warranty Disclaimer
%br
%p
  Cyloop does not promise that the Website will be error-free or uninterrupted, or that the Site will provide specific results from your use of any content, search, or link on it. The Site, and all Services and Content within them are delivered on an "AS IS" and "AS AVAILABLE" basis. Cyloop does not warrant or represent that materials you download from the Cyloop sites will be free of viruses or other harmful features.
%p
  CYLOOP DISCLAIMS (i) ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE; (ii) ANY RESPONSIBILITY OR LIABILITY FOR THE ACCURACY, CONTENT, COMPLETENESS, OR LEGALITY OF INFORMATION AVAILABLE ON THE WEBSITE OR IN ARTISTS REPORTS; AND (iii) ANY RESPONSIBILITY OR LIABILITY FOR HARM RESULTING FROM DOWNLOADING OR ACCESSING INFORMATION ON THE SITE, INCLUDING HARM CAUSED BY VIRUSES OR SIMILAR DESTRUCTIVE FEATURES. YOU EXPRESSLY AGREE THAT USE OF THE CYLOOP SITE AND RELATED SERVICES IS AT YOUR SOLE RISK.

%p
  Please consider maintaining back-up copies of the Content or Professional Content you post on your profile.
%br
%h3
  13. Limitation of Liability
%br
%p
  UNDER NO CIRCUMSTANCES, INCLUDING BUT NOT LIMITED TO BREACH OF CONTRACT, TORT, OR NEGLIGENCE, WILL CYLOOP BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING LOST PROFITS) THAT ARISE OUT OF OR ARE RELATED TO YOUR USE OF THE CYLOOP SITE, THE SERVICES, OR THE CONTENT.
%br
%p
  You agree that injunctive relief shall provide you with a good and sufficient remedy for any complaints against Cyloop arising out of its Services, and agree that you will not subsequently claim that such remedy or the remedy and damages limitations provisions of these Terms have "failed of their essential purpose."


%p
  Our Members may decide to engage in offline activities together, perhaps due to the relationships they have developed online. You agree to release and hold Cyloop harmless from any and all losses, damages, rights, claims, and actions of any kind including, without limitation, personal injuries, death, or property damage, either directly or indirectly related to or arising from your participation in any such offline activities.
%br
%h3
  14. Indemnity
%br
%p
  You agree to defend, indemnify, and hold Cyloop and its subsidiaries, affiliates, officers, directors, agents, and employees harmless from any liability to third parties, including reasonable legal fees and costs, arising from or related to your breach of these Terms.
%br
%h3
  15. Contact for Alleged Copyright Infringement
%br
%p
  Cyloop respects the intellectual property rights of others and requires that its users do the same. If you believe that Content on the Cyloop Site or other activity taking place on the Site constitutes infringement of a work protected by copyright (a "Work"), please notify our agent, designated under the Digital Millennium Copyright Act (17 U.S.C. §512) (the "DMCA") to respond to such concerns, as follows:
%br
%p
  President
  Cyloop, LLC
  555 Washington Ave, Suite 340
  Miami, FL 33067
%p
  Your notice must comply with the DMCA. Upon receipt of a compliant notice, we will respond and proceed in accordance with the DMCA.
%br
%h3
  16. Additional Terms for Certain Services or Sites
%br
%p
  We may offer certain Cyloop websites or services that are subject to additional or different terms and conditions. We will notify you if the site or service you are accessing is subject to terms and conditions that differ from these Terms, and you will have the opportunity to decline to participate in such sites or services, if you do not agree with the differing terms and conditions.
%br
%h3
  17. Modifications to these Terms
%br
%p
  We may modify and change these Terms over time. We will not "retroactively" change these Terms, and any modifications we make shall take effect proactively, once you next access the Website. Please feel free to print out a copy of these Terms for your records.
%br
%br
%h3
  18. Assignment
%br
%p
  These Terms of Service shall not be assignable by you, either in whole or in part. Cyloop reserves the right to assign its rights and obligations under these Terms.
%br
%br
%h3
  19. Our Affiliates
%br
%p
  We may choose to rely on and share information with companies closely related to us – our "Affiliates" -- for certain purposes under these Terms. By "Affiliate," we mean an entity that controls, is controlled by, or is under common control with Cyloop, whether the control results from equity ownership, contract, overlapping management or otherwise. In this context, "control" means the ability to replace the officers or directors or otherwise materially influence or control management decisions. You agree that Cyloop Affiliates will be entitled to enjoy our rights under these Terms and, in exchange, we agree that we will be responsible for our Affiliate's conduct under these Terms, if our Affiliate fails to comply with any resulting obligations.
%br
%h3
  20. General
%br
%p
  These Terms shall be governed in all respects by the laws of the State of Florida without giving effect to its conflicts of law provisions. Both parties submit to the personal jurisdiction of and venue in the state and federal courts in the State of Florida, in the judicial district that includes Miami, Florida. The parties further agree that any cause of action arising under these Terms or our Privacy Policy shall exclusively be brought in such courts. If any provision of these Terms is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. Headings are for reference purposes only and in no way define, limit, construe, or describe the scope or extent of such section. Cyloop's failure to act with respect to a breach by you or others does not waive its right to act with respect to subsequent or similar breaches. This agreement and the terms and conditions contained herein set forth the entire understanding and agreement between Cyloop and you with respect to the subject matter hereof and supersede any prior or contemporaneous understanding, whether written or oral.
%br
%h3
  21. Duration of Rights
%br
%p
  You will continue to enjoy your rights and to owe obligations under these Terms until (i) you cease your use of the Services, or (ii) your password is revoked or suspended for misconduct, as set out in Section 8.3 (Revocation or Suspension of Use Privileges).
%br
%h3
  22. Duration of Terms; Survival
%br
%p
  The following provisions shall survive the termination of these Terms and shall apply indefinitely:
%p
  Section 4.11 (Termination of Rights, Survival)
%p
  Section 5.7 (Termination of Rights; Survival)
%p
  Section 6.4 (Cyloop Ownership; Reservation of Rights)
%p
  Section 12 (Warranty Disclaimer)
%p
  Section 13 (Limitation of Liability)
%p
  Section 14 (Indemnity)
%p
  Section 18 (Assignment)
%p
  Section 20 (General)
%p
  Section 22 (Survival)
%br
%h3
  23. Relationship to Privacy Policy and Other Contracts
%br
%p
  These Terms must be read in conjunction (i) with other agreements into which you may enter concerning our Site, and (ii) with our Privacy Policy. The provisions of our Privacy Policy are incorporated herein. To the extent these Terms conflict with the terms of our Privacy Policy, the terms of our Privacy Policy will control. Similarly to the extent these Terms conflict with the terms and conditions of any specific agreement you enter with us, the terms and conditions of such specific agreement will control.

%br
%h3
  24. Language
%br
%p
  As a courtesy, we have made versions of these Terms available to you in languages other than English (“Translations”).  We provide the Translations to confirm your understanding of the terms, conditions and agreements set out in these Terms and their effect upon you. You agree that you have had ample opportunity to study the Translation to make sure that the translation is true, correct and accurate and that you have been afforded the opportunity to independently translate these Terms. If there are any discrepancies or inconsistencies between the English language version and the Translations of these Terms, you agree that this English version will control. Moreover, in the event of a dispute, you agree that only the English language document shall be submitted to the court for interpretation of the parties' rights and obligations.
%br
%h3
  25. Contact Us
%br
%p
  You may contact us for any reason at the following addresses:
%p
  Cyloop, LLC
  555 Washington Ave, Suite 340
  Miami, FL 33067
  Attention:President
%p
  e-mail:
  = mail_to "#{request.host}@hoodiny.com?subject=terms_and_conditions", "info@hoodiny.com"
%br
%h3
  26. Effective Date
%p
  The effective date of these Terms is September 1, 2009.

