public/javascripts/locale.js
/shared/
config/database.yml
config/resque.yml
db/schema.rb
*.swp
*.swo
config/development.sphinx.conf
public/flash/debug
public/system
db/tyrant
vendor/cyqueue
db/sphinx
coverage
.project
config/locales/log
