//.sub
//  %ul.msn_navigation
//    %li{:style => "padding-left:20px"}= link_to "Principal", "/"
//    %li= link_to "Noticias", "http://musica.latino.msn.com/noticias.aspx"
//    %li= link_to "Galerías de fotos", "http://musica.latino.msn.com/archivofotos.aspx"
//    %li= link_to "Videos", "http://musica.latino.msn.com/videos.aspx"
//    %li.last= link_to "Foros", "http://boards.msn.com/latinoentretenimientoboards/forum.aspx?ForumID=5" 
