<%= four_thumbs_to(@station_obj, :class => 'left_side', :clearer => true, :type => :small) %>
<div class="album_text2">
  <b><%= @station_obj.playable.artist.name %></b>
  <br/>
  <br/>
  <small><%= station_contains(@station_obj.playable) %></small>
</div><!--/end top_buttons -->

<div class="album_actions2">
  <%= blue_button(t("radio.create_new_station"), :href => "#create_new_station", :class => "create_new_station") %><br/>
</div>