<div id="radio_label">
  <div class="radio_left_side">
    <div class="side_user_box">
      <img src="images/juanes.jpg" class="side_user_image" alt="" />

      <div class="overlay png_fix">
        <div class="overlay_content">
          <big><a href="#">Juanes</a></big><br/>
          <small>
            Bogotá, Colombia<br/>
            Rock / Pop
          </small>
        </div>
      </div>
    </div><!--/end side_user_box -->

    <div class="black_boxes">
      <div class="black_box left_side">
        <big class="blue"><a href="#">12,3698</a></big><br/>
        Mixes
      </div>

      <div class="black_box right_side">
        <big class="blue"><a href="#">3,849</a></big><br/>
        Stations
      </div>

      <div class="clearer"></div>
    </div><!--/end black_boxes -->

    <a href="#" class="blue_button full_width"><span><span>FOLLOW</span></span></a>
  </div><!--/end radio_left_side -->

  <div class="radio_right_side">
    <div class="radio_tabs">
      <a href="#" class="first active"><span><span>Albums</span></span></a>
      <a href="#"><span><span>Recent Listeners</span></span></a>
      <a href="#"><span><span>Similar Artists</span></span></a>
      <a href="#"><span><span>Mixes</span></span></a>
    </div><!--/end radio_tabs -->

    <div class="radio_tabs_content">
      <div class="radio_station_row">
        <a href="#"><img src="images/comment_icon.gif" class="station_icon" alt="" /></a>
        <div class="station_text">
          <b><a href="#">La Vida...Es Un Ratico</a></b><br/>
          <small class="grey">2007</a></small><br/>
          <span class="reviews_stars"><a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a></span>
        </div>
        <div class="station_buttons">
          <a href="#"><img src="images/share_button.png" class="png_fix" alt="" /></a>
          <a href="#"><img src="images/dollar_button.png" class="png_fix" alt="" /></a>
        </div>
        <div class="clearer"></div>
      </div><!--/end radio_station_row -->

      <div class="radio_station_row">
        <a href="#"><img src="images/comment_icon.gif" class="station_icon" alt="" /></a>
        <div class="station_text">
          <b><a href="#">La Vida...Es Un Ratico</a></b><br/>
          <small class="grey">2007</a></small><br/>
          <span class="reviews_stars"><a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a></span>
        </div>
        <div class="station_buttons">
          <a href="#"><img src="images/share_button.png" class="png_fix" alt="" /></a>
          <a href="#"><img src="images/dollar_button.png" class="png_fix" alt="" /></a>
        </div>
        <div class="clearer"></div>
      </div><!--/end radio_station_row -->

      <div class="radio_station_row">
        <a href="#"><img src="images/comment_icon.gif" class="station_icon" alt="" /></a>
        <div class="station_text">
          <b><a href="#">La Vida...Es Un Ratico</a></b><br/>
          <small class="grey">2007</a></small><br/>
          <span class="reviews_stars"><a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a></span>
        </div>
        <div class="station_buttons">
          <a href="#"><img src="images/share_button.png" class="png_fix" alt="" /></a>
          <a href="#"><img src="images/dollar_button.png" class="png_fix" alt="" /></a>
        </div>
        <div class="clearer"></div>
      </div><!--/end radio_station_row -->

      <div class="radio_station_row">
        <a href="#"><img src="images/comment_icon.gif" class="station_icon" alt="" /></a>
        <div class="station_text">
          <b><a href="#">La Vida...Es Un Ratico</a></b><br/>
          <small class="grey">2007</a></small><br/>
          <span class="reviews_stars"><a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a></span>
        </div>
        <div class="station_buttons">
          <a href="#"><img src="images/share_button.png" class="png_fix" alt="" /></a>
          <a href="#"><img src="images/dollar_button.png" class="png_fix" alt="" /></a>
        </div>
        <div class="clearer"></div>
      </div><!--/end radio_station_row -->

      <div class="radio_station_row">
        <a href="#"><img src="images/comment_icon.gif" class="station_icon" alt="" /></a>
        <div class="station_text">
          <b><a href="#">La Vida...Es Un Ratico</a></b><br/>
          <small class="grey">2007</a></small><br/>
          <span class="reviews_stars"><a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_blue.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a> <a href="#"><img src="images/star_grey.png" class="png_fix" alt="" /></a></span>
        </div>
        <div class="station_buttons">
          <a href="#"><img src="images/share_button.png" class="png_fix" alt="" /></a>
          <a href="#"><img src="images/dollar_button.png" class="png_fix" alt="" /></a>
        </div>
        <div class="clearer"></div>
      </div><!--/end radio_station_row -->
    </div><!--/end radio_tabs_content -->
  </div><!--/end radio_right_side -->

  <div class="clearer"></div>
</div>