<li>
  <div class="song_name_large">
    <a href="<%= radio_path(:station_id => editorial_station_item.station.id)%>" class="grey_button"><span><span><img src="images/icon_play_small.gif" alt="" /></span></span></a> &nbsp; &nbsp; <b><%= link_to editorial_station_item.name, radio_path(:station_id => editorial_station_item.station.id) %></b>
  </div>
  <div class="includes"><%= station_contains(editorial_station_item, 3, false)%></div>
  <div class="large_bnt2">&nbsp;</div>
  <br class="clearer" />
</li>
