<% content_for :head do %>
  <script type="text/javascript">
  $(document).ready(function(){
    Base.reviews.load_playlist_reviews_list($("#playlist_reviews"), '<%= @station_obj.playable.id %>');
  });
  </script>
<% end %>

<div class="reviews_box" id="playlist_reviews">
</div>
