<div class="songs_list large_item my_mix small_fonts">
  <div class="headers">
    <div class="song_name_large">STATION NAME</div>
    <div class="includes">INCLUDES</div>
    <div class="large_bnt2">&nbsp;</div>
    <div class="last">&nbsp;</div>
    <br class="clearer" />
  </div><!--/end headers -->

  <div class="songs_box large_height iefix">
    <ul class="size2 light_bg">
      <li>
        <div class="song_name_large" align="center">
          <img src="images/pop_latino.gif" alt="" />
        </div>
        <div class="includes">
          <a href="#" class="inside_item"><img alt="" src="images/inside_icon.gif" /><br/>Nirvana</a>
          <a href="#" class="inside_item"><img alt="" src="images/inside_icon.gif" /><br/>Nirvana</a>
          <a href="#" class="inside_item"><img alt="" src="images/inside_icon.gif" /><br/>Toad the wet Sproket</a>
          <br class="clearer" />
        </div>
        <div class="large_bnt2 action_links" align="center">
          <a href="#"><img src="images/play_button.png" class="png_fix" alt="" /></a><br/>
          <a href="#"><img src="images/share_button.png" class="png_fix" alt="" /></a><br/>
          <a href="#"><img src="images/listen_button.png" class="png_fix" alt="" /></a>
        </div>
        <br class="clearer" />
      </li>
      <li>
        <div class="song_name_large" align="center">
          <img src="images/reggaeton_hits.gif" alt="" />
        </div>
        <div class="includes">
          <a href="#" class="inside_item"><img alt="" src="images/inside_icon.gif" /><br/>Nirvana</a>
          <a href="#" class="inside_item"><img alt="" src="images/inside_icon.gif" /><br/>Nirvana</a>
          <a href="#" class="inside_item"><img alt="" src="images/inside_icon.gif" /><br/>Toad the wet Sproket</a>
          <br class="clearer" />
        </div>
        <div class="large_bnt2 action_links" align="center">
          <a href="#"><img src="images/play_button.png" class="png_fix" alt="" /></a><br/>
          <a href="#"><img src="images/share_button.png" class="png_fix" alt="" /></a><br/>
          <a href="#"><img src="images/listen_button.png" class="png_fix" alt="" /></a>
        </div>
        <br class="clearer" />
      </li>
      <li>
        <div class="song_name_large" align="center">
          &nbsp;
        </div>
        <div class="includes">
          &nbsp;
        </div>
        <div class="large_bnt2 action_links" align="center">
          &nbsp;
        </div>
        <br class="clearer" />
      </li>
    </ul>
  </div><!--/end songs_box -->
</div><!--/end songs_list -->