<% content_for :head do %>
  <%= stylesheet_link_tag "history" %>
  <%= javascript_include_tag "AC_OETags", "history", "swf_utils", "radio", "htmlcomponent" %>
<% end %>
<div id="main_content">
  <%= render @station_obj.nil? && 'playlists' || 'radio' %>
  <div class="clearer"></div>
</div>