<div class="small_thumb <%= style if defined? style %>">
    <% if false %>
      <span class="close_btn">Close</span>
    <% end %>
    
    <%= link_to(image_tag("#{ENV['ASSETS_URL']}#{artist.image}", :class => "spaced_img tiny", :alt => artist.nick_name, :title => truncate(artist.nick_name, :length => 10)), artist_url(artist), :alt => artist.nick_name) %>
    
    <%= link_to(truncate(artist.nick_name, :length => 10), artist_url(artist), :alt => artist.nick_name) %>
</div>

<% if defined? clearer %>
  <br class="clearer" />
<% end %>
