<div class="black_box left_side">
  <big class="blue">
    <%= number_with_delimiter(profile_account.visit_count) %>
  </big>
  <br />
  <%= t('users.stats.visits', :default => "Visits") %>
</div>

<div class="black_boxes">
  <div class="black_box right_side">
    <big class="blue">
      <%= link_to("#{profile_artist.total_user_stations}", artist_stations_path(profile_account)) %>
    </big>
    <br />
    <%= t('basics.stations') %>
  </div>
  <div class="clearer"></div>
</div><!--/end black_boxes -->
