- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title

%h4 GENERAL
%strong 
  ¿Tiene Cyloop algún costo?
%p
  No, Cyloop siempre será gratis para sus miembros. En el futuro, puede llegar a existir alguna característica/servicio puntual que podría tener asociado algún costo.


%h4 MIS DATOS
%strong 
  ¿Cómo ingreso datos acerca de mi en mi perfil?
%p
  Una vez que ingresas a tu cuenta sigue estos pasos:
%ol
  %li En tu ‘Dashboard’, haz clic en “Opciones”
  %li Ingresa allí tus datos
  %li Haz clic en Guardar al final de cada página

%strong
  ¿Dónde puedo cambiar mi dirección de e-mail y/o la contraseña?
%p
  Una vez que ingresas a tu cuenta sigue estos pasos:
%ol
  %li En tu ‘Dashboard’, haz clic en “Opciones”
  %li Modifica allí tanto tu email o tu contraseña
  %li Haz clic en Guardar al final de cada página
  
%strong
  ¿Cómo puedo construir según mi gusto la apariencia del perfil de mi página en Cyloop?
%p
  Una vez que ingresas a tu cuenta sigue estos pasos:
%ol
  %li Haz clic en la opción de “Personalizar Página”
  %li Modifica cualquiera de las opciones que  aparecen (colores, imagen de fondo, etc.)
  %li Haz clic en Guardar al final de cada página Verás la página según tu diseño.
  
%h4 MI MUSICA
%strong
  ¿Cómo puedo agregar canciones a mi perfil en Cyloop?
%p
  En el momento que fue creado tu perfil en Cyloop, se incluyeron automáticamente una cantidad de canciones dentro de tu reproductor. Desde la  sección ‘Colección’ puedes fácilmente administrar toda tu música, creando tus propios listados de canciones, agregando o quitando canciones de tu reproductor, etc.
%strong
  ¿Cómo puedo coleccionar música en Cyloop?
%p
  Dentro del sitio, en cualquier canción que escuches en Cyloop (desde tu perfil, o de cualquier artista o amigo), haz click en el botón [+], para agregar esa canción a tu colección.
%p
  Dentro del reproductor de radio, puedes arrastrar la canción que está sonando directamente al “mixer”, y luego haz click en “Guardar”.
%strong
  ¿Cómo administro mi colección de música?
%p
  Necesitas ingresar a tu cuenta para organizar tu colección de música. Una vez ingresado, selecciona la opción “Playlists”, y desde allí puedes organizar toda tu colección.

%strong
  ¿Puedo subir fotos o música?
%p
  Cyloop es un sitio 100% legal. No se ofrece a los usuarios la posibilidad de subir música, para evitar la piratería. Si eres un artista sí es posible subir tus canciones para poder difundir tu trabajo.
%p
  En cuanto a fotos, puedes subir sólo una imagen que será la de tu perfíl (tu ícono). No es posible subir fotos adicionales. Existen otros sitios especializados para eso, y en Cyloop nos enfocamos en la música principalmente.

%strong
  ¿Por qué no puedo elegir lo que se toca en la radio?
%p
  La radio funciona como cualquier otra radio normal: no es posible elegir las canciones o el orden en el que tocan. Una vez que se selecciona un artista y se crea una radio, escucharás canciones (o por lo menos una canción) de ese artista, o de otros con un estilo parecido.
%p
  Este modelo de radio sí admite el poder “saltar” a la canción siguiente, si la que está sonando no te gusta. Pero no puede retrocederse una vez avanzada la canción.

%strong
  ¿Cómo puedo administrar mis radios?
%p
  Cuando ingresas a tu cuenta, dentro del ‘Dashboard’, selecciona la opción “Radio”, para poder adminstrar tus estaciones desde allí.


%h4 USUARIOS Y SEGUIDORES
%strong
  O que é o conceito de “seguir” usuários e artistas?
%p
  Junto al nombre de cualquier usuario o de un artista que estés escuchando, se encuentra un botón de “Seguir”. Si eliges comenzar a “seguir” a una persona, recibirás en tu lista de “Novedades” actualizaciones permanentes de canciones que ese usuario haya escuchado, o que haya subido si se trata de un artista. De esta manera, puedes estar al tanto de lo que tus amigos están escuchando, o descubrir canciones o artistas nuevos.

%strong
  ¿Cómo puedo bloquear a alguien que me está siguiendo?
%p
  Si quieres que algún usuario en particular no te siga, tras haber ingresado en tu cuenta, puedes ir a tu ‘Dashboard’, y cliquear en la opción “Seguidores”. Aparecerá un listado de todos tus seguidores, y al lado de cada uno un botón de “Bloquear”, que al seleccionarlo impide que ese usuario pueda continuar siguiéndote.
  
%strong
  No quiero ser seguido por nadie ¿Cómo hago?
%p
  Tras haber ingresado en tu cuenta, dentro de tu ‘Dashboard’, selecciona el link de “Opciones”. Dentro de esa sección, selecciona la opción “Mantener perfil privado” y haz clic en ‘Guardar’, para que ningún usuario pueda seguirte.

%strong
  Otro miembro de Cyloop me hace sentir incómodo, ¿qué puedo hacer?
%p
  Por favor, contáctate con nosotros haciendo clic en ‘Contactar’ en la parte inferior de la cualquier página de Cyloop, e infórmanos lo que sucede.

