- content_for :head do
  %script{ :src => "/logged_in.js?lang=#{I18n.default_locale}", :type => "text/javascript" }

%h2.alternate= @title

%p
  Los Sitios Web Cyloop han sido proporcionadas por Cyloop, LLC. ("Cyloop," "nosotros", "nos") a través de nuestros Sitios Web ("Sitio Web" o "Sitio", colectivamente), para ayudarle en el uso de nuestra Web y de los servicios asociados, y así poder asegurar un claro entendimiento de la relación entre el uso que Usted le dé a nuestro sitio Web y la participación en estos servicios. Por estos motivos hemos creado estos Términos y Condiciones de Uso y la Política de Privacidad. Nuestra Política de Privacidad explica cómo se trata la información que usted proporciona a través de nuestro Sitio, y cómo nuestros Términos gobiernan el uso que usted le da a nuestro Sitio. Nuestras Condiciones y Política de Privacidad se aplican a cada uno de los visitantes de nuestro Sitio Web (colectivamente, usted) incluyendo (i) visitantes ocasionales, y aquellos que utilicen los Servicios o accedan al Contenido (tal y como se define más abajo) a través de otras Sitios Web o servicios en los modos que autorizamos o permitimos, (ii) músicos, grupos musicales, artistas, videográficos, vídeo, cine, grabadores y mezcladores de sonido, productores, autores y otros participantes de la música, cine, vídeo, arte basado en texto, artes visuales, e industrias relacionadas que visitan nuestro "Sitio" para promoverse, e introducirse ellos mismos (y su arte) ("Artistas Contribuyentes"), y (iii) usuarios que crean perfiles, que disfrutan de la música y de los trabajos audio visuales de nuestros artistas contribuyentes, y a su vez participan de nuestros servicios ("Miembros").
%br

%p
  POR FAVOR LEA ESTE DOCUMENTO ATENTAMENTE ANTES DE ACCEDER O DE USAR ESTE SITIO. AL ACCEDER O USAR ESTE SITIO USTED ESTARA DE ACUERDO EN VINCULARSE A LOS SIGUIENTES TERMINOS Y CONDICIONES. SI USTED NO DESEA SER VINCULADO A ESTAS CONDICIONES, POR FAVOR NO ACCEDA A NUESTRO SITIO.POR FAVOR LEA ESTE DOCUMENTO ATENTAMENTE ANTES DE ACCEDER O DE USAR ESTE SITIO. AL ACCEDER O USAR ESTE SITIO USTED ESTARA DE ACUERDO EN VINCULARSE A LOS SIGUIENTES TERMINOS Y CONDICIONES. SI USTED NO DESEA SER VINCULADO A ESTAS CONDICIONES, POR FAVOR NO ACCEDA A NUESTRO SITIO.

%h3
  1. Su Acuerdo
%br
%p
  Estas condiciones gobiernan el uso que usted da de nuestro Sitio Web (ii) su recepción y participación en los servicios ofrecidos ahora o en el futuro por Cyloop a través de nuestro Sitio Web o tecnologías que extiendan esos servicios o el contenido del Sitio Web a otros Sitios Web, ordenadores, u otros equipos (los "Servicios"), (iii) su provisión de música, vídeo, sonido, texto, gráficos, archivos, información, u otro contenido (el "Contenido") para otros a través del Sitio, y también (iv) cómo usa el Contenido obtenido en este Sitio. Por favor lea estas condiciones atentamente ya que éstas imponen obligaciones legales tanto para usted como para Cyloop, las cuales establecen nuestra relación legal. Por usar o acceder a nuestro Sitio Web usted reconoce que ha leído y entendido estas condiciones y que está de acuerdo en vincularse legalmente a ellas.
%p
  Además, si usted se convierte en Miembro o en Artista Contribuyente, durante el proceso de registro de su contraseña, (y las veces que veamos necesario) usted tendrá que hacer clic en el botón "Acepto" que nuevamente confirma su acuerdo de estar legalmente vinculado a estas condiciones.
%br
%br
%h3
  2. Nuestros Servicios: Visión General
%br
%p
  Nosotros proporcionamos una amplia variedad de Servicios a nuestros Miembros. Estos servicios son los siguientes:
%br
%br
.section
  %h4
    2.1 Servicios para nuestros Miembros
  %span
    Proveemos a nuestros Miembros con servicios sociales de conexión de redes on-line diseñadas para permitirles encontrarse y comunicarse con nuevos y viejos amigos, basados en intereses comunes. Nuestros Miembros utilizan nuestro Sitio primordialmente a través de perfiles de Miembros (que son páginas Web personales). Como Miembro, podrá crear un perfil y- sujeto a cierto contenido relacionado, banda ancha y restricción en el tamaño de los archivos- podrá incluir en su perfil una amplia variedad de Contenido multimedia que describa sus intereses y comente sobre aquellos tópicos que le apasionan. Sus amigos luego usarán su perfil para dejarle mensajes (incorporando Contenido multimedia si así lo desean) y podrán crear enlaces a sus propios perfiles. Dependiendo del control de privacidad que tenga activado en su perfil, podrá tener la capacidad de "abrir" su perfil no sólo a amigos cercanos, sino a otros, incluyendo otros Miembros. El intercambio de nuestros Miembros a través de sus perfiles están complementados por elementos adicionales en nuestro Sitio que permiten a los Miembros (sin coste adicional, por lo general) a: (i) disfrutar de la música, vídeo, y cualquier otra cosa ofrecida por nuestros Artistas Contribuyentes; (ii) entablar anuncios por palabras on-line; (iii) contribuir con diarios, blogs, tablón de mensajes y (iv) disfrutar de los otros Servicios que ofrecemos.
  %br
  %br
  %h4
    2.2 Servicios para Artistas Contribuyentes
  %span
    Además de todos los servicios proporcionados a nuestros Miembros, también proveemos a nuestros Artistas Contribuyentes cierta información "feedback" de servicios y oportunidades promocionales. Parecido a un Miembro habitual, un Artista Contribuyente también crea un perfil. De esta manera, el Artista podrá dejar su Contenido disponible para los otros Miembros a través del Sitio Web. El sitio proporciona una variedad de oportunidades a los Artistas Contribuyentes para que éstos promuevan su contenido. El contenido del Artista deberá estar disponible para los Miembros (sin coste alguno). Los Artistas Contribuyentes podrán recibir reacciones y comentarios directamente de los Miembros que elijan dar este tipo de información y a través de mecanismos de información tales como Informes de Artistas que compilaremos periódicamente, (usando información en conjunto, no personal) que proporcione información tipo "demográfica" de la reacción de los Miembros por el trabajo de los Artistas Contribuyentes.
  %br
  %br
  %h4
    2.3 Resumen de Servicios 
  %span
    Lo mencionado anteriormente describe nuestros Servicios. Por favor siga leyendo para que sepa bajo qué condiciones les son prestados estos Servicios. Por ejemplo, para una información más amplia sobre las condiciones relacionadas con los perfiles, control de Privacidad de los Miembros e Informes de Artistas, diríjase a la Sección 5.1 (Privacidad, Su Perfil y Control de Privacidad), Sección 11 (Restricciones Técnicas; Soluciones) y la Sección 4.6 (Informe de Artistas). También véase nuestra Política de Privacidad para detalles relacionados con el uso de información en conjunto, y de otra información importante relacionada con nuestra privacidad y práctica de protección de datos.
%br
%h3
  3. Obtener Contraseña; Uso de la Contraseña
%br
.section
  %h4
    3.1 Elegibilidad 
  %span
    Usted puede registrase como Miembro de nuestro Sitio si (i) tiene, o es mayor de 13 años, (ii) si ha pedido permiso para incluir el Contenido que desea incluir en el Sitio, como se solicita en la sección 5.4 (Derechos que debe tener en Contenido), y (iii) si está de acuerdo con nuestras Condiciones y Política de Privacidad. También puede registrase como Artista Contribuyente en nuestro Sitio si (i) si usted tiene al menos 18 años de edad, (ii) si tiene los derechos legales requeridos para el Contenido Profesional que usted pondrá en el Sitio Web como se pide en la Sección 4.7 (Acreditación; Tasas por Licencias y Contenido Profesional), (iii) presenta suficiente capacidad y habilidad artística, en nuestro único criterio, que justifique, según usted, los Servicios proporcionados a Artistas Contribuyentes, y (iv) si usted está de acuerdo con nuestras Condiciones y Política de Privacidad. Cada Miembro y Artista Contribuyente podrá tener sólo una cuenta con nosotros. Si usted cree que está en su derecho de ser eximido de esta política, por favor contáctenos en la dirección que aparece en la Sección 25 (Contáctenos).
  %br
  %br
  %h4
    3.2 Registrarse en Nombre de un Grupo Musical o de otro Grupo 
  %span
    Como nuestro Sitio está diseñado para una red social y para divulgar y disfrutar de los trabajos de nuestros Artistas Contribuyentes, no permitimos a nuestros Miembros entablar un uso comercial de nuestro Sitio. Por lo tanto, esperamos que todos nuestros Miembros sean individuos y que actúen en su propio nombre. A diferencia de esto, un Artista Contribuyente puede bien ser parte de un grupo musical y actuar en nombre de ellos, o en nombre de otra organización. Si usted está de acuerdo con estas condiciones y con nuestra Política de Privacidad en nombre de un grupo musical, empresario, u otra organización, entonces (i) usted representa y garantiza que tiene la autoridad para actuar en nombre de, y de vincular a este grupo musical, empresario, u otra entidad y (ii) por todos los propósitos de estas condiciones y Política de Privacidad, el término "usted" significa un grupo musical, empresario, u otra entidad a la que está representando.
  %br
  %br
  %h4
    3.3 Protección de Contraseña
  %span    
    Por favor tenga en cuenta que trataremos a todo aquél que utilice su contraseña como "Usted". Le proporcionaremos a este usuario todos los derechos y privilegios que le concedemos a Usted, y le haremos responsable por las actividades realizadas por la persona utilizando su contraseña. Por lo tanto, le recomendamos que mantenga su identificación de usuario y contraseña en completa confidencialidad y que a su vez se abstenga de divulgar información a aquéllos que puedan "pretender" ser Usted con respecto a nuestros Servicios y su participación en nuestro Sitio Web. También le pedimos que por favor nos comunique inmediatamente si sospecha que alguien esté utilizando su contraseña para estos propósitos.
%br
%h3
  4. Artistas Contribuyentes
%br
%p
  Artistas Contribuyentes están invitados a que promuevan y distribuyan su Contenido Profesional a través de nuestro Sitio, y de disfrutar plenamente de los beneficios de nuestros Servicios. Las siguientes estipulaciones gobiernan las actividades específicas para nuestros Artistas Contribuyentes.
%br
.section
  %h4
    4.1 Designando Contenido Profesional 
  %span
    Como Artista Contribuyente, podrá designar Contenido específico, tales como canciones o vídeos que usted ha creado y que quiere que los visitantes y Miembros del Sitio puedan escuchar o ver para presentarlo y acceder a través de nuestro Sitio y Servicios sólo con cargar tal Contenido en su perfil. Este tipo de Contenido se refiere en estos Términos como "Contenido Profesional". Además, para que los Miembros y visitantes Web puedan localizar su Contenido fácilmente, deberá completar nuestro registro on-line para Artistas Contribuyentes e incluir la información requerida (éstas están diseñadas para enfocar y canalizar las preguntas hechas en nuestro Sitio). Por favor quédese con copias de su Contenido, ya que nosotros no necesariamente la conservaremos, ni devolveremos el material añadido a nuestro Sitio. Nos reservamos el derecho de determinar qué Contenido es calificado como Contenido Profesional.
  %br
  %br
  %h4
    4.2 Concesión de Derechos a los Miembros y Visitantes del Sitio con respecto al Contenido Profesional 
  %span
    Reconoce que, con respecto al Contenido Profesional que es proporcionado a los Miembros y visitantes del Sitio libre de coste, el Contenido Profesional debe hacerse disponible de la siguiente manera: (i) el archivo que contiene el Contenido Profesional debe ser guardado en la base de datos que mantenemos (el "Archivo de Contenido"); (ii) creará un enlace al Archivo de Contenido desde su perfil, o desde otra ubicación en el Sitio, permitido bajo estos términos (un "Enlace de Contenido"); (iii) un Miembro o Visitante del Sitio que haga clic sobre un Enlace de Contenido o acceda al Contenido a través de otros Sitios Web in en modos que son permitidos y autorizados por nosotros, podrá experimentar o "disfrutar de una actuación" del Contenido Profesional; (iv) el Miembro podrá crear un Enlace de Contenido similar en su perfil y compartir o hacer copia de este enlace de Contenido con otros Miembros. Tomamos pasos razonables para asegurar y salvaguardar los Archivos de Contenidos que usted nos proporciona para poder protegerlos contra descargas no autorizadas o de su uso. Para este fin, aplicamos medidas de seguridad parecidas a aquellas que protegen información personal identificable, tal y como se describe en la Sección 11 (Seguridad) de nuestra Política de Privacidad. Tal y como se describe en la sección 4.3 puede que ocasionalmente hagamos trabajos derivados o compilaciones del Contenido Profesional con el propósito de promover el Sitio y/o a uno/s Artistas Contribuyentes (un "Trabajo Derivado") y de distribuir aquellos Trabajos Derivados a los Miembros y a los visitantes del Sitio via el Sitio y sus Servicios. Un ejemplo del tipo de Trabajo Derivado que podríamos crear es un programa de audio semanal o Podcast descargable con la recapitulación de las actividades semanales en la "Battle Zone" (zona de batalla) del Sitio y contener todas o porciones de canciones que fueron populares durante esa semana. En vista de lo anterior, con respecto al Contenido Profesional que registra o distribuye a través de nuestro Sitio sin coste alguno, usted concede a nuestros Miembros y Visitantes del Sitio una licencia libre de regalías, no exclusive, y mundial, bajo sus derechos de propiedad intelectual a (i) acceder, usar, interpretar y disfrutar de su Contenido Profesional y Trabajos Derivados que lo contengan a través del Sitio u sus Servicios y (ii) de copiar y compartir estos Enlaces de Contenidos con otros Miembros y Visitantes del Sitio siempre y cuando el uso sea estrictamente para propósitos de participación en los Servicios y de entablar actividades sociales no-comerciales consecuentes con nuestro Código de Conducta en nuestro Sitio. Bajo esta licencia, por ejemplo, a uno de nuestros Miembros se le permitirá copiar y reenviar a un Miembro amigo el Enlace de Contenido a su "canción X"; al Miembro sin embargo no estará autorizado (a) ni vender copias del Enlace de Contenido a "canción X" a un Trabajo Derivado que contenga la "canción X" a ninguno de sus amigos; (b) ni obtener copias del Enlace de Contenido en sí; ni de (c) entablar ninguna actividad comercial con respecto a "canción X". No se pagará ningún tipo de compensación bajo esta concesión por el uso del Contenido Profesional por parte de los Miembros y Visitantes del Sitio. Por favor vea la Sección 4.5 (Tasa para Distribuir Contenido Profesional) si desea distribuir su Contenido Profesional a través de nuestro Sitio pagando una tasa.
  %br
  %br
  %h4
    4.3 Concesión de Derechos a Cyloop 
  %span
    Como Artista Contribuyente, con respecto al Contenido Profesional que usted incluya o distribuya en nuestro Sitio, usted nos concede solo los derechos de su Contenido Profesional que sean necesarios para que nosotros podamos procesar e implementar su transacción y así promover su Contenido Profesional hasta donde nosotros queramos. Específicamente, usted nos otorga una licencia libre de regalías, no exclusive, y mundial, bajo su derecho de la propiedad intelectual a usar, copiar (con el propósito de almacenar, hacer copias de seguridad, y convertir en otros formatos de archivo), catalogar, modificar, exponer y distribuir su Contenido Profesional a través de nuestro Sitio y Servicios, y para crear Trabajos Derivados y distribuirlos en nuestro Sitio y Servicios con el único y estricto propósito de proporcionar el Sitio y Servicios en modos consecuentes con los términos de la Sección 4.2 (Concesión de Derechos a los Miembros y Visitantes del Sitio con respecto al Contenido Profesional) y la Sección 4.5 (Tasas Para Distribuir Contenido Profesional) y promover su Contenido Profesional a tal punto que nosotros estimemos promoverlo. Sujeto a la obligación de Cyloop de mantener la calidad del Sitio al menos al mismo nivel que la calidad cuando usted contribuyó con su Contenido Profesioanl en nuestr Sitio, usted por la presente también concede a una licencia libre de regalías, no exclusive, y mundial para usar su nombre y logo ("Brand Features") en conexión con (i) anunciar y promover su Contenido Profesional y su trabajo artístico generalmente a través del Sitio y de (ii) anunciar y promover nuestro Sitio Web y Servicios. Cyloop no pagará ningún tipo de compensación por usar su Contenido Profesional o "Brand Features" bajo esta concesión. Si usted desea cobrarle a nuestros Miembros por el Contenido Profesional distribuido en nuestro Sitio, por favor proceda tal y como se expone en la Sección 4.5 (Tasa para Distribuir Contenido Profesional).
  %br
  %br
  %h4
    4.4 Concesión de Derechos a Miembros con respecto a Descargas 
  %span
    Nuestro Sitio está diseñado para intentar prevenir que los Miembros o Visitantes del Sitio puedan descargar o copiar un Archivo de Contenido sin el permiso del Artista Contribuyente (como por ejemplo, en conexión con transacción pagada y acordada por el Artista con nosotros bajo la Sección 5.5 (Tasa para Distribuir Contenido Profesional). Los derechos de los Miembros y de los Visitantes del Sitio con respecto a descargar u obtener copias del Archivo de Contenido, o cualquier otro tipo relacionado con la obligación de pago, será dirigido por la licencia o cualquier otro acuerdo contractual que desee estructurar el Artista Contribuyente (Licencia del Artista Contribuyente). No nos hacemos responsables por los términos, aplicación, o cualquier otro aspecto de estas Licencias de Artistas Contribuyentes, que serán entre el Artista y el Miembro o Visitante del Sitio. Pedimos a nuestros Miembros y Visitantes del Sitio que revisen Licencias de Artistas Contribuyentes aplicables para asegurar que están cómodos con los términos antes de introducirse en cualquier transacción asociada.
  %br
  %br
  %h4
    4.5 Tasa para Distribuir Contenido Profesional
  %span
    Si usted, como Artista Contribuyente desea distribuir sus Archivos de Contenido en nuestro Sitio y cobrar una tasa por estos Archivos, por favor contáctenos conforme a la Sección 25 (Contáctenos) y así llegar a un acuerdo apropiado.
  %br
  %br
  %h4
    4.6 Informes de Artista y Feedback de Otros Miembros 
  %span
    Como servicio a nuestros Artistas Contribuyentes, puede que periódicamente compilamos informes conocidos como "Informes de Artista" y proporcionamos estos informes a algunos o a todos nuestros Artistas Contribuyentes. Nos reservamos el derecho de determinar qué Artista Contribuyente recibirá dicho Informe de Artista. Para crear un Informe Artístico para un Artista Contribuyente en particular, compilamos desde los archivos log y otras fuentes, una lista anónima de Miembros que han accedido a la canción del Artista, vídeo, o cualquier otro Contenido. Junto con esta información, podremos incluir información conjunta, no personal, tipo demográfica que muestra, de manera anónima, la reacción de nuestros Miembros al trabajo del Artista Contribuyente. Un Informe Artístico, por ejemplo, puede exponer que un "10% de todos los Miembros que viven en Miami escucharon su canción "canción X" durante la semana del 1 de febrero. Los Miembros y Visitantes del Sitio también podrán expresar sus preferencias u opiniones acerca de los Artistas Contribuyentes y de su Contenido y Contenido Profesional colgando Contenido propio, usando las características de encuestas y votaciones del Sitio y a través de otros medios. No le haremos ningún tipo de quejas o garantías sobre la calidad, finalización o cualquier otra característica de la información contenida en el Informe de Artista, o de la integridad de los medios por los cuales la información en el Informe del Artista (o información compilada a través de encuestas, votaciones, o cualquier otro método) fue obtenida. No somos responsables por las opiniones expresadas o por los comentarios hechos por los Miembros u otros acerca del Artista Contribuyente, su Contenido, o Contenido Profesional. Excepto aquello requerido por ley, no tenemos ningún tipo de obligación de monitorizar los Contenidos de los Miembros, ni de quitar ni retener Contenido, aunque nos reservemos el derecho a hacerlo, tal y como se indica en la Sección 8.
  %br
  %br
  %h4
    4.7 Acreditación; Tasas por Licencias y Contenido Profesional
  %span
    Cuando proporciona Contenido Profesional en nuestro Sitio, usted garantiza (i) que tiene todos los derechos para otorgar los derechos y requisitos bajo la sección 4.2 (Concesión de Derechos a Miembros) y la sección 4.3 (Concesión de Derechos a Cyloop); (ii) que usted es dueño/a del copyright de todo el contenido sujeto a la protección de copyright (o se le ha dado el permiso necesario por el dueño/a del copyright, o usa el contenido bajo los principios de un "uso justo"; y (iii) que cada persona representada en imágenes o identificadas en textos en su Contenido (si es el caso) le haya consentido el uso de este Contenido tal y como se expone en estos Términos. El uso de nuestros servicios para promover su Contenido Profesional puede llevar a que se tengan que pagar tasas por licencias (i) por derechos de actuación, a organizaciones como ASCAP, BMI y SESAC, (ii) por derechos mecánicos de distribución de grabaciones, a organizaciones como Harry Fox Agency, y (iii) por otros derechos ("Tasas para Licencias", colectivamente). Usted será el responsable por la identificación y pago de todas las Tasas de Licencias. Información adicional acerca de posibles Tasas de Licencias se pueden encontrar en:
  %br
  %br
  %a{ :href => "http://www.ascap.com/", :target => '_blank' }
    http://www.ascap.com/
  %br
  %a{ :href => "http://www.bmi.com/", :target => '_blank' }
    http://www.bmi.com/
  %br
  %a{ :href => "http://www.sesac.com/", :target => '_blank' }
    http://www.sesac.com/
  %br
  %a{ :href => "www.harryfox.com/", :target => '_blank' }
    http://www.harryfox.com/
  %br
  %br
  %h4
    4.8 Anuncios y Contenido Profesional
  %span
    Nosotros retenemos el derecho a exhibir anuncios en conexión con exhibiciones, funciones, o distribución de su Contenido, incluyendo su Contenido Profesional.
  %br
  %br
  %h4
    4.9 Participación de Artistas Contribuyentes como Miembros
  %span
    Entendemos que un Artista Contribuyente quiera participar en nuestros Servicios como un Miembro. Su registro como Artista Contribuyente le permite disfrutar de casi todas las características de nuestro Sitio que nuestros Miembros disfrutan. Le animamos para que participe en estos Servicios, como uno de nuestros Miembros. Tenga en cuenta que su conducta como Miembro permanece sujeta a todas las estipulaciones de estos términos (y de la Política de Privacidad) aplicadas a los Miembros.  %br
  %br
  %br
  %h4
    4.10 No Más Obligaciones Promocionales 
  %span
    Aparte de permitirle poner su Contenido Profesional a través del Sitio y de distribuir y promover este Contenido a través de las funcionalidades disponibles de nuestros Servicios, no tenemos ningún rol u obligación en el marketing o promoción de un Artista Contribuyente o de su Contenido Profesional.%br
  %br
  %br
  %h4
    4.11 Terminación de Derechos: Supervivencia 
  %span
    Si nuestra relación se termina por cualquier motivo, a petición, Cyloop dejará de usar su Contenido Profesional y las concesiones de la Sección 4.3 (Concesión de Derechos a Cyloop) terminarán. Cyloop tendrá una periodo de tiempo razonable para cesar de dicho uso. Los derechos de los Miembros y Visitantes del Sitio bajo la Sección 4.2 (Concesión de Derechos a los Miembros y Visitantes del Sitio con Respecto al Contenido Profesional) sobrevivirán y continuarán, siempre y cuando los Miembros y Visitantes del Sitio acaten las restricciones aplicables sobre estos derechos.
%br
%br
%h3
  5. Miembros; Perfiles
.section
  %h4
    5.1 Privacidad, Su Perfil, y Controles de Privacidad. 
  %span
    Para permitirle una mayor flexibilidad en la información que incluye en su perfil, les proporcionamos unos controles de privacidad que le permiten designar su perfil completo, o trozos de su perfil como "cerrado" a todos excepto Miembros específicos y Artistas Contribuyentes (nuestros "Controles de Privacidad").
  %br
  %br
  %h4
    5.2 Concesión de Derechos a Cyloop
  %span
    Por el Contenido que usted incluye en su perfil o presente en cualquier otra área de nuestro Sitio, usted nos concede una licencia libre de regalías, no exclusive, y mundial, bajo su derecho de la propiedad intelectual a usar, copiar, reformatear, catalogar, modificar, exponer y distribuir su Contenido con el propósito de proporcionar nuestros servicios (tales servicios pueden cambiar con el paso del tiempo) y de promover nuestra Sitio Web. Ningún tipo de compensación se le pagará con respecto al uso de su Contenido bajo esta concesión. Los derechos y las obligaciones con respecto al Contenido Profesional, tales como trabajos musicales y audiovisuales, son tratados en la Sección 4.
  %br
  %br
  %h4
    5.3 Concesión de Derechos a otros Miembros 
  %span
    Al registrar su Contenido Profesional (gobernado por la Sección 4) usted también le concede a todos los Miembros que acceden a ese contenido apropiadamente (de acuerdo con estos términos y condiciones) y con su Control de Privacidad concede una licencia libre de regalías, no exclusive, y mundial, bajo su derecho de la propiedad intelectual a usar, copiar, reformatear, catalogar, modificar, exponer y distribuir su Contenido con el propósito de participar de los Servicios entablados en otras actividades sociales no comerciales consecuentes con nuestro Código de Conducta. Ningún tipo de compensación se le pagará con respecto al uso que le den los Miembros a su Contenido bajo esta concesión.
  %br
  %br
  %h4
    5.4 Derechos que debe tener en su Contenido 
  %span
    Cuando usted registra Contenido en nuestro Sitio (bien sea en su perfil o a través de otros servicios) Usted garantiza (i) que Usted tiene todos los derechos para otorgar los derechos requeridos bajo la sección 5.2 ( Concesión de Derechos a Cyloop) y la sección 5.3 (Concesión de Derechos a Miembros); (ii) que Usted es dueño/a del copyright de todo el contenido sujeto a la protección de copyright (o se le ha dado el permiso necesario por el dueño/a del copyright, o usa el contenido bajo los principios de un "uso justo"); y (iii) que cada persona representada en imágenes o identificadas en textos en su Contenido (si es el caso) le haya consentido el uso de este Contenido tal y como se expone en estos Términos.
  %br
  %br
  %h4
    5.5 Anuncios y Perfiles 
  %span
    Ofrecemos nuestros servicios a los Miembros sin coste alguno e intentamos depender en parte de los ingresos obtenidos por los anuncios para financiar nuestro Sitio. Usted reconoce que tenemos el derecho de poner anuncios en algunas o en todas las páginas de los perfiles de nuestros Miembros y también en otras áreas del Sitio. También está de acuerdo que podremos libremente exponer anuncios en las páginas de sus perfiles, y que usted no intentará cubrir u ocultar anuncios en nuestro Sitio a través de HTML/CCS o cualquier otro medio.
  %br
  %br
  %h4
    5.6 Uso de Perfiles en Promociones 
  %span
    Creemos que las propias experiencias de nuestros Miembros en el Sitio pueden actuar como promoción para el Sitio y para nuestros Servicios. Para promocionar e ilustrar nuestros Servicios y el Sitio, tal vez pongamos en nuestra Página de Inicio (y en otras áreas del Sitio) perfiles u otro Contenido de nuestros Miembros. Entendemos que aquellos Miembros que elijen no emplear nuestros Controles de Privacidad están interesados (o no tiene objeción) en que publiquemos sus perfiles y el Contenido relacionado. Aceptan también en que podamos usar los perfiles de estos Miembros y Contenidos en conexión con los anuncios y promociones de nuestro Sitio.
  %br
  %br
  %h4
    5.7 Terminación de Derechos: Supervivencia
  %span
    Cyloop no reclama la propiedad del Contenido que usted registra en su perfil o proporciona a través del Servicio. Las licencias otorgadas a nosotros y a nuestros miembros en esta Sección se terminarán posiblemente en el momento que usted retire completamente el Contenido de nuestro Sitio. Esta terminación no afectará las licencias otorgadas al Contenido antes de que usted retire por completo todo el Contenido, y nuestros Miembros (al igual que Cyloop) podrán seguir disfrutando de sus derechos bajo las Secciones 5.2 (Concesión de Derechos a Cyloop) y 5.3 (Concesión de Derechos a los Miembros y Visitantes del Sitio con Respecto al Contenido Profesional).
%br
%br
%h3
  6. Concesión de Derechos de Cyloop a Usted
%br
%p
  En esta Sección, Cyloop dará a Miembros y Artistas Contribuyentes los derechos y privilegios que necesitarán para poder participar en la red social y en los objetivos de comunicación de nuestros Servicios.
%br
.section
  %h4
    6.1 Derechos de Acceso y Participar en Servicios
  %span
    Sujeto al cumplimiento de estos Términos, Cyloop, por la presente concede, a los Miembros y Artistas Contribuyentes, el derecho de acceder y de usar el Sitio Web y de participar en estos Servicios. Los Servicios y el Sitio Web serán para uso personal del Miembro y para uso promocional (o cualquier otro uso) de los Artistas Contribuyentes. No podrá ser utilizada en conexión con cualquier intento comercial excepto (i) aquellos intentos comerciales de los Artistas Contribuyentes, como se plantea en estos Términos, (ii) aquellos intentos comerciales de los Anunciantes que hemos permitido anuncien a través de nuestro Sitio y (iii) otros intentos comerciales a los que damos nuestro consentimiento por escrito.
  %br
  %br
  %h4
    6.2 Derechos a Informes Artísticos
  %span
    Cyloop le concede a los Artistas Contribuyentes, bajo el derecho de la propiedad intelectual de Cyloop, una licencia perpetua, no-exclusiva, mundial, libre de regalías , no transferible, para usar, copiar, modificar el Informe Artístico dado por Cyloop sólo para uso interno. Sin la autorización por escrito de Cyloop (la cual Cyloop podrá quedarse sin discreción) un Artista Contribuyente no podrá, por ejemplo, revelar públicamente un Informe Artístico (o información derivada de ahí) por ningún motivo, y no podrá usar un Informe Artístico (o información derivada de ahí) para promocionar, publicar, o llamar la atención del Artista o de su trabajo.
  %br
  %br
  %h4
    6.3 Software Disponible
  %span
    Cualquier software disponible para descargar de los Servicios ("Software") tiene el copyright de Cyloop o de sus proveedores. El uso de este Software es gobernado por los términos de la licencia del acuerdo del usuario final, si tuviera, que acompañe al Software (Acuerdo de Licencia) Un usuario final no podrá instalar el Software que venga acompañado o incluya un "Acuerdo de Licencia", a menos que él o ella primero accedan a los términos del Acuerdo de Licencia. La descarga del Software será disponible sólo para el uso del usuario final, de acuerdo con el Acuerdo de Licencia. Cualquier reproducción o redistribución del Software que no esté de acuerdo con el Acuerdo de Licencia, será expresamente prohibido.
  %br
  %br
  %h4
    6.4 Propiedad de Cyloop; Reserva de Derechos
  %span
    Todo el contenido disponible en, o a través del Sitio Web – aparte del Contenido proporcionado por los Miembros, Contenido Profesional o Contenido de Anunciantes- incluyendo toda la información, software, material gráfico, texto, vídeo, audio, fotos, marca comercial, imagen de marca y toda propiedad intelectual encontrada en el Sitio Web, o incorporada en los Servicios y Contenidos, es propiedad patentada de Cyloop y de sus concesionarios ("Contenido Cyloop"). El contenido Cyloop está protegido por leyes de Estados Unidos y leyes internacionales de la propiedad intelectual. Cyloop retiene todos los derechos con respecto al Contenido Cyloop, el Sitio Web, y los Servicios (excepto aquellos otorgados expresamente a Usted en estos Términos). Usted consiente a no duplicar, publicar, exponer, distribuir, modificar o crear trabajos derivados del material del Sitio Web excepto lo expresamente permitido en la Sección 6.1 (Derechos de Acceso y Participar en Servicios) y la Sección 6.2 (Derechos a Informes Artísticos), a no ser que tenga expreso consentimiento por escrito por parte de Cyloop.
%br
%h3
  7. Código de Conducta
%br
%p
  Nuestro Sitio puede aportar perfiles, blogs, salas de Chat, tablón de anuncios, servicios de mail, y otros servicios que le permiten interactuar con otros Miembros y Artistas Contribuyentes ("Servicios Interactivos"). Como condición para que Usted use nuestro Sitio Web, los Servicios y el Contenido (incluyendo los Servicios Interactivos) estará de acuerdo en seguir nuestro siguiente Código de Conducta. Según lo establecido en este Código, usted no podrá:
%br
%ul
  %li
    Colgar, enviar a través de e-mail o transmitir cualquier imagen u otro contenido ilícito, obsceno, perjudicial, odioso; invadir la privacidad de una tercera persona, material que contenga desnudez o pornografía, y que sea desagradable.
%ul
  %li
    Divulgar o difundir material que impacte o invada la privacidad de otros, tales como fotos, vídeo clips, grabaciones de sonido, información de identificación personal, o cualquier material que revele información sensible y personal sobre otra persona sin el consentimiento de la misma.
%ul
  %li
    Presentar material que sea intencionalmente falso, difamador, ilegalmente amenazador o ilícitamente acosador.
%ul
  %li
    Infringir el copyright, patente, marca comercial, secreto comercial, o cualquier otro derecho de patentes, derechos de publicidad y privacidad de una tercera persona. Material electrónico- tales como música, vídeos, juegos, imágenes, y textos en forma electrónica- pueden ser copiados, modificados, fácilmente, y enviados a través de la red (tales como Internet) Este material electrónico es por lo tanto extremadamente vulnerable a la distribución no-autorizada, y a la violación del copyright. Estos materiales no podrán ser transmitidos en el Sitio Web sin el permiso copyright del propietario, o sin la legítima justificación de "uso justo" para la transmisión.
%ul
  %li
    Transmisiones que contengan cualquier virus, caballos Troyanos, Gusanos, bomba de tiempo, cancelbots, o ningún otro material de programación rutinaria con la intención de dañar perjudicialmente interferir con, subrepticiamente interceptar o expropiar cualquier sistema, datos, o información personal.
  %li
    Intentar usar el Sitio Web para fines financieros, para aspectos relacionados con servicios de ordenadores o información disponible en el Sitio Web (excepto en el caso de nuestros Artistas Comerciales y Anunciantes, que pueden obtener beneficios económicos del Sitio Web.)
  %li
    Usar el servicio para generar tráfico artificialmente, o páginas de enlace a un Sitio Web, o para cualquier otro propósito no expresamente permitido bajo estos términos.
  %li
    Usar el Sito Web de manera que pueda deshabilitar, sobrecargar, o perjudicar el Sitio; o interferir en el uso y disfrute del Sitio de una tercera persona, como por ejemplo a través de Spam e-mail (correo electrónico no deseado).
  %li
    Usar el Sitio Web para cualquier propósito que sea ilegal o prohibido por estos Términos. Por ejemplo, no podrá usar el Sito Web, Servicios, o Contenido para violar cualquier ley, estatuto o regulación (incluyendo, sin limitación, aquellas encargadas del control de exportación, protección del consumidor, competencia desleal, o publicidad engañosa.)
  %li
    Haremos cumplir este Código de Conducta cuando lo creamos necesario. Sin embargo entienda que cyloop no controla – y no necesariamente respalda- el Contenido encontrado en cualquier Servicio Interactivo. Cuando usted participa en un Servicio Interactivo, lo hace bajo su responsabilidad, y nosotros expresamente negamos responsabilidad alguna por el Contenido encontrado en estos Servicios.
%br
%br
%h3
  8. Monitorización de Servicios Interactivos; Quitando Apuntadores
%br
%p
  Esperamos que cada usuario de nuestra Web actúe de manera responsable y que respete los derechos de los demás. Nuestro objetivo es proteger la integridad y seguridad de nuestros sistemas informáticos, y del derecho a proteger a nuestra comunidad de Miembros de demandas por violación de la propiedad intelectual, y de otras demandas y amenazas, como aquellas detalladas en nuestro Código de Conducta. Para este fin, nos reservamos nuestro derecho a la discreción (i) para monitorizar su uso de nuestro Sitio Web, su perfil, e-mail, y cualquier otro Contenido transmitido por nuestro Sitio; (ii) a restringir el acceso a ciertos sitios de Internet u otros recursos, y (iii) tomar las acciones que sean necesarias para proteger a nuestra comunidad de usuarios y a nuestros recursos. Debido a esta monitorización, no puede esperar que la comunicación a través de nuestro Sitio Web sea "privada" o libre de nuestra revisión. Por favor remítase a nuestra Política de Privacidad para obtener una declaración precisa concerniente a sus expectativas de privacidad.
%br
.section
  %h4
    8.1 Filtros; Bloqueada y Retirada de Contenido 
  %span
    Aunque no tenemos la obligación de monitorizar actividades en nuestro Sitio Web, por favor entienda que puede que usemos filtros diseñados para detectar y bloquear la transmisión de datos que contengan lenguaje sexualmente explícito e inapropiado. Nos reservamos el derecho a editar, rehusarnos a colgar (post), o de retirar cualquier información o materiales (del todo o por partes) que creamos, a nuestra propia discreción, sean incompatibles con nuestro Código de Conducta.
  %br
  %br
  %h4
    8.2 Informes y Quejas
  %span
    Si usted cree que un Miembro o Artista Contribuyente (u otro usuario) ha actuado de manera inapropiada, (por ejemplo, violando el Código de Conducta), puede reportar sus preocupaciones a través de los enlaces que hemos incluido en nuestro Sitio o contactándonos de acuerdo con la Sección 25 (Contáctenos). Si un Miembro, Artista Contribuyente, o Visitante del Sitio nos informa que cree que el Contenido del Sitio no cumple con lo establecido en el Código de Conducta, podremos investigar la alegación y determinar de buena fe, bajo nuestra discreción, si retiramos o bloqueamos el acceso a tal Contenido, o si tomaremos acciones con respecto a la persona o personas responsables por colocar dicho Contenido. Tenemos el derecho (pero no la obligación) bajo nuestra propia discreción, de retirar, reubicar, cambiar de público a privado, o también bloquear (o restringir) cualquier Contenido en cualquier momento, con o sin previo aviso, y sin responsabilidad alguna.
  %br
  %br
  %h4
    8.3 Revocación o Suspensión de Privilegios de Uso
  %span
    Nos reservamos el derecho de terminar o suspender en cualquier momento su acceso a alguno o a todos los Servicios Interactivos o de nuestro Sitio Web si usted entabla actividades que concluyamos, bajo nuestra discreción, que incumplan nuestro Código de Conducta. Los usuarios también deberán entender que nuestro Código de Conducta está basado en los principios de la ley estatal y federal. Los usuarios que violen nuestro Código de Conducta serán expuestos bajo estas leyes estatales y federales a cargos criminales y a responsabilidad civil a las partes afectadas por daños compensatorios y honorarios de abogados. Cyloop se reserva el derecho en todo momento a desvelar la información que sea necesaria para satisfacer a la ley pertinente, regulación, proceso legal, o petición gubernamental, consecuente con su Política de Privacidad.
  %br
  %br
  %h4
    8.4 Disputa entre Miembros
  %span
    Usted será el único responsable por su interacción con otros Miembros y Artistas Contribuyentes de Cyloop.com tanto on-line, como off-line. Puede que monitoricemos disputas entre usted y otros Miembros, pero no tenemos obligación de involucrarnos. Si usted tiene alguna disputa con uno o más Miembros o Artistas Contribuyentes, usted eximirá a Cyloop (y a nuestros oficiales, directores, agentes, empleados, subsidiarios y afiliados) de reclamaciones, demandas y daños (actuales y consiguientes) de cualquier naturaleza, conocida o desconocida, que salga o esté de cualquier manera conectada con dicha disputa.
%br
%br    
%h3
  9. Privacidad y Uso Compartido de la Información en Áreas Interactivas
%br
%p
  Valoramos su privacidad y la de todos nuestros usuarios. Por favor vea nuestra Política de Privacidad para más información sobre cómo reunimos, usamos y protegemos su información personal. Estas protecciones, sin embargo, no se aplican a la información que usted decida divulgar a otros Miembros en nuestras Áreas Interactivas. Aunque los miembros están ligados a nuestro Código de Conducta a abstenerse de divulgar información de nuestro Sitio Web y de sus Áreas Interactivas sin nuestro permiso, no le podemos asegurar que éste sea el caso. Por lo tanto deberá divulgar información personal identificable prudentemente. Para más información, por favor diríjase a nuestra Política de Privacidad.
%br
%br
%h3
  10. Anunciantes; Enlaces
%br
%p
  Permitimos a ciertas compañías y anunciantes a colgar anuncios e información en nuestro Sitio, y también a tener perfiles ("Anunciantes"). Estos anuncios y la presencia de los Anunciantes nos permite, en gran parte, proporcionar a nuestros Miembros Servicios libres de coste. Aunque hayamos seleccionado a los Anunciantes, no nos hacemos responsables si Usted decide contactarles o hacer negocios con ellos. Su conexión y relación con los Anunciantes, -y cualquier otro término o condiciones, garantías o representaciones asociadas con dichas relaciones- serán sólo y exclusivamente entre Usted y el Anunciante, y por lo tanto estará de acuerdo en que Cyloop no se hará responsable ni responderá por cualquier daño o pérdida incurrida como resultado de la relación con los Anunciantes, o por la presencia de dichos Anunciantes en el Sitio.
%p
  El Sitio Web puede que contenga enlaces o que realice búsquedas que hagan referencia a enlaces en Sitios Web de Terceros ("Sitios Enlazados", colectivamente). Cyloop no tiene control sobre estos "Sitios Enlazados" o de su contenido, y no asume responsabilidad por su contenido, opiniones, o material disponible en estos Sitios Enlazados. Cyloop no respalda el contenido de ningún Sitio Enlazado ni garantiza que el Sitio Enlazado esté libre de virus informáticos (o algún otro tipo de código dañino) que pueda afectar su ordenador, u otro mecanismo de acceso Web. Al usar el Sitio Web para realizar búsquedas o para enlazar con otro sitio, Usted accede y entiende que lo hace bajo su propia responsabilidad.
%br
%h3
  11. Restricciones Técnicas; Acciones
%br
%p
  Por el hecho de que nuestros Servicios son gratuitos para los Miembros, tenga en cuenta que Usted está limitado a una sola cuenta de Cyloop. Además, Usted debe respetar y cumplir con el tamaño de archivo que se especifica. Si lo determinamos, bajo nuestra discreción, y si es necesario, inutilizaremos o tomaremos otro tipo de acción pertinente sobre cuentas que veamos que están utilizando excesiva banda ancho o recursos de otros sistemas. También nos reservamos el derecho, si lo creemos necesario (a nuestra discreción) de borrar o cambiar el nombre de usuario del Miembro y su dirección URL. Nos reservamos el derecho de restringir el número de correos electrónicos que el Miembro le envía a otros Miembros en cualquier período de 24 horas si creemos, bajo nuestra discreción, que el volumen del correo electrónico sea demasiado grande.
%br
%br
%h3
  12. Restricción de la Garantía
%br
%p
  Cyloop no promete que el Sitio Web estará libre de errores, ininterrumpido, o que el Sitio proporcione resultados específicos de su uso por cualquier contenido, búsqueda, o enlace al mismo. El Sitio, así como todos los Servicios y Contenidos dentro de él son entregados en una base "AS IS" y "AS AVAILABLE". Cyloop no le garantiza que los materiales que Usted se descargue estén libres de virus o de cualquier otra característica dañina.
%p
  CYLOOP RENUNCIA A (i) TODAS LAS GARANTIAS, EXPRESAS O IMPLÍCITAS, INCLUYENDO CUALQUIER GARANTÍA IMPLICITA DE COMERCIABILIDAD Y CAPACIDAD PARA UN PROPÓSITO EN PARTICULAR (ii) CUALQUIER RESPONSABILIDAD POR LA EXACTITUD, CONTENIDO, COMPLECIÓN, O LEGALIDAD DE LA INFORMACIÓN DISPONIBLE EN EL SITIO WEB O EN EL INFORME DE ARTISTAS; Y (iii) CUALQUIER RESPONSABILIDAD POR DAÑO OCASIONADO POR DESCARGAR O ACCEDER A INFORMACIÓN EN EL SITIO, INCLUYENDO DAÑOS CAUSADOS POR VIRUS O CARACTERISTICAS DESTRUCTIVAS SIMILARES. USTED CONSIENTE EXPRESAMENTE A QUE EL USO DE LOS SITIOS CYLOOP Y SERVICIOS RELACIONADOS SERÁN BAJO SU ÚNICA RESPONASABILIDAD.
%p
  Por favor considere el tener copias de seguridad del Contenido o Contenido Profesional que incluya en su perfil.
%br
%h3
  13. Responsabilidad Limitada
%br
%p
  BAJO NINGUNA CIRCUNSTANCIA, INCLUSIVE PERO NO LIMITADA AL INCUMPLIMIENTO DEL CONTRATO, AGRAVIO O NEGLIGENCIA, SERÁ CYLOOP RESPONSABLE POR CUALQUIER DIRECTO O INDIRECTO, ESPECIAL, FORTUITO, PUNITIVO, EJEMPLAR, DAÑO CONSECUENTE (PERDIDAS DE GANACIAS INCLUIDAS) QUE SURJAN DE, O QUE SE RELACIONEN CON SU USO DEL SITIO CYLOOP, LOS SERVICIOS O EL CONTENIDO.
%br
%p
  Usted acepta que un desagravio de mandamiento judicial le proporcionará a Usted una buena y suficiente solución por cualquier tipo de queja contra Cyloop surgidas de estos Servicios y acepta que no se quejará subsecuentemente que dicha solución, o que la solución y las limitaciones estipuladas de daños de estos Términos han "fracasado en su propósito esencial".
%p
  Nuestros Miembros pueden decidir entablar actividades entre ellos off-line quizás por la relación que hayan desarrollado on-line. Usted acepta eximir y a mantener a Cyloop libre (inocente) de cualquier pérdida, daño, derechos, quejas y acciones de cualquier tipo incluidas (sin limitación) daños personales, muerte, o daños materiales, directa o indirectamente relacionados con, o que haya surgido de la participación en estas actividades off-line.
%br
%h3
  14. Indemnización
%br
%p
  Usted acepta defender, indemnizar, y exime a Cyloop y sus subsidiarios, afiliados, oficiales, directores, agentes y empleados de cualquier responsabilidad a Terceros, incluyendo gastos de abogado razonables que se hayan generado o sean relacionados a su incumplimiento de estos Términos.
%br
%h3
  15. Contacto por Presuntas Infracciones de Copyright
%br
%p
  Cyloop respeta la propiedad intelectual de los demás y exige que sus usuarios lo hagan también. Si usted cree que el Contenido en el Sito Cyloop o en otra actividad que se esté llevando a cabo en el Sitio constituya una violación del trabajo protegido por el copyright (un "Trabajo"), por favor notifíquelo a nuestro agente, designado bajo el "Digital Millenium Copyright Act" (17 U.S.C. 512) (la "DMCA") para responder a dichos asuntos:
%br
%p
  Presidente
  Cyloop, LLC
  4970 SW 72 Ave., Suite 100
  Miami, FL 33155
%p
  Su aviso debe cumplir con la DMCA. Al recibir el aviso, procederemos a contestarle de acuerdo con la DMCA.
%br
%h3
  16. Términos y Condicones Adicionales para Determinados Servicios o Sites
%br
%p
  Puede que ofrezcamos algunos Sitios Web o Servicios Cyloop que estén sujetos a términos y condiciones adicionales y distintas. Le notificaremos si el Sitio o Servicio al que Usted está accediendo está sujeto a términos y condiciones distintos a estos Términos. Usted tendrá la oportunidad de rechazar a participar en dichos Sitios o Servicios si no está de acuerdo con los distintos términos y condiciones.
%br
%h3
  17. Modificación de los Términos
%br
%p
  Puede que con el tiempo modifiquemos o cambiemos estos términos. No cambiaremos estos términos retroactivamente y cualquier modificación que hagamos tendrá efecto de manera anticipada cuando usted vuelva a acceder al Sitio Web. Puede imprimir libremente una copia de estos Términos para sus archivos.
%br
%br
%h3
  18. Cesión
%br
%p
  Estos Términos de Servicio no podrán ser asignados por Usted, ni por entero ni en parte. Cyloop se reserva el derecho a asignar sus derechos y obligaciones bajo estos Términos.
%br
%br
%h3
  19. Nuestros Afiliados
%br
%p
  Puede que elijamos depender y compartir información con compañías estrechamente relacionadas con nosotros – nuestros Afiliados- para algunos propósitos bajo estos Términos. Por "Afiliado" queremos decir que es una entidad que controla, o que es controlada por, o está bajo control común con Cyloop. Este control puede resultar por propiedad patrimonial, contrato, coincidencia directiva, u otros. En este contexto, "control" significa la habilidad de reemplazar oficiales o directivos, o por otra parte, influenciar materialmente o controlar decisiones directivas. Usted acepta que los Afiliados a Cyloop podrán disfrutar de nuestros derechos bajo estos Términos y, a cambio, nosotros aceptamos que seremos responsables por la conducta de nuestros Afiliados bajos estos Términos si nuestro afiliado fracasase en cumplir con cualquiera de sus obligaciones.
%br
%h3
  20. General
%br
%p
  Estos términos serán regidos por el Estado de la Florida sin dar efecto a sus conflictos de estipulación de ley. Ambas partes se someten a la jurisdicción del Estado de la Florida y cortes federales dentro de dicho Estado, en el distrito judicial que incluye a Miami, Florida. Las partes acuerdan que cualquier causa de acción surgida bajo estos Términos o de nuestra Política de Privacidad será exclusivamente sacada a relucir en dichas cortes. Si cualquier estipulación de estos Términos es considerada inválida o que no se pueda forzar, dicha estipulación y las estipulaciones restantes serán ejecutadas. Los apartados sirven sólo como referencia y de ninguna manera define, limita, interpreta o describe el alcance o extensión de dicha sección. El fracaso de Cyloop de actuar con respecto al incumplimiento por parte suya o de otros no le exonera de su derecho a actuar con respecto a incumplimientos similares y subsecuentes. Este acuerdo y los términos y condiciones contenidos en él explica el entero entendimiento y acuerdo entre Cyloop y Usted con respecto a esta materia, y a suplantar cualquier prioridad o entendimiento contemporáneo, ya sea escrito u oral.
%br
%h3
  21. Duración de Derechos
%br
%p
  Usted podrá seguir disfrutando de sus derechos y obligaciones bajo estos Términos hasta que (i) usted cese de usar los Servicios, o (ii) su contraseña sea retirada o suspendida por mala conducta, como se muestra en la Sección 8.3 (Revocación o Suspensión de Derechos de Uso).
%br
%h3
  22. Duración de las Condiciones; Supervivencia
%br
%p
  The following provisions shall survive the termination of these Terms and shall apply indefinitely:
%p
  Sección 4.11 (Terminación de los Derechos: Supervivencia)
%p
  Sección 5.7 (Terminación de los Derechos: Supervivencia)
%p
  Sección 6.4 (Propiedad Cyloop; Reserva de Derechos)
%p
  Sección 12 (Renuncia de Garantía)
%p
  Sección 13 (Limitación de Responsabilidad)
%p
  Sección 14 (Indemnización)
%p
  Sección 18 (Asignación)
%p
  Sección 20 (General)
%p
  Sección 22 (Supervivencia)
%br
%h3
  23. Relación Política de Privacidad y Otros Contractos
%br
%p
  Estos Términos deberán ser leídos junto con (i) otros acuerdos a los que podrá acceder sobre nuestro Sitio y (ii) con nuestra Política de Privacidad. Las estipulaciones de nuestra Política de Privacidad están aquí incorporadas. Hasta el punto que estos Términos contradigan con nuestra Política de Privacidad, nuestra Política de Privacidad regirá. De manera parecida hasta el punto que estos Términos contradigan a los Términos y Condiciones de cualquier acuerdo específico que usted establezca con nosotros, los términos y condiciones de dicho acuerdo específico lo regirán.
%br
%h3
  24. Lenguaje
%br
%p
  Como cortesía, hemos realizado una versión en Español de estos términos para Usted. Les ofrecemos la versión en Español para confirmar su entendimiento de los términos, condiciones y acuerdos establecidos en estos Términos y cómo éstos le afectan a Usted. Acepta que ha tenido oportunidad de estudiar la traducción del Inglés al Español para asegurarse que la traducción es verídica, correcta y fiel y que independientemente se le ha proporcionado la oportunidad de traducir estos Términos. Si hay algún tipo de discrepancia o inconsistencia entre la versión Inglesa y la Española de estos términos, Usted acepta que es la versión Inglesa la que domina. Además, en el evento de una disputa, Usted acepta que sólo el documento en lengua Inglesa será presentado en la Corte para la interpretación de los derechos y las obligaciones de las partes.
%br
%h3
  25. Contáctenos
%br
%p
  No dude en contactarnos en la siguiente dirección:
%p
  A la atención de: Presidente
%p
  e-mail:
  = mail_to "#{request.host}@hoodiny.com?subject=terms_and_conditions", "info@hoodiny.com"
%br
%h3
  26. Fecha de Efectividad
%p
  Estos Términos entrarán en vigor el 2 de Agosto de 2007.

  
