h3 {
  font-size: 1.8em;
  color: #34393C;
  font-weight: normal;
  margin-bottom: 15px; }

.signup_section {
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 150px; }
  .signup_section p {
    color: #666;
    font-size: 1.2em; }

#content {
  width: 510px;
  text-align: right; }
  #content .input_fields {
    font-family: Helvetica, Arial;
    color: #666; }
    #content .input_fields label {
      display: block;
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 1.5em;
      font-weight: normal;
      text-align: right;
      width: 100px;
      float: left; }
    #content .input_fields input {
      color: #34393C;
      width: 380px;
      float: left;
      font-size: 1.6em;
      padding: 4px 4px;
      border: 1px solid #999;
      margin: 2px 0 20px 10px; }
      #content .input_fields input#user_slug {
        margin-bottom: 4px; }
    #content .input_fields span.url {
      margin-bottom: 10px;
      float: right;
      text-align: left;
      margin-right: 20px;
      width: 380px; }
    #content .input_fields .user_acceptance {
      float: right;
      font-size: .9em;
      line-height: 1.43em;
      padding-bottom: 23px;
      text-align: left;
      width: 400px;
      border-bottom: 1px solid #999;
      margin-bottom: 23px; }
      #content .input_fields .user_acceptance ul li {
        clear: both;
        margin-bottom: 0; }
      #content .input_fields .user_acceptance input {
        margin-right: 5px;
        border: none;
        width: 20px; }
    #content .input_fields #password_field {
      clear: both; }
    #content .input_fields #signup_button {
      clear: both; }
      #content .input_fields #signup_button button {
        border: none;
        height: 49px;
        width: 120px;
        background: white url(/images/btn_large_signup.png) top left no-repeat; }
        #content .input_fields #signup_button button span {
          display: none; }

#secondary_content {
  width: 300px; }
  #secondary_content .form_marketing {
    width: 300px;
    background: white url(/images/background_signup_sidebar_bottom.png) bottom left no-repeat; }
    #secondary_content .form_marketing span {
      display: block;
      height: 15px;
      background: white url(/images/background_signup_sidebar_top.png) top left no-repeat; }
    #secondary_content .form_marketing h4 {
      padding: 10px 30px 0 30px; }
    #secondary_content .form_marketing ul {
      background-color: transparent;
      padding: 10px 30px 30px 30px; }
