#logo {
  margin-top: 5px;
}

.yellow_button, 
.blue_button, 
.green_button, 
.black_button, 
.grey_button_big,
h1 {
  text-transform: uppercase;  
}

/* Rails error explanation */
.label_based.form_elements #errorExplanation {
  margin-left: 152px;
}

#errorExplanation {
  padding: 7px;
  border: 1px solid #e09597;
  background: #ffeded;
  color: #7d0000;
  margin-bottom: 2em;
}

#errorExplanation ul li {
  font-size: 0.9em;
  list-style-type: disc;
  margin-left: 1.4em;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  font-size: 1em;
  color: #7d0000;
  text-transform: none;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e09597;
  margin-bottom: 1em;
}

#errorExplanation p {
  color: #333;
  margin: 1em 0 0.5em 0;
  padding: 5px;
}


/* MSN header content */
#msn_header {
  background: #333 url("../images/msn_header_bg.gif") repeat-x 0 bottom;
  border-bottom: 2px solid #ccc;
}

#msn_header_container {
  padding-top: 10px;
}

#msn_header .wrapper, #msn_nav_extension ul {
  width: 960px;
  margin: 0px auto;
  text-align: left;
}

#msn_nav_extension ul {
  width: 942px;
}

#msn_header, #msn_header a, #msn_nav_extension {
  font-size: 0.95em;
  color: #fff;
}

#msn_header .msn_main {
  padding: 5px 5px 0px 0px;
  margin: 0px 5px;
  height: 20px;
}

#msn_header .msn_main .msn_navigation li {
  border: 1px solid #717171;
  display: block;
  margin-right: 4px;
  float: left;
}

#msn_header .msn_main .msn_navigation li a {
  background: url("../images/msn_header.gif") repeat-x 0px -18px;
  padding: 0px 9px;
  line-height: 18px;
  height: 18px;
  float: left;
  display: block;
  width: auto;
}

#msn_header .msn_main .msn_navigation li.active a {
  background-position: 0px 0px;
}

#msn_header .msn_main .msn_navigation li.more a {
  padding-right: 7px
}

#msn_header .msn_main .msn_navigation li.open {
  border: 1px solid #000;
  border-bottom: none;
}

#msn_header .msn_main .msn_navigation li.open a {
  color: #666;
  background-position: 0px -36px !important;
}

#msn_header .msn_main .msn_navigation .more_wrapper {
  background: url("../images/msn_header_arrow.gif") no-repeat right top;
  padding-right: 15px;
  display: block;
}

#msn_header .msn_main .msn_navigation ul, #msn_header .sub .msn_navigation {
  list-style: none;
}

#msn_header .msn_main .msn_navigation li.open .more_wrapper {
  background-position: right bottom;
}

#msn_header .msn_main .msn_sisters {
  margin-top:  2px;
  float: right;
  list-style: none;
}

#msn_header .msn_main .msn_sisters li {
  border-right: 1px solid #717171;
  padding: 0px 8px;
  float: left;
}

#msn_header .portal {
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#msn_header .portal .msn_sisters {
  padding:  3px 0px;
  width: 18.5%;
  float: left;
}

#msn_header .portal .msn_sisters li {
  font-weight: bold;
}

#msn_header .portal .msn_sisters a {
  background-repeat:  no-repeat;
  line-height: 20px;
  height: 20px;
  padding-left: 28px;
  display: block;
}

#msn_header .portal .msn_sisters li.messenger a {
  background-image: url("http://tk2.stb00.s-msn.com/i/DE/73EA3A497EB807310219A1C4D1E9E.gif");
}

#msn_header .portal .msn_sisters li.messenger_ca a {
  background-image: url("http://colstb.msn.com/i/E3/6C1DD5E3386DEAE0954D8340F25A.gif");
  background-position: -2px -3px;
}

#msn_header .portal .msn_sisters li.hotmail a {
  background-image: url("http://tk2.stb00.s-msn.com/i/F6/528E19AA57C59BD28F9241C1469F1.gif");
}

#msn_header .portal .msn_sisters li.hotmail_ca a {
  background-image: url("http://colstb.msn.com/i/B6/32E46DE281A68B9C33FC582D2569D.gif");
  background-position: -2px -3px;
}

.msncaen #msn_header .portal .msn_sisters li.hotmail a {
  background-image: url("http://colstb.msn.com/i/B6/32E46DE281A68B9C33FC582D2569D.gif");
}

#msn_header .portal .msn_sisters li.repertoire a {
  background-image: url("http://colstb.msn.com/i/78/7CE57843948D6DF13E79A2DE4E15C.gif");
}

#msn_header .portal .msn_sisters li.spaces a {
  background-image: url("http://tk2.stb00.s-msn.com/i/34/B9980C26AD2EFDA65959ED5C555BE.gif");
}

#msn_header .portal .msn_sisters li.my a {
  background-image: url("http://blstb.msn.com/i/48/6CDE404B4BFEC334D023E5422081E0.gif");
}

#msn_header .portal .msn_sisters li.shopping a {
  background-image: url("http://tk2.stb01.s-msn.com/i/62/4CDB82E7A6B07B3897D5D2436D73.gif");
  background-position: -2px 0px;
}

#msn_header .portal .msn_sections {
  margin: 3px 0px;
  width: 81.5%;
  float: left;
}

#msn_header .portal .msn_sections li {
  width: 20%;
  float:  left;
}

#msn_header .portal .msn_sections li.last {
  width: 20%;
  float:  left;
  font-weight: bold;
}


#msn_header li.last {
  border: none !important;
  padding-right: none !important;
}

#msn_header .sub {
  margin-top: 4px;
  height: 19px;
}

#msn_header .sub .msn_navigation .before_active {
  border: none;
}

#msn_header .sub .msn_navigation li {
  line-height: 12px;
  border-right: 1px solid #717171;
  margin: 4px 0px 0px;
  padding: 0px 9px;
  float: left;
}

#msn_nav_extension {
  padding: 2px 0px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: block;
}

#msn_nav_extension li {
  display:  inline;
  padding-right: 5px;
}

#msn_header .portal a, #msn_header .sub a {
  color: #2e5e7f;
}

#msn_header .sub li.active {
  margin-top: 2px;
  background: #fff;
  padding: 0px 7px;
  height: 16px;
  border: 1px solid #ccc;
  border-bottom: 0;
  font-weight: bold;
}

/* -----------------------------------------------------
P.I.E. FLOAT CLEARING
www.positioniseverything.net/easyclearing.html
 ----------------------------------------------------- */
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Fixes IE/Mac */
.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* End - MSN header content */



/* MSN footer content */
#msn_footer { background: #e0e0e0; height: 100px; margin: 0 auto; position: relative; width: 952px; }
#msn_footer .inner { padding: 15px 25px 0 25px; }
#msn_footer .copyright_info { float: right; position: relative; top: 10px; right: 22px; }
#msn_footer .copyright_info li { display: block; float: left; }
#msn_footer .copyright_info .copyright { padding-right: 10px; margin-right: 10px; border-right: 1px solid #999; position: relative; top: 4px;}
#msn_footer .logo { display: block; height: 20px; width: 121px; background: url(/images/logo_microsoft.png) 0 0 no-repeat; text-indent: -5000px; }
#msn_footer ul.left { display: inline; float: left; }
#msn_footer ul.right { display: inline; float: right; text-align: right; }
#msn_footer li { display: inline; margin-right: 20px; }
#msn_footer li.left { display: inline; float: left; }
#msn_footer li.right { display: inline; float: right; text-align: right; }
#msn_footer li.first { margin-right: 0; }
#msn_footer li a { color: #258; font-size: 11px; }
/* End - MSN footer content */


/* Avatar related style */
img.avatar {
  width: 62px;
  height: 62px;
  padding: 1px;
}

img.avatar.tiny {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
}

img.avatar.really_tiny {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
}

img.avatar.medium {
  width: 86px;
  height: 86px;
}
img.avatar.new_medium {
  width: 150px;
  height: 150px;
  padding: 0px;
  border: none;
}
img.avatar.new_small {
  width: 25px;
  height: 25px;
  padding: 0px;
  border: none;
}


img.avatar.small {
  width: 60px;
  height: 60px;
}

img.avatar.search {
  width: 50px;
  height: 50px;
}

img.avatar.search_station {
  width: 70px;
  height: 70px;
}

img.avatar.album {
  width: 300px;
  height: 300px;
  padding: 0;
  border: none;
}
/* End - Avatar related style */

#msn_header {
  background: url("/images/msn_header_bg.gif") repeat-x scroll 0 bottom #333333;
}
#msn_second_nav_bar{
  width: 950px;
  margin: 0 auto;
}
.ca_msn_nav_language{
  float: right;
  margin-right: 20px;
}
#msn_nav_extension a{
  color: #025D8C
}
.artist_box img.artist_icon  {
  width: 25px;
  height: 25px;
}

img.artist_icon_box {
  width: 150px;
  height: 149px;
}

img.artist_icon_box.tiny {
  width: 30px;
  height: 30px;
}

.artist_box .overlay a,
.overlay_content a {
  color: #FFF;
}

#msn_footer {
  width: 952px;
  margin: 10px auto;
}

.search_results_header { 
	display: block; 
	float: left; 
	text-transform: uppercase; 
}

.search_result { 
	line-height: 35px; 
	margin: 0 0 10px 0; 
	height: 35px; 
}

.search_results h1 { 
	text-transform: uppercase; 
}

.search_results_ajax { 
	display: none; 
	float: right; 
	margin-right: 10px; 
}

#pages {
  width: 950px;
  margin: 0px auto;
  text-align: left;
}

#pages_internal {
  padding: 10px 35px;
  width: 900px;
}

#pages_internal p {
  margin: 5px 0px 0px 0px;
}

#pages_internal h4, #pages_internal h2 {
  margin: 20px 0px 0px 0px;
}

#pages_internal h4 {
  font-size: 15px;
}

#pages_internal ul {
  list-style: none;
  margin: 10px 0px;
}

#pages_internal ol {
  list-style-position: inside;
  padding: 0px;
  margin: 10px 0px;
}


#pages_internal h2 {
  border-left:5px solid #00A5F8;
  font-size: 19px;
  font-weight:bold;
  line-height:18px;
  margin-bottom:18px;
  padding-left:5px;
  text-transform: uppercase;
}

#pages_internal .row {
  margin-bottom: 10px;
}


.chars_counter {
  float: right;
  color: #cccccc;
  font-size: 1.5em
}

.grey.small {
  font-size: 0.9em;
}

.comments_list .follower_image {
  float: left;
  width: 90%;
}


.comments_list .follower_text {
  margin: 0px 0px 0px 10px;
  float: left;
}

.medium_thumb a {
    font-size: 11px;
    line-height: 14px;
    display: block;
}

img.avatar_four_thumbs_small {
  width: 25px;
  height: 25px;
}

img.avatar_four_thumbs {
  width: 39px;
  height: 39px;
}

img.avatar_four_thumbs_medium {
  width: 39px;
  height: 39px;
}

img.avatar_four_thumbs_big {
  width: 73px;
  height: 73px;
}

#network_comment {
  outline: 0;
}

.side_user_box img.album {
  width:150px;
}

.stations_list .subcription_text {
    float: right;
    width: 300px;
    line-height: 15px;
    font-size: 11px;
}

.stations_list big {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}
 
.subcription_creator img.avatar {
        width: 50px;
        height: 50px;
}

.spaced_img.tiny {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
}

.slug_box {
    width: 425px;
    height: 26px;
    padding-top : 10px;
}

.form_row .delete_info label {
  font-size: 12px;
}

#delete_account_form label.error {
  margin-top: 8px;
  margin-right: 66px;
  float: right;
  color: red;
  height: 23px;
  font-weight: bold;
  padding-left: 30px;
}

#delete_account_form div div label.error {
  margin-right: 15px;
}
 
#avatar_upload_button {
  position: absolute;
  top: 0px;
  left: 0px;
}
 
label.label_holder input.file{
  position: relative;
  height: 100%;
  width: auto;
  opacity: 0;
  -moz-opacity: 0;
  left:-198px;top:0px;
  position: relative;
  z-index:2;
  filter: alpha(opacity=0)!important; /* fix for ie */
}
 
label.label_holder{
  width: 125px;
  height: 40px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
 
#avatar_delete {
  margin-left: 135px;
  position:absolute;
  padding-top: 55px;
  padding-left: 160px;
}

#basic_info_form .avatar {
  float : left;
 }
 
#avatar_image img {
  height: 150px;
  width: 150px;
}
 
#avatar_upload_info {
  margin-top: 60px;
  margin-left: 10px;
  font-weight: bold;
  color: green;
 }
 
.latest_tweet{
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
 
/* User Data */
.user_data_logged_in  { }
.user_data_logged_out { display: none!important; }

.station_activity img {
  float: left;
  margin: 0px 10px 0px 0px;
}

#radio_player {
  border-bottom: solid 1px #ccc;
}

.sorting {
  text-transform: uppercase;
}

#container .station { 
	width: 258px;
	height: 65px;
}

#container .station .avatar { 
	float: left; 
	width: 64px; 
	height: 64px; 
}

#container .station_info { 
	float: right; 
	width: 180px; 
}

#container .station_info h2 { 
	padding: 0; 
	margin: 0; 
	font-size: 14px; 
}

#top_stations h1 {
	margin-bottom: 21px;
}

#delete_confirm h2 {
	margin-bottom: 30px;
	float: left;
	font-weight: normal;
}

#delete_confirm big {
	margin-right: 10px;
}
