#logo {
  margin-top: 5px;
}

.yellow_button,
.blue_button,
.green_button,
.black_button,
.grey_button_big,
h1, h5 {
  text-transform: uppercase;
}

/* Rails error explanation */
.label_based.form_elements #errorExplanation {
  margin-left: 152px;
}

#errorExplanation {
  padding: 7px;
  border: 1px solid #e09597;
  background: #ffeded;
  color: #7d0000;
  margin-bottom: 2em;
}

#errorExplanation ul li {
  font-size: 0.9em;
  list-style-type: disc;
  margin-left: 1.4em;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  font-size: 1em;
  color: #7d0000;
  text-transform: none;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e09597;
  margin-bottom: 1em;
}

#errorExplanation p {
  color: #333;
  margin: 1em 0 0.5em 0;
  padding: 5px;
}

/* Banner Header */
#top_banner_container {
 padding: 10px 0;
 background-color: #333;
}

/* MSN header content */
#msn_header {
  background: #333 url("../images/msn_header_bg.gif") repeat-x 0 bottom;
  border-bottom: 2px solid #ccc;
}

#msn_header .wrapper, #msn_nav_extension ul {
  width: 960px;
  margin: 0px auto;
  text-align: left;
}

#msn_nav_extension ul {
  width: 942px;
}

#msn_header, #msn_header a, #msn_nav_extension {
  font-size: 0.95em;
  color: #fff;
}

#msn_header .msn_main {
  padding: 5px 5px 0px 0px;
  margin: 0px 5px;
  height: 20px;
}

#msn_header .msn_main .msn_navigation li {
  border: 1px solid #717171;
  display: block;
  margin-right: 4px;
  float: left;
}

#msn_header .msn_main .msn_navigation li a {
  background: url("../images/msn_header.gif") repeat-x 0px -18px;
  padding: 0px 9px;
  line-height: 18px;
  height: 18px;
  float: left;
  display: block;
  width: auto;
}

#msn_header .msn_main .msn_navigation li.active a {
  background-position: 0px 0px;
}

#msn_header .msn_main .msn_navigation li.more a {
  padding-right: 7px
}

#msn_header .msn_main .msn_navigation li.open {
  border: 1px solid #000;
  border-bottom: none;
}

#msn_header .msn_main .msn_navigation li.open a {
  color: #666;
  background-position: 0px -36px !important;
}

#msn_header .msn_main .msn_navigation .more_wrapper {
  background: url("../images/msn_header_arrow.gif") no-repeat right top;
  padding-right: 15px;
  display: block;
}

#msn_header .msn_main .msn_navigation ul, #msn_header .sub .msn_navigation {
  list-style: none;
}

#msn_header .msn_main .msn_navigation li.open .more_wrapper {
  background-position: right bottom;
}

#msn_header .msn_main .msn_sisters {
  margin-top:  2px;
  float: right;
  list-style: none;
}

#msn_header .msn_main .msn_sisters li {
  border-right: 1px solid #717171;
  padding: 0px 8px;
  float: left;
}

#msn_header .portal {
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#msn_header .portal .msn_sisters {
  padding:  3px 0px;
  width: 18.5%;
  float: left;
}

#msn_header .portal .msn_sisters li {
  font-weight: bold;
}

#msn_header .portal .msn_sisters a {
  background-repeat:  no-repeat;
  line-height: 20px;
  height: 20px;
  padding-left: 28px;
  display: block;
}

#msn_header .portal ul.msn_sisters{
  list-style: none;
}

#msn_header .portal .msn_sisters li.messenger_ca a {
  background-image: url("http://colstb.msn.com/i/E3/6C1DD5E3386DEAE0954D8340F25A.gif");
  background-position: -2px -3px;
}

#msn_header .portal .msn_sisters li.messenger a {
  background-image: url("http://col.stb.s-msn.com/i/DE/73EA3A497EB807310219A1C4D1E9E.gif");
}

#msn_header .portal .msn_sisters li.hotmail a {
  background-image: url("http://tk2.stb00.s-msn.com/i/F6/528E19AA57C59BD28F9241C1469F1.gif");
}

#msn_header .portal .msn_sisters li.hotmail_ca a {
  background-image: url("http://colstb.msn.com/i/B6/32E46DE281A68B9C33FC582D2569D.gif");
  background-position: -2px -3px;
}

.msncaen #msn_header .portal .msn_sisters li.hotmail a {
  background-image: url("http://col.stb.s-msn.com/i/F6/528E19AA57C59BD28F9241C1469F1.gif");
}

#msn_header .portal .msn_sisters li.repertoire a {
  background-image: url("http://colstb.msn.com/i/78/7CE57843948D6DF13E79A2DE4E15C.gif");
}

#msn_header .portal .msn_sisters li.spaces a {
  background-image: url("http://tk2.stb00.s-msn.com/i/34/B9980C26AD2EFDA65959ED5C555BE.gif");
}

#msn_header .portal .msn_sisters li.my a {
  background-image: url("http://blstb.msn.com/i/48/6CDE404B4BFEC334D023E5422081E0.gif");
}

#msn_header .portal .msn_sisters li.shopping a {
  background-image: url("http://tk2.stb01.s-msn.com/i/62/4CDB82E7A6B07B3897D5D2436D73.gif");
  background-position: -2px 0px;
}

#msn_header .portal .msn_sisters li.cellular a {
  background-image: url("http://col.stb.s-msn.com/i/B5/9D11E6BA6F390349C14A411D84A5A.jpg");
}

#msn_header .portal .msn_sisters li.video a {
  background-image: url("http://col.stb.s-msn.com/i/7F/79C8BB91FEA4B86CBB1627F6C8A447.png");
}



#msn_header .portal .msn_sections {
  margin: 3px 0px;
  width: 81.5%;
  float: left;
}

#msn_header .portal .msn_sections li {
  width: 20%;
  float:  left;
  padding-bottom:3px;
}

#msn_header .portal .msn_sections li.last {
  width: 20%;
  float:  left;
  font-weight: bold;
}


#msn_header li.last {
  border: none !important;
  padding-right: none !important;
}

#msn_header .sub {
  margin-top: 4px;
  height: 19px;
}

#msn_header .sub .msn_navigation .before_active {
  border: none;
}

#msn_header .sub .msn_navigation li {
  line-height: 12px;
  border-right: 1px solid #717171;
  margin: 4px 0px 0px;
  padding: 0px 9px;
  float: left;
}

#msn_nav_extension {
  padding: 2px 0px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: block;
}

#msn_nav_extension li {
  display:  inline;
  padding-right: 5px;
}

#msn_header .portal a, #msn_header .sub a {
  color: #2e5e7f;
}

#msn_header .sub li.active {
  margin-top: 2px;
  background: #fff;
  padding: 0px 7px;
  height: 16px;
  border: 1px solid #ccc;
  border-bottom: 0;
  font-weight: bold;
}

/* -----------------------------------------------------
P.I.E. FLOAT CLEARING
www.positioniseverything.net/easyclearing.html
 ----------------------------------------------------- */
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Fixes IE/Mac */
.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* End - MSN header content */



/* MSN footer content */
#msn_footer { background: #e0e0e0; height: 100px; margin: 0 auto; position: relative; width: 952px; }
#msn_footer .inner { padding: 15px 25px 0 25px; }
#msn_footer .copyright_info { float: right; position: relative; top: 10px; right: 22px; }
#msn_footer .copyright_info li { display: block; float: left; }
#msn_footer .copyright_info .copyright { padding-right: 10px; margin-right: 10px; border-right: 1px solid #999; position: relative; top: 4px;}
#msn_footer .logo { display: block; height: 20px; width: 121px; background: url(/images/logo_microsoft.png) 0 0 no-repeat; text-indent: -5000px; }
#msn_footer ul.left { display: inline; float: left; }
#msn_footer ul.right { display: inline; float: right; text-align: right; }
#msn_footer li { display: inline; margin-right: 20px; }
#msn_footer li.left { display: inline; float: left; }
#msn_footer li.right { display: inline; float: right; text-align: right; }
#msn_footer li.first { margin-right: 0; }
#msn_footer li a { color: #258; font-size: 11px; }
/* End - MSN footer content */


/* Avatar related style */
img.avatar {
  width: 62px;
  height: 62px;
  padding: 1px;
}

img.avatar.tiny {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
}

img.avatar.really_tiny {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
}

img.avatar.medium {
  width: 86px;
  height: 86px;
}
img.avatar.new_medium {
  width: 150px;
  height: 150px;
  padding: 0px;
  border: none;
}

img.avatar.large {
  width: 150px;
  height: 150px;
  padding: 0px;
  border: none;
}

img.avatar.new_small {
  width: 25px;
  height: 25px;
  padding: 0px;
  border: none;
}


img.avatar.small {
  width: 50px;
  height: 50px;
}

img.avatar.search {
  width: 50px;
  height: 50px;
}

img.avatar.search_station {
  width: 70px;
  height: 70px;
}

img.avatar.album {
  width: 300px;
  height: 300px;
  padding: 0;
  border: none;
}
/* End - Avatar related style */

#msn_header {
  background: url("/images/msn_header_bg.gif") repeat-x scroll 0 bottom #333333;
}
#msn_second_nav_bar{
  width: 950px;
  margin: 0 auto;
}
.ca_msn_nav_language{
  float: right;
  margin-right: 20px;
}
#msn_nav_extension a{
  color: #025D8C
}
.artist_box img.artist_icon  {
  width: 25px;
  height: 25px;
}

img.artist_icon_box {
  width: 150px;
  height: 149px;
}

img.artist_icon_box.tiny {
  width: 30px;
  height: 30px;
}

#msn_footer {
  width: 952px;
  margin: 10px auto;
}

.search_results_header {
	display: block;
	float: left;
	text-transform: uppercase;
}

.search_result {
	line-height: 35px;
	margin: 0 0 10px 0;
	height: 35px;
}

.search_results h1, .search_results h5 {
	text-transform: uppercase;
}

.search_results_ajax {
	display: none;
	float:none;
	left:260px;
	margin-right:10px;
	position:relative;
	top:-20px;
}

#pages {
  width: 950px;
  margin: 0px auto;
  text-align: left;
}

#pages_internal {
  padding: 10px 35px;
  width: 900px;
}

#pages_internal p {
  margin: 5px 0px 0px 0px;
}

#pages_internal h4, #pages_internal h2, #pages_internal h1.alternate {
  margin: 20px 0px 0px 0px;
}

#pages_internal h1.alternate {
  padding: 30px 40px;
  color: #191919;
  height: inherit;
}

#pages_internal h4 {
  font-size: 15px;
}

#pages_internal ul {
  list-style: none;
  margin: 10px 0px;
}

#pages_internal ol {
  list-style-position: inside;
  padding: 0px;
  margin: 10px 0px;
}


#pages_internal h2, #pages_internal h1.alternate {
  border-left:5px solid #00A5F8;
  font-size: 19px;
  font-weight:bold;
  line-height:18px;
  margin-bottom:18px;
  padding-left:5px;
  text-transform: uppercase;
}

#pages_internal .row {
  margin-bottom: 10px;
}


.chars_counter {
  float: right;
  margin-top: -27px;
  color: #cccccc;
  font-size: 1.5em;
}

.grey.small {
  font-size: 0.9em;
}

.comments_list .follower_image {
  float: left;
  width: 90%;
}

.comments_list .comment_icon {
  width: 50px;
  height: 50px;
}


.medium_thumb a {
    font-size: 11px;
    line-height: 14px;
    display: block;
}

img.avatar_four_thumbs_small {
  width: 25px;
  height: 25px;
}

img.avatar_four_thumbs {
  width: 39px;
  height: 39px;
}

img.avatar_four_thumbs_medium {
  width: 39px;
  height: 39px;
}

img.avatar_four_thumbs_big {
  width: 74px;
  height: 74px;
}

#network_comment {
  outline: 0;
}

.side_user_box img.album {
  width:150px;
  height:150px;
}

.stations_list .subcription_text {
    float: right;
    width: 300px;
    line-height: 15px;
    font-size: 11px;
}

.stations_list big {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.subcription_creator img.avatar {
    float: left;
    width: 50px;
    height: 50px;
}

.spaced_img.tiny {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
}

.slug_box {
    width: 425px;
    height: 26px;
    padding-top : 10px;
}

.form_row .delete_info label {
  font-size: 12px;
}

#delete_account_form label.error {
  margin-top: 8px;
  margin-right: 66px;
  float: right;
  color: red;
  height: 23px;
  font-weight: bold;
  padding-left: 30px;
}

#delete_account_form div div label.error {
  margin-right: 15px;
}

#avatar_upload_button {
  position: absolute;
  top: 0px;
  left: 0px;
}

label.label_holder input.file{
  position: relative;
  height: 100%;
  width: auto;
  opacity: 0;
  -moz-opacity: 0;
  left:-40px;top:0px;
  position: relative;
  z-index:2;
  filter: alpha(opacity=0)!important; /* fix for ie */
}

label.label_holder{
  width: 125px;
  height: 40px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

#avatar_delete {
  margin-left: 135px;
  position:absolute;
  padding-top: 55px;
  padding-left: 160px;
}

#basic_info_form .avatar {
  float : left;
 }

#avatar_image img {
  height: 150px;
  width: 150px;
}

#avatar_upload_info {
  margin-top: 60px;
  margin-left: 10px;
  font-weight: bold;
  color: green;
 }

.latest_tweet{
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

/* User Data */
.user_data_logged_in  { }
.user_data_logged_out { display: none!important; }

.station_activity img {
  float: left;
  margin: 0px 10px 0px 0px;
}

#radio_player {
  border-bottom: solid 1px #ccc;
}

.sorting {
  text-transform: uppercase;
}

#container .station {
	width: 258px;
	height: 63px;
}

#container .station .avatar {
	float: left;
	width: 50px;
	height: 50px;
}

#container .station_info {
	float: left;
	width: 180px;
	margin-left: 10px;
}

#container .station_info h2 {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

#top_stations h1, #top_stations h5 {
	margin-bottom: 21px;
}

#delete_confirm h2 {
	margin-bottom: 30px;
	float: left;
	font-weight: normal;
}

#delete_confirm big {
	margin-right: 10px;
}

.cyloop_msn_header{
background: #333333 !important;
}

li.scope_toggle .mini_loader{
	width: 18px;
	height: 18px;
	margin-left: 10px;
	margin-top: 3px;
}

#artists_result .followers_list .follower_text, #users_result .followers_list .follower_text {
	width: 200px;
	margin-left: 10px;
}

.edit_station_form .four_thumbs {
  float: left;
}

.country select {
  width: 440px;
}

#create_station_submit {
	float: left;
	margin-left: 10px;
}

#create_new_station_form.album_detail .form_row.last {
	padding: 5px 0 6px 0;
}


body.msn div#container {
	width: 1000px;
	margin: 0 auto;
        background: #fff;
}
#pager {
	margin-left: -210px;
}

/*div#homepage_content .tabs_column {
	margin-top: 30px;
}

div#homepage_content .tabs_column .tabs {
	display: none;
}
*/
div#top_stations {
	padding-top: 22px;
}

div#top_stations {
	padding-top: 22px;
}

div#now_playing_user_station {
	width: 350px;
}

#top_stations .station {
	height: 51px;
	font-size: 11px;
}
.play_left_label{
  margin:0 0 5px 10px;
  float:left;
  width:90px
}

.tags_contains {
	height:53px;
	line-height:16px;
}

.tabs_content .text {
	padding: 0 20px 10px
}
.view_more_activity {
  float: right;
  margin-top: -24px;
}

.tags_contains {
	height: 53px;
	line-height: 16px;
}

.news_content{
  width:630px;
  height:125px;
  float:left;
  padding-right:20px;
}

.news_item{
  width:315px;
  float:left;
  padding:5px 0px;
  border-bottom:#ccc 1px solid;
}
.news_item_last{
  width:315px;
  float:left;
  padding:5px 0px;
}
.news_item a, .news_item_last a{
  margin:0px;
  font-size:15px;
  font-weight:bold;
}
.promo_content{
  width:300px;
  float:left;
}
#error_left_collumn{
  float:left;
  width:600px;
}
#error_right_collumn{
  padding-top:40px;
}
#error_pages h2{
  border: none;
  text-align: center;
  padding-left:0px;
  color: #ccc;
  text-transform: none;
  font-size:26px;
}

.blue_button_press {
  background: url("../images/grey_button_big_left.gif") no-repeat left top;
  cursor: pointer;
}
.blue_button_press span {
  background: url("../images/grey_button_big_right.gif") no-repeat right top;
  cursor: pointer;
}
.blue_button_press span span {
  background: #bdbdbd;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}
.white{
	color: #fff !important;
}
.overlay_avatar{
	float:left;
	width:35px;
}
.overlay_description{
	float:left;
	width:95px;
}

/* msnlatam 3rd_party_branding */
body.msnlatam{
  background: url("/images/bg.gif") repeat-x !important;
}
#msn_header.msnlatam{
  background: #333333 !important;
  background-image: none !important;
  border: none;
}
.msnlatam .wrapper{
  width: auto !important;
}
.msnlatam .wrapper .msn_main{
  padding:5px 5px 7px 0 !important;
}
#msn_header .msnlatam .msn_main .msn_navigation li a{
  padding:0px;
}
.msnlatam .msn_main ul.msn_navigation li {
  background-image:url("/images/crossnetnav.gif");
  padding: 0.25em 0.6em 0.35em 0.8em;
  font-family: tahoma,sans-serif;
  font-size: 100%
}
.msnlatam .msn_main ul.msn_navigation li.selected {
  background-image:url("/images/chansel.gif");
  background-position:0 50%;
}
.msnlatam .msn_main ul.msn_navigation li a{
  background: none !important;
  font-size: none;
  line-height: none;
}
.msnlatam .msn_main ul.msn_navigation li a.expand{
  background-image: url("/images/expand.gif") !important;
  background-position: 100% 65% !important;
  background-repeat: no-repeat !important;
  padding-right: 1.35em !important;
}

.msnlatam .msn_main ul.msn_sisters li a{
  font-family: tahoma,sans-serif;
  font-size: 1em !important;
}
.msnlatam #brand{
  background-image: url("/images/glow.gif") !important;
  background-position:0 0;
  background-repeat:no-repeat;
  height:9.85ex;
  margin-top:2px;
  width:auto;
}
.msnlatam #brand #logo{
  margin:5px 0 0 5px;
  width:39%;

}
.msnlatam #brand #logo img {
  float:left;
  padding-left:0;
  width:118px;
}
.msnlatam #brand #logo .name {
  float:left;
  font:200%/0.9em "Segoe UI",tahoma,arial,sans-serif;
  padding:0.7em 0 0.2em;
  width:61%;
  background-color:transparent;
  color:#FFFFFF;
}
.msnlatam #brand #search {
  float:left;
  margin-bottom:6px;
  margin-top:0.1em;
}
.msnlatam #brand #search label {
  display:none;
}
.msnlatam #brand #search #ntwscopes {
  height:1.55em;
  width:384px;
}
.msnlatam #brand #search #leftcorner,
.msnlatam #brand #search #searchform,
.msnlatam #brand #search #ntwlogo,
.msnlatam #brand #search #rightcorner {
  float:left;
  height:36px !important;
}
.msnlatam #brand #search #leftcorner {
  clear:left;
  width:6px;
  background:url("/images/leftedge_6x36.png") no-repeat scroll left top transparent;
}
.msnlatam #brand #search #searchform {
  position:relative;
  width:312px;
  background:url("/images/gradient_1x36.png") repeat-x scroll left top transparent;
}
.msnlatam #brand #search #ntwlogo {
  background:url("/images/gradient_1x36.png") repeat-x scroll left top transparent;
}
.msnlatam #brand #search #rightcorner {
  width:6px;
  background:url("/images/rightedge_6x36.png") no-repeat scroll right top transparent;
}
.msnlatam #brand #search #ntwlogo {
  background:url("/images/gradient_1x36.png") repeat-x scroll left top transparent;
}
.msnlatam #brand #search #ntwlogo #logoimg{
  width:56px;
  height: 29px;
  background:url('http://blstc.msn.com/br/gbl/css/9/decoration/logo_56x29.png') repeat-x scroll left top transparent;
}
.msnlatam #brand #search #searchform .searchsubmit {
  float:left;
  height:22px;
  margin:2px;
  width:22px;
}
.msnlatam #brand #search #searchform .searchinput {
  float:left;
  padding-left:5px;
}
.msnlatam #brand #search .searchinputarea, .msnlatam #brand #search .searchform {
border:1px solid #333333;
}
.msnlatam #brand #search #searchform .searchinputarea {
  background:none repeat scroll 0 0 #FFFFFF;
  height:26px;
  left:-1px;
  margin-top:4px;
  position:relative;
  width:312px;
}
.msnlatam #brand #search .searchinputarea {
border:1px solid #333333;
}

.msnlatam #brand #search #ntwlogo input {
display:block;
margin-left:6px;
position:relative;
top:6px;
}


.msnlatam #brand #search .searchinputarea #q {
  border:0 none;
  color:#6A8CA4;
  display:block;
  float:left;
  font-family:"Segoe UI",tahoma,arial,sans-serif;
  font-size:13px;
  font-style:italic;
  left:-5px;
  margin-top:3px;
  padding:0 1px 0 6px;
  position:relative;
  width:274px;
}

.sub.msnlatam{
  background: url("/images/hn.gif") repeat !important;
}
.sub ul.msn_navigation.msnlatam li, .sub ul.msn_navigation.msnlatam li ul{
   display:inline;
 }
.sub ul.msn_navigation.msnlatam li.expanded.notselected {
  font-weight: bold;
}
.sub ul.msn_navigation.msnlatam li.selected a,
.sub ul.msn_navigation.msnlatam li.notselected a {
  background-image:none;
  border:1px solid;
  padding-bottom:0.3em;
  position:inherit;
  z-index:10;
}
.sub ul.msn_navigation.msnlatam li.expanded.notselected ul{
  float: left;
  width:100%
}


#recommended_stations_loader{
	left: 445px;
	position: relative;
	top: 10px;
}

#recommended_stations_container{
	height: 170px;
}

#recommended_items {
	display: none;
}

.follows_count{
  font-weight: bold;
}

.albums_item {
   padding: 0px 0px 7px;
   margin-bottom: 17px;
   border-bottom: solid 1px #ccc;
   position: relative;
   zoom: 1;
}

div.albums_item div.reviews {
    width: 300px;
    float: right;
    color: #333;
    position: relative;
}

.reviews .title {
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    line-height: 14px;
    margin-bottom: 8px;
}

.reviews .reviews_stars {
    float: right;
}

.review_item {
    margin-bottom: 16px;
    position: relative;
    zoom: 1;
}

.review_item .review_icon {
    float: left;
}

.review_item .review_creator {
    float: left;
    width: 100px;
    /* 90px*/
    padding-left: 8px;
    font-size: 11px;
    line-height: 15px;
}

.review_creator_large {
    width: 240px;
    float: left;
    padding-left: 10px;
}

.review_item .review_text {
    float: right;
    width: 120px;
    /* 130px*/
    padding-right: 10px;
    font-size: 11px;
    line-height: 13px;
    position: relative;
    z-index: 1;
}

.reviews .view_all {
    text-align: right;
    margin-top: -14px;
}

.reviews small {
    font-size: 11px;
    line-height: 13px;
}

.review_creator_stars2 {
    display: inline-block;
    padding: 5px 0px;
}

.rev_text {
    padding: 10px 0px;
		height: 31px;
		overflow: hidden;
}

.comments_list {
    list-style-type: none;
    padding-bottom: 10px;
}

.comments_list li {
    padding: 5px 0px;
    border-bottom: solid 1px #d9d9d9;
}

.comments_list .comment_icon {
    float: left;
}

.comments_list .comment_text {
    float: right;
    width: 400px;
    word-wrap: break-word;
}

.comments_list .comment_text span.grey {
    font-size: 11px;
    line-height: 14px;
}

.ad_box {
    margin-bottom: 20px;
}

.box_content .small_thumb {
    margin-right: 12px;
}

.small_thumb.last_thumb, .medium_thumb.last_thumb {
    float: right;
    margin-right: 0px;
}

.top_mixes_list {
    list-style-type: none;
}

.top_mixes_list li {
    padding-bottom: 10px;
}

.top_mixes_list li .top_mix_image {
    float: left;
}

.top_mixes_list li .top_mix_text {
    float: right;
    width: 235px;
    font-size: 11px;
    line-height: 14px;
}

.top_mixes_list li .top_mix_text big {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
}

.badges_list {
    position: relative;
    padding-bottom: 20px;
    zoom: 1;
}

.recent_activity_list {
    list-style-type: none;
}

.recent_activity_list li {
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 14px;
}

.albums_item {
    padding: 0px 0px 7px;
    margin-bottom: 17px;
    border-bottom: solid 1px #ccc;
    position: relative;
    zoom: 1;
}

.albums_item.reviews_list {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.albums_item.reviews_list .review_item {
    margin-bottom: 0px;
}

.review_close {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.artist_box {
    width: 150px;
    height: 150px;
    position: relative;
    float: left;
    margin: 0px 10px 5px 0px;
    zoom: 1;
}

.artist_box.last_box {
    float: right;
    margin-right: 0px;
}

.artist_box .overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: url("../images/overlay.png") repeat left top;
    width: 100%;
    color: #fff;
    z-index: 3;
}

.artist_box .overlay .visible {
    color: #00a5f8;
    padding: 5px 8px;
    font-weight: bold;
    height: 30px;
    zoom: 1;
}

.artist_box .play_button {
    float: right;
}

.artist_box .hidden {
    padding: 10px 8px 0px;
    height: 100px;
    font-size: 11px;
    line-height: 14px;
    display: none;
}

.artist_box.hover .hidden {
    display: block;
}

.artist_box .artist_icon {
    float: left;
    border: solid 2px #fff;
    margin-right: 6px;
    margin-bottom: 14px;
}

.artist_box .overlay .visible.fh {
    height: 30px;
}

.artist_box.hover .overlay .visible.fh {
    display: none;
}

.artist_box .overlay .visible.fh .play_button {
    position: relative;
    top: 2px;
}

.artist_box .overlay .hidden.fh {
    height: 140px;
}

.artist_box .overlay .hidden.fh b {
    font-size: 12px;
}

.artist_box.pl {
    margin-right: 5px;
}

.artist_box.pl.last_box {
    margin-right: 0px;
}

.playlist_item .artist_box.empty_item {
    background: none repeat scroll 0 0 #D8D8D8;
    height: 150px;
    width: 201px;
}

/*.tags_contains {
  line-height: 20px;
  height: 53px;
}
*/
.tag_links {
  line-height: 20px;
}

.box_buttons {
  position: absolute;
  bottom: 5px;
  right: 8px;
}

div.sorting {
	margin-bottom: 20px;
}

div.mix_sorting_pad {
	height: 10px;
}

.small_btn  {
	display:inline-block;
	height:20px;
	overflow:hidden;
	text-indent:1000px;
	width:20px;
}
.copy_btn {
	background:url("/images/duplicate_button_small.png") no-repeat scroll left top transparent;
}

.edit_btn {
	background:url("/images/edit_button_small.png") no-repeat scroll left top transparent;
}

.tabs a {
	background: url("../images/tab_active.gif") no-repeat scroll left top transparent;
	color: #FFFFFF;
	display: block;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	width: 152px;
}

.tabs_content {
	height: 278px;
}

.tabs a:hover, .tabs a.active {
	background:url("../images/tab_inactive.gif") no-repeat scroll left top transparent;
	color:#333333;
	text-decoration:none;
}

#create_mix_content {
	display: none;
}

.artist_box {
	z-index: 0;
}

.content_search_results_ajax.home {
	float:none;
	left:241px;
	position:relative;
	top:-95px;
}

.album_text2 {
	text-align: left;
}

.playlist_items {
	margin-bottom: 24px;
}

.playlist_item {
	float:left;
	margin:0 13px 10px 0;
}

.big_item_number {
	background:none repeat scroll 0 0 #999999;
	color:#FFFFFF;
	display:block;
	float:left;
	font-size:43.5px;
	font-weight:bold;
	height:130px;
	line-height:45px;
	margin-right:1px;
	padding:10px 0;
	text-align:center;
	text-decoration:none;
	width:50px;
}
.big_item_number:hover {
   background: #00a5f8;
   text-decoration: none;
}

.playlist_item .artist_box {
	margin:0;
}


.latest_playlists_column {
    width: 290px;
    float: right;
}

.list_items .badge_box {
    display: inline-block;
    width: 70px;
    float: left;
    margin-right: 1px;
}

/*.latest_playlists_column .list_items li {
    padding: 10px 0px;
}

.latest_playlists_column .list_items .item_text big {
    display: inline-block;
    margin-bottom: 6px;
    color: #333;
}
*/
.two_columns.mixes {
	position: relative;
}

.top_playlists_column {
    width: 250px;
    float: left;
    margin-right: 20px;
}

.top_playlists_column .list_items .item_text {
    width: 150px;
}

.two_columns .tags_column, .two_columns .top_playlists_column {
    margin-right: 15px;
}

.tags_column  {
	float:left;
	margin-right:20px;
	width:150px;
	height:450px;
	overflow: hidden;
}

.tag_css1 { font-size: 12px !important; }
.tag_css2 { font-size: 14px !important; }
.tag_css3 { font-size: 18px !important; }
.tag_css4 { font-size: 22px !important; }
.tag_css5 { font-size: 26px !important; }

.mix_tags {
  width: 150px;
  text-align: center;
  overflow: hidden;
}

.mix_tags a{
  display: inline-block;
  text-decoration: none;
  font-family: Arial;
  text-align: center;
}

.list_items .item_number {
	background:none repeat scroll 0 0 #999999;
	color:#FFFFFF;
	display:inline-block;
	float:left;
	font-size:15.5px;
	font-weight:bold;
	height:40px;
	line-height:20px;
	margin-right:1px;
	padding:5px 0;
	text-align:center;
	text-decoration:none;
	width:20px;
}

.list_items {
    list-style-type: none;
}

.list_items li {
    padding: 15px 0px;
    border-bottom: solid 1px #ededed;
    zoom: 1;
}

.list_items .item_number {
    display: inline-block;
    width: 20px;
    height: 40px;
    line-height: 20px;
    float: left;
    margin-right: 1px;
    background: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 15.5px;
    font-weight: bold;
    padding: 5px 0px;
		margin-top: 1px;
}

.list_items .item_number:hover {
    background: #00a5f8;
}

.list_items .item_image {
    position: relative;
    display: inline-block;
    float: left;
}

.list_items .play_icon {
    position: absolute;
    right: 1px;
    bottom: 1px;
}

.list_items .item_text {
    float: left;
    font-size: 12px;
    line-height: 13px;
    padding-left: 5px;
}

.list_items .item_text a {
    text-decoration: none;
}

.list_items .item_text a:hover {
    text-decoration: underline;
}

.list_items .item_text big {
    font-size: 14px;
    line-height: 15px;
}

.list_items .item_text small {
    font-size: 11px;
    line-height: 11px;
}

.top_playlists_column .list_items .item_text {
    width: 150px;
}

.list_items .rating {
    display: inline-block;
    padding-top: 2px;
}

.top_djs_column {
    width: 200px;
    float: left;
}

.top_djs_column .list_items .item_text {
    width: 120px;
}

.latest_playlists_column {
    width: 300px;
    float: right;
}

.list_items .badge_box {
    display: inline-block;
    width: 70px;
    float: left;
    margin-right: 1px;
}

.latest_playlists_column .list_items li {
    padding: 10px 0px;
}

.latest_playlists_column .list_items .item_text big {
    display: inline-block;
    margin-bottom: 6px;
    color: #333;
}

.top_djs_column h1, .top_djs_column h5,
.top_playlists_column h1, .top_playlists_column h5 {
	margin-bottom: 5px;
}

.playlist_item.last_item {
    margin-right: 0px;
    float: right;
}

.mixes .search_box .text_input_placeholder {
	margin-left: 55px;
}

.mixes .create_box  {
	left:71px;
	position:absolute;
	top:101px;
	width:384px;
}

.follows_count{
  font-weight: bold;
}


.albums_item {
   padding: 0px 0px 7px;
   margin-bottom: 17px;
   border-bottom: solid 1px #ccc;
   position: relative;
   zoom: 1;
}

div.albums_item div.reviews {
    width: 300px;
    float: right;
    color: #333;
    position: relative;
}

.reviews .title {
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    line-height: 14px;
    margin-bottom: 8px;
}

.reviews .reviews_stars {
    float: right;
}

.review_item {
    margin-bottom: 16px;
    position: relative;
    zoom: 1;
}

.review_item .review_icon {
    float: left;
}

.review_item .review_creator {
    float: left;
    width: 100px;
    /* 90px*/
    padding-left: 8px;
    font-size: 11px;
    line-height: 15px;
}

.review_creator_large {
    width: 240px;
    float: left;
    padding-left: 10px;
}

.review_item .review_text {
    float: right;
    width: 120px;
    /* 130px*/
    padding-right: 10px;
    font-size: 11px;
    line-height: 13px;
    position: relative;
    z-index: 1;
}

.reviews .view_all {
    text-align: right;
    margin-top: -14px;
}

.reviews small {
    font-size: 11px;
    line-height: 13px;
}

.review_creator_stars2 {
    display: inline-block;
    padding: 5px 0px;
}

.rev_text {
    padding: 10px 0px;
}

.comments_list {
    list-style-type: none;
    padding-bottom: 10px;
}

.comments_list li {
    padding: 5px 0px;
    border-bottom: solid 1px #d9d9d9;
}

.comments_list .comment_icon {
    float: left;
}

.comments_list .comment_text {
    float: right;
    width: 400px;
    word-wrap: break-word;
}

.comments_list .comment_text span.grey {
    font-size: 11px;
    line-height: 14px;
}

.ad_box {
    margin-bottom: 20px;
}

.box_content .small_thumb {
	margin-right:19px;
}

.small_thumb.last_thumb, .medium_thumb.last_thumb {
    float: right;
    margin-right: 0px;
}

.top_mixes_list {
    list-style-type: none;
}

.top_mixes_list li {
    padding-bottom: 10px;
}

.top_mixes_list li .top_mix_image {
    float: left;
}

.top_mixes_list li .top_mix_text {
    float: right;
    width: 235px;
    font-size: 11px;
    line-height: 14px;
}

.top_mixes_list li .top_mix_text big {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
}

.badges_list {
    position: relative;
    padding-bottom: 20px;
    zoom: 1;
}

.recent_activity_list {
    list-style-type: none;
}

.recent_activity_list li {
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 14px;
}

.albums_item {
    padding: 0px 0px 7px;
    margin-bottom: 17px;
    border-bottom: solid 1px #ccc;
    position: relative;
    zoom: 1;
}

.albums_item.reviews_list {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.albums_item.reviews_list .review_item {
    margin-bottom: 0px;
}

.review_close {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.artist_box {
    width: 150px;
    height: 150px;
    position: relative;
    float: left;
    margin: 0px 10px 5px 0px;
    zoom: 1;
}

.artist_box.last_box {
    float: right;
    margin-right: 0px;
}

.artist_box .overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: url("../images/overlay.png") repeat left top;
    width: 100%;
    color: #fff;
    z-index: 3;
}

.artist_box .overlay .visible {
    color: #00a5f8;
    padding: 5px 8px 5px 5px;
    font-weight: bold;
    height: 30px;
    zoom: 1;
}

.artist_box .play_button {
    float: right;
}

.artist_box .hidden {
    padding: 10px 8px 0px;
    height: 100px;
    font-size: 11px;
    line-height: 14px;
    display: none;
}

.artist_box.hover .hidden {
    display: block;
}

.artist_box .artist_icon {
    float: left;
    border: solid 2px #fff;
    margin-right: 6px;
    margin-bottom: 14px;
}

.artist_box .overlay .visible.fh {
    height: 30px;
}

.artist_box.hover .overlay .visible.fh {
    display: none;
}

.artist_box .overlay .visible.fh .play_button {
    position: relative;
    top: 2px;
}

.artist_box .overlay .hidden.fh {
    height: 140px;
}

.artist_box .overlay .hidden.fh b {
    font-size: 12px;
}

.artist_box.pl {
    margin-right: 5px;
}

.artist_box.pl.last_box {
    margin-right: 0px;
}

.playlist_item .artist_box.empty_item {
    background: none repeat scroll 0 0 #D8D8D8;
    height: 150px;
    width: 201px;
}

.tags_contains {
  line-height: 14px !important;
  height: 53px;
	margin: 0;
}

.tag_links {
  line-height: 20px;
}

.box_buttons {
  position: absolute;
  bottom: 5px;
  right: 8px;
}

div.sorting {
	margin-bottom: 20px;
}

div.mix_sorting_pad {
	height: 10px;
}

.small_btn  {
	display:inline-block;
	height:20px;
	overflow:hidden;
	text-indent:1000px;
	width:20px;
}
.copy_btn {
	background:url("/images/duplicate_button_small.png") no-repeat scroll left top transparent;
}

.edit_btn {
	background:url("/images/edit_button_small.png") no-repeat scroll left top transparent;
}

.susbcriptions_list  {
	list-style-type:none;
	margin-bottom:35px;
}

.susbcriptions_list li {
	border-bottom:1px solid #CCCCCC;
	padding:10px 0;
	position:relative;
}

.susbcriptions_list .susbcription_text {
	float:right;
	font-size:11px;
	line-height:15px;
	width:300px;
}

.susbcriptions_list big {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
}

.susbcription_creator {
	font-size:11px;
}

.susbcription_creator .creator_text {
	float:right;
	width:240px;
}

.susbcription_creator b {
	font-size:11px;
}

.reviews_box  {
	-moz-border-radius:5px 5px 5px 5px;
	background:url("/images/reviews_box_bg.gif") repeat-x scroll left top #F2F2F2;
	border:1px solid #CCCCCC;
	padding:10px;
}

.reviews_box .network_update textarea {
	width:470px;
}

.network_text {
	color:#191919;
	float:left;
	font-size:11px;
	width:280px;
}

.rating_input  {
	margin-top:10px;
}

.grey_round_box2 {
	-moz-border-radius:4px 4px 4px 4px;
	border:1px solid #CCCCCC;
	float:left;
	margin-left:15px;
	padding:5px 10px;
	vertical-align:middle;
}

.playlist_reviews {
	list-style-type:none;
	margin-bottom:15px;
}

.playlist_reviews li {
	border-bottom:1px solid #EDEDED;
	padding:10px 0;
	position:relative;
}

.playlist_reviews li .info {
	float:left;
	width:110px;
}

.playlist_reviews li .text {
	color:#333333;
	padding-left:10px;
	float:left;
	width:380px;
}

.playlist_reviews li .close_btn {
	top:10px;
}

.reviews .title {
	background:none repeat scroll 0 0 #B3B3B3;
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	line-height:14px;
	margin-bottom:8px;
	padding:5px;
}

.visible a.white {
	margin-left:3px;
}

textarea.network_update_red {
  border:10px solid red !important;
}

.rating_inputs {
  float:right;
}

.playlist_reviews li .icon {
  float:left;
  margin-right:10px;
}

.network_red_msg {
  background:none repeat scroll 0 0 red;
  color:#FFFFFF;
  font-weight:bold;
  margin-left:15px;
  padding:5px;
  width:490px;
}

textarea.network_red_msg  {
  border:10px solid red !important;
  margin-left:0;
}

.network_update textarea {
  margin-bottom:0;
}

.post_button {
  margin-top:10px;
}

.activity_post_button {
  margin-top:10px;
  padding-right:10px;
}

.red_round_box2 {
  -moz-border-radius:4px 4px 4px 4px;
  background:none repeat scroll 0 0 #FF0000;
  border:1px solid #FF0000;
  color:#FFFFFF;
  float:left;
  margin-left:15px;
  padding:5px 10px;
  vertical-align:middle;
}

.review_text {
	height: 43px;
	overflow:hidden;
}

.big_btn_box{
	display:block;
	float:right;
	margin-right:7px;
	margin-top:6px;
}

.radio_station_row .station_buttons {
	float:right;
	padding-top:0px;
}

span.review_elapsed {
  margin-bottom: -8px;
  display:block;
}

.review_creator_large  {
  width:230px !important;
}

div.small_loading {
  height: 25px;
  width: 25px;
  float: right;
  background: url("../images/ajax_activity_indicators_download_animated_icon_animated_busy.gif") no-repeat left;
  overflow: auto;
  margin-top: -25px;
}

h1 div.small_loading, h5 div.small_loading {
  margin-top: 0px !important;
}

.at_sorting {
  margin-top: -5px !important;
}

.albums_item.reviews_list  {
  height: 150px;
}

.creator_and_date {
	display: block;
	float: left;
	margin-left: 10px;
}

.station_contains {
	margin-top:3px
}

.popup .network_update textarea {
    width:320px;
}

textarea.network_update_red {
  border:10px solid red !important;
}

textarea.edit_review_red_msg {
  border:10px solid red !important;
  margin-left: 0px;
}

.edit_review_red_msg {
  width: 345px;
  background: red;
  color: #ffffff;
  font-weight: bold;
  padding: 0 0 5px 5px;
  background: red;
  margin-left: 15px;

}

.grey_box.mix_radio {
	top: -4px
}

.album_detail .album_text2.mix_radio {
	width: 350px;
	overflow: hidden;
}

#licensing_popup {
	display: none;
}

div.reviews.mixes div.title {
	text-transform: uppercase;
}

