.iefix .grey_button span span img {
    margin-top: 4px;
    position: relative;
}

.iefix .grey_button span span i {
    font-style: normal;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 0px !important;
    top: 3px;
}

.iefix .grey_button i img {
    top: -2px;
}

label.label_holder {
  margin-right: 90px;
}

#avatar_delete{
  position:absolute;
  padding-top: 55px;
  padding-left: 0px !important;
}

#avatar_upload_info {
  margin-top: 30px;
  margin-left: 10px;
  font-weight: bold;
  color: green;
  position:absolute;
}
