.cover_case_medium {
  margin-top: -84px;
  margin-left: -7px;
}

.home.msncaen .photos .infiniteCarousel, .home.msncafr .photos .infiniteCarousel,
.home.msncaen .photos, .home.msncafr .photos {
	overflow: hidden!important;
}

.home.cyloop .module.create_station {
}

div.large_form_button input {width: 260px !important;}

.registration_layer .bottom h2 {
  font-size: 15px;
}

.registration_layer .bottom {
  margin: 0;
  padding-bottom: 0;
}
.registration_layer .bottom p {
  margin-top: 10px;
}
.artist img,   .users .artist img,   .artist_recommendations .artist img {
  margin-bottom: 0px;
}
