.MessengerBarControl_Logo
{
  background-image: url(/images/messenger/Messenger.png?1);
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/images/messenger/Messenger.png?1');
  background-position: 0px 0px;
}