#player {
  margin-top: 2px;
  margin-left: 5px;
}

/*
#player {
  height: 23px;
  width: 300px;
}
  #player a {
    outline: none; }
  #player .control {
    position: absolute; }
    #player .control a {
      display: block;
      height: 31px;
      width: 30px;
      text-indent: -9999px; }
  #player .play-container {
    left: 0;
    text-indent: -9999px; }
  #player .play {
    background: url('/images/button_play.png') no-repeat center center; }
    #player .play.on {
      background: url('/images/button_pause.png') no-repeat center center; }
  #player .volume {
    background: url('/images/button_speaker_off.png') no-repeat center center;
    position: absolute;
    left: 0; }
    #player .volume.on {
      background: url('/images/button_speaker.png') no-repeat center center; }
  #player .volume-container {
    left: 35px; }
  #player .track_info {
    position: absolute;
    bottom: 10px;
    right: 0; }
    #player .track_info a {
      color: #111; }
  #player .progress {
    background: #CACACA url('/images/player_progress_mask.png') no-repeat center center;
    position: absolute;
    top: 2px;
    right: 0;
    height: 25px;
    width: 225px;
    padding: 0; }
  #player .current_progress {
    background: #AAA url('/images/player_progress_mask.png') no-repeat center left;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1; }
  #player .track_time {
    position: absolute;
    right: 0;
    margin: 0 10px;
    line-height: 25px;
    color: #eee;
    z-index: 1000; }
    */
