<div class="left_s">
  <label><b><%= t('account_settings.password') %></b></label>
  <div class="grey_round_box">
    <input class="input half_width4 {required:true,messages:{required:'<%= t('account_settings.password_required') %>'}}"
    id="delete_password" name="delete_password" size="30" type="password" />
  </div>
</div>
<br class="clearer" />
<br/>
