<div class="form_row">
  <%= f.label :password, "<b>#{t("registration.your_password")}</b>" %>
  <div class="grey_round_box left_side">
    <%= f.password_field :password, :class => 'input half_width3', :autocomplete => "off" %>
  </div>
  <br class="clearer" />
</div><!--/end form_row -->
<div class="form_row">
  <%= f.label :password_confirmation, "<b>#{t("registration.confirm_your_password")}</b>" %>
  <div class="grey_round_box left_side">
    <%= f.password_field :password_confirmation, :class => 'input half_width3', :autocomplete => "off" %>
  </div>
  <br class="clearer" />
</div><!--/end form_row -->
