<div class="black_box left_side">
  <big class="blue">
    <%= link_to("#{profile_account.total_playlists}", user_mixes_path(profile_account)) %>
  </big>
  <br />
  <%= t('users.stats.mixes', :default => "Mixes") %>
</div>

<div class="black_boxes">
  <div class="black_box right_side">
    <big class="blue">
      <%= link_to("#{profile_user.total_user_stations}", user_stations_path(profile_account)) %>
    </big>
    <br />
    <%= t('basics.stations') %>
  </div>
  <div class="clearer"></div>
</div><!--/end black_boxes -->
