<div class="black_box right_side">
  <big class="blue">
    <%= link_to("#{profile_user.total_user_stations}", user_stations_path(profile_account)) %>
  </big>
  <br />
  <%= t('basics.stations') %>
</div>
