<% top_mixes = profile_user.playlists.top(2) %>
<% unless top_mixes.empty? %>
  <div class="box_content">
    <h5><%= possessive :top_mixes %></h5>
    <%= render :partial => 'radio/playlist_simple', :collection => top_mixes %>

    <% if false %>
      <% stations_count = top_mixes.size %>
      <% index = 6 - stations_count %>
      <% index.times do |i| %>
        <% box_count = i + 1 %>
        <div class="empty_box gb_medium <%= "last_box" if (box_count + stations_count) % 3 == 0 %>">
          &nbsp;
        </div>
        <% if (box_count + stations_count) % 3 == 0 %>
          <br class="clearer" />
        <% end %>
      <% end %>
    <% end %>

    <% if profile_user.total_playlists > 2 %>
      <div class="align_right">
        <b>
          <%= link_to(t('actions.view_more'), profile_owner? ? my_mixes_path(:sort_by => :top) : user_mixes_path(:sort_by => :top) ) %>
        </b>
      </div>
    <% end %>
  </div>
<% end %>

