<% content_for :javascript do %>
  <% if @user.errors.size > 0 %>
    field_with_errors = <%= @user.errors.to_json %>;
  <% end %>
<% end %>

<div id="internal_content">
  <div id="main_content">
    <%= render :partial => 'dashboards/left_column' %>
    <div class="settings_column">
      <h1>ACCOUNT SETTINGS</h1>
      <%= render :partial => 'basic_info' %>
      <%= render :partial => 'delete_account' %>
    </div><!--/end settings_column -->
    <div class="clearer"></div>
  </div><!--/end main_content -->
</div><!--/end internal_content -->
