#page_wrapper {
  margin: 23px auto;
  width: 956px;
}

#profile_header {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 23px;
}

#ericsson_banner
{
  margin-top: 30px;
  margin-left: 3px;
}

#stats .stat { color: #aaa; display: inline; float: left; font-size: 13px; margin-left: 10px; text-align: left; width: 120px; }

#stats .stat .count {
  color: #666;
  font-size: 31px;
  font-weight: bold;
}

#stats .stat .label {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

#mast_head, #header_wrapper {
  background-color: #00FFFF;
}

body {
  background-image: url("/images/sonyericsson/radio_background.jpg");
  background-color: #95D4CE;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
}

#secondary_content .module.followers h3 {
  color: #0E4236;
  font-size: 18px;
}

#tm {
  color: #7CCDBF;
  font-size: 11px;
}

#ericsson_ad { margin-top: 29px; }

