<% @collection.each do |item| %>
  <% if item.is_a? Hash %>
    <% if ['followers', 'followees'].include?(params[:controller]) %>
      <li timestamp="<%= item['timestamp'] %>">
        <%= render :partial => 'shared/network_collection_info', :locals => {:item => item} %>
      </li>
    <% end %>
  <% elsif item.is_a? User or item.is_a? Artist %>
    <% if ['followers', 'followees'].include?(params[:controller]) %>
      <li timestamp="<%= item['timestamp'] %>">
      <%= render :partial => 'shared/network_collection_info', :locals => {:item => item} %>
      </li>
    <% end %>
  <% end %>
<% end %>
