<div id="footer">
    <div class="footer_left">
        <a href="#">About Hoodiny</a> <a href="#">About Cyloop</a> <a href="#">Terms &amp; Conditions</a> <a href="#">Privacy Policy</a> <a href="#">F.A.Q</a> <a href="#">Conttact Us</a> 
    </div>
    <div class="footer_right">
        <a href="#"><img src="images/cyloop.gif" alt="cyloop powered" /></a>
    </div>
    <br class="clearer" />
</div>

<div id="msn_footer_container">
  <%= render "3rd_party_branding/msn_footer_#{site_code}" %>
  <%= render :partial => "shared/google_analytics" %>
</div>
