<ul id="main_links">
    <li><%= link_to 'Home', root_url, :class => "fn org url", :rel => "home", :title => "Cyloop" %></li>
    <li><a href="#">Mixes</a></li>
    <li><a href="#">Radio</a></li>
</ul><!--/end main_links -->
