<% if site_includes(:msnmx) %>
  <% if params[:controller] == "radio" %>
    <div id="reporting">
      <img id="ctag" width="1" height="1" alt="" src="http://c.prodigy.msn.com/c.gif?di=2514&amp;pi=9564&amp;ps=10128&amp;tp= http://prodigy.msn.cyloop.com/"; />
      <div id="omni">
        <script type="text/javascript">var s_account='msnportalprodigyent';</script>
        <script type="text/javascript" src="http://blstj.msn.com/br/om/js/s_code.js"></script>
        <script type="text/javascript">s.charSet='UTF-8';s.linkInternalFilters='javascript:,entretenimiento.prodigy.msn.com,*cine.prodigy.msn.com*,msn.levelup.com.mx,*juegos.prodigymsn.com*,emoticons.prodigymsn.com,*prodigy.msn.cyloop.com*, peliculas.prodigy.msn.com, videojuegos.prodigy.msn.com, entretenimiento.prodigymsn.com,*cine.prodigymsn.com*, peliculas.prodigymsn.com, videojuegos.prodigymsn.com';s.pageName='Entretenimiento sgt; Musica sgt; Channelizer sgt; Cyloop sgt; radio';s.server='entretenimiento.prodigy.msn.com';s.prop1='Entretenimiento';s.prop2='es-mx';s.channel='Musica';s.prop22='False';s.prop25='31:01:1978';s.prop26='m';s.prop5='radio';s.prop49='';s.prop50=escape(document.URL);s.eVar1=s.getQueryParam('cp-documentid');var s_code=s.t();if(s_code)document.write(s_code);</script>
        <script type="text/javascript"><!--if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')//--></script>
        <noscript><div><img src="http://msnportalprodigyent.112.2O7.net/b/ss/msnportalprodigyent/1/H.1--NS/0"; height="1" width="1" alt="" /></div></noscript>
      </div>
      <script type="text/javascript" src="http://stj.msn.com/br/om/js/lt/lt.js"></script>
    </div>
  <% elsif params[:controller] == "pages" && params[:action] == "home" %>
    <div id="reporting">
      <img id="ctag" width="1" height="1" alt="" src="http://c.prodigy.msn.com/c.gif?di=2514&amp;pi=9564&amp;ps=10128&amp;tp= http://prodigy.msn.cyloop.com/"; />
      <div id="omni">
        <script type="text/javascript">var s_account='msnportalprodigyent';</script>
        <script type="text/javascript" src="http://blstj.msn.com/br/om/js/s_code.js"></script>
        <script type="text/javascript">s.charSet='UTF-8';s.linkInternalFilters='javascript:,entretenimiento.prodigy.msn.com,*cine.prodigy.msn.com*,msn.levelup.com.mx,*juegos.prodigymsn.com*,emoticons.prodigymsn.com,*prodigy.msn.cyloop.com*, peliculas.prodigy.msn.com, videojuegos.prodigy.msn.com, entretenimiento.prodigymsn.com,*cine.prodigymsn.com*, peliculas.prodigymsn.com, videojuegos.prodigymsn.com'; s.pageName='Entretenimiento sgt; Musica sgt; Channelizer sgt; Cyloop sgt; inicio'; s.server='entretenimiento.prodigy.msn.com';s.prop1='Entretenimiento';s.prop2='es-mx';s.channel='Musica';s.prop22='False';s.prop25='31:01:1978';s.prop26='m';s.prop5='inicio';s.prop49='';s.prop50=escape(document.URL);s.eVar1=s.getQueryParam('cp-documentid');var s_code=s.t();if(s_code)document.write(s_code);</script>
        <script type="text/javascript"><!--if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')//--></script>
        <noscript><div><img src="http://msnportalprodigyent.112.2O7.net/b/ss/msnportalprodigyent/1/H.1--NS/0"; height="1" width="1" alt="" /></div></noscript>
      </div>
      <script type="text/javascript" src="http://stj.msn.com/br/om/js/lt/lt.js"></script>
    </div>
  <% else %>
    <div id="reporting">
      <img id="ctag" width="1" height="1" alt="" src="http://c.prodigy.msn.com/c.gif?di=2514&amp;pi=9564&amp;ps=10132&amp;tp=http://entretenimiento.prodigy.msn.com/musica&amp;rf="; />
      <div id="omni">
        <script type="text/javascript">var s_account='msnportalprodigyent';</script>
        <script type="text/javascript" src="http://blstj.msn.com/br/om/js/s_code.js"></script>
        <script type="text/javascript">s.charSet='UTF-8';s.linkInternalFilters='javascript:,entretenimiento.prodigy.msn.com,*cine.prodigy.msn.com*,msn.levelup.com.mx,*juegos.prodigymsn.com*,emoticons.prodigymsn.com,*prodigy.msn.cyloop.com*, peliculas.prodigy.msn.com, videojuegos.prodigy.msn.com, entretenimiento.prodigymsn.com,*cine.prodigymsn.com*, peliculas.prodigymsn.com, videojuegos.prodigymsn.com, *juegos.prodigy.msn.c'; s.pageName='Entretenimiento sgt; Musica sgt; Channelizer sgt; Cyloop'; s.server='entretenimiento.prodigy.msn.com'; s.prop1='Entretenimiento'; s.prop2='es-mx'; s.channel='Musica'; s.prop22='False'; s.prop25=''; s.prop26='U'; s.prop3='Channelizer'; s.prop4='Cyloop'; s.prop5=''; s.prop49=''; s.prop50=escape(document.URL); s.eVar1=s.getQueryParam('cp-documentid'); s.prop11='';
    s.prop37=''; var s_code=s.t();if(s_code)document.write(s_code);</script>
        <script type="text/javascript"><!--if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')//--></script>
        <noscript><div><img src="http://msnportalprodigyent.112.2O7.net/b/ss/msnportalprodigyent/1/H.1--NS/0"; height="1" width="1" alt="" /></div></noscript>
      </div>
      <script type="text/javascript" src="http://stj.msn.com/br/om/js/lt/lt.js"></script>
    </div>
  <% end %>
<% elsif site_includes(:msnbr) %>
  <div id="reporting">
	  <div id="udc">
		  <script src="http://blstj.msn.com/br/chan/udc/js/udctrack.2011.03.23.js" type="text/javascript"></script>
		  <script type="text/javascript">var cURL = "http://c.msn.com/c.gif?";$.track({trackInfoOpts:{
		    sitePage:{
		      lang:'pt-br',siteDI:'14265',sitePI:'9566',sitePS:'34584',
		      pagename:'mainpage',
		      dept:'',sdept:'',pgGrpId:'',cntType:'',srchQ:''
		    },userStatic: { signedIn:'false', age:'', gender: ''}},spinTimeout: 150}).register(new $.track.genericTracking({ base: 'http://udc.msn.com/c.gif?',linkTrack:1,samplingRate:99,commonMap:{event: {evt:'type'}, userDynamic:{rid:'requestId',cts:'timeStamp'},client:{clid:'clientId'}},impr:{param:{evt:'impr'},paramMap:{client:{rf:'referrer',cu:'pageUrl',bh:'height',bw: 'width',sl:'silverlightEnabled',slv:'silverlightVersion',scr:'screenResolution',sd: 'colorDepth'},userDynamic:{hp:'isHomePage'},userStatic:{pp:'signedIn',bd:'age',gnd: 'gender'},sitePage:{mk:'lang',di:'siteDI',pi:'sitePI',ps:'sitePS',pn:'pagename',pid: 'pageId','st.dpt':'dept','st.sdpt':'sdept','dv.pgGrpId':'pgGrpId','dv.contnTp':'cntType', mv:'pgVer', q:'srchQ'}}},click:{paramMap:{report:{hl:'headline',ce:'contentElement',cm:'contentModule',du: 'destinationUrl'}} },unload: {/**/}}), new $.track.genericTracking({base:cURL,linkTrack:0,impr:{param:{udc:"true"},paramMap:{ client:{rf:"referrer",tp:'pageUrl'},sitePage:{di:"siteDI",pi:"sitePI",ps:"sitePS"}, userDynamic:{rid:"requestId",cts:"timeStamp"}}}}));jQuery.track.trackPage();
      </script>
	  </div>
	  <noscript>
	  <div>
	  <img src="http://udc.msn.com/c.gif?js=0&evt=impr&di=14265&pi=9566&ps=34584&mk=pt-br" alt="image beacon" />
	  </div>
	  </noscript>
	  <div id="omni" xmlns:cp.request="urn:CP.Request">
		  <script type="text/javascript">var s_account='msnportalbrmsnmusicacyloop';</script>
		  <script src="http://blstj.msn.com/br/chan/om/js/s_code.2010.12.13.js" type="text/javascript"></script>
		  <script type="text/javascript">s.linkInternalFilters = 'javascript:,Music'; s.pageName = 'MSN Music' + document.location.pathname; s.server = 'music.msn.com.br'; s.prop1 = 'Music'; s.prop2 = 'pt-br'; s.channel = 'Music'; s.prop22 = ''; s.prop25 = ''; s.prop26 = ''; s.prop3 = ''; s.prop11 = 'standard'; s.prop50 = escape(document.URL); s.prop49 = 'music.msn.com.br'; s.prop4 = ''; s.prop5 = ''; s.prop6 = ''; s.prop7 = '';s.prop8 = ''; s.eVar1 = s.getQueryParam('cp-documentid'); var s_code = s.t(); if (s_code) document.write(s_code);</script>
		  <script type="text/javascript"><!--if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')//--></script>
		  <noscript>
		  <div>
		   <img alt="" height="1" src="http://msnportalbrmsnmusicacyloop.112.2O7.net/b/ss/msnportalbrmsnmusicacyloop/1/H.1--NS/0" width="1" />
		  </div>
		  </noscript>
    </div>
  </div>
<% elsif site_includes(:msnlatam) %>
  <div id="reporting">
    <img id="ctag" width="1" height="1" alt="" src="http://c.msn.com/c.gif?di=14343&amp;pi=9565&amp;ps=34584&amp;tp=http://entretenimiento.latam.msn.com/channelizer/musica/latam.aspx&amp;rf=" />
    <div id="omni">
      <script type="text/javascript">var s_account='msnportallatament';</script>
      <script type="text/javascript" src="http://blstj.msn.com/br/om/js/s_code.js"> </script>
      <script type="text/javascript">s.charSet='UTF-8';s.linkInternalFilters='javascript:,entretenimiento.latam.msn.com';s.pageName='Escucha música gratuita, conoce artistas y haz amigos | MSN Música |MSN Latinoamérica';s.server='latam.msn.cyloop.com';s.prop1='Musica-XL';s.prop2='es-xl';s.channel='Musica';s.prop22='False';s.prop25='';s.prop26='';s.prop3='Category-Replace';s.prop4='SubCategory-Replace';s.prop6='Cyloop';s.prop8='PageType-Replace';s.prop49='';s.prop50=escape(document.URL);s.eVar1=s.getQueryParam('cp-documentid');s.prop11='';s.prop37='';var s_code=s.t();if(s_code)document.write(s_code);</script>
      <script type="text/javascript"><!--if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')//--></script>
      <noscript>
        <div>
          <img src="http://msnportallatament.112.2O7.net/b/ss/msnportallatament/1/H.1--NS/0" height="1" width="1" alt="" />
        </div>
      </noscript>
    </div>
    <script type="text/javascript" src="http://blstj.msn.com/br/om/js/lt/lt.js"> </script>
  </div>
<% elsif site_includes(:msnlatino) %>
  <div id="reporting">
    <div id="udc">
      <script src="http://blstj.msn.com/br/chan/udc/js/udctrack.2011.05.06.js" type="text/javascript"></script>
      <script type="text/javascript">var cURL = "http://c.msn.com/c.gif?";$.track({trackInfoOpts:{
        sitePage:{
          lang:'es-us',siteDI:'16532',
          pagename:<%= @msn_properties.nil?? '\'\'' : @msn_properties[:page_name] %>,
          dept:'',sdept:'',pgGrpId:'',cntType:'',srchQ:''
        },userStatic: { signedIn:'false', age:'', gender: ''}},spinTimeout: 150}).register(new $.track.genericTracking({ base: 'http://udc.msn.com/c.gif?',linkTrack:1,samplingRate:99,commonMap:{event: {evt:'type'}, userDynamic:{rid:'requestId',cts:'timeStamp'},client:{clid:'clientId'}},impr:{param:{evt:'impr'},paramMap:{client:{rf:'referrer',cu:'pageUrl',bh:'height',bw: 'width',sl:'silverlightEnabled',slv:'silverlightVersion',scr:'screenResolution',sd: 'colorDepth'},userDynamic:{hp:'isHomePage'},userStatic:{pp:'signedIn',bd:'age',gnd: 'gender'},sitePage:{mk:'lang',di:'siteDI',pi:'sitePI',ps:'sitePS',pn:'pagename',pid: 'pageId','st.dpt':'dept','st.sdpt':'sdept','dv.pgGrpId':'pgGrpId','dv.contnTp':'cntType', mv:'pgVer', q:'srchQ'}}},click:{paramMap:{report:{hl:'headline',ce:'contentElement',cm:'contentModule',du: 'destinationUrl'}} },unload: {/**/}}),new $.track.genericTracking({base:cURL,linkTrack:0,impr:{param:{udc:"true"},paramMap:{ client:{rf:"referrer",tp:'pageUrl'},sitePage:{di:"siteDI",pi:"sitePI",ps:"sitePS"}, userDynamic:{rid:"requestId",cts:"timeStamp"}}}}));jQuery.track.trackPage();
      </script>
    </div>
    <noscript>
    <div>
    <img src="http://udc.msn.com/c.gif?js=0&evt=impr&di=16532&pi=0&ps=0&mk=es-us" alt="image beacon" />
    </div>
    </noscript>
    <div id="omni">
      <script type="text/javascript">var s_account='msnportallatino';</script>
      <script type="text/javascript" src="http://blstj.msn.com/br/om/js/s_code.js"></script>
      <script type="text/javascript">s.charSet='UTF-8';s.linkInternalFilters='javascript:,latino.msn.com';s.pageName=<%= @msn_properties.nil?? '\'\'' : @msn_properties[:page_name] %>;s.server='musica.latino.msn.com';s.prop1='Música';s.prop2='es-us';s.channel='Cyloop';s.prop22='False';s.prop25='';s.prop26='m';s.prop3=<%= @msn_properties.nil?? '\'\'' : @msn_properties[:prop3] %>;s.prop4=<%= @msn_properties.nil?? '\'\'' : @msn_properties[:prop4] %>;s.prop5='Cyloop';s.prop6='Cyloop';s.prop49='';s.prop50=escape(document.URL);s.eVar1=s.getQueryParam('cp-documentid');s.prop11='';s.prop37='';var s_code=s.t();if(s_code)document.write(s_code);</script>
      <script type="text/javascript"><!--if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')//--></script>
      <noscript><div><img src="http://msnportallatino.112.2O7.net/b/ss/msnportallatino/1/H.1--NS/0" height="1" width="1" alt="" /></div></noscript>
    <div>
    <script type="text/javascript" src="http://blstj.msn.com/br/gbl/js/5/linktracking.js"></script>
  <div>
<% elsif site_includes(:msncaen) %>

  <% if params[:controller] == "radio" %>

      <div id="reporting">
        <img id="ctag" width="1" height="1" alt="" src="http://c.msn.com/c.gif?di=14234&amp;pi=11654&amp;ps=10128&amp;tp=http://entertainment.ca.msn.com/music/Partner/Music%20-%20Radio.aspx&amp;rf=" />
        <div id="omni">
          <script type="text/javascript">
  //<![CDATA[
          var s_account='msnportalentertainmentcaen';
          //]]>
          </script><script type="text/javascript" src="http://blstj.msn.com/br/om/js/s_code.js">
  </script><script type="text/javascript">
  //<![CDATA[
          s.charSet='UTF-8';s.linkInternalFilters='javascript:,entertainment.ca.msn.com';s.pageName='Cyloop Home|Music|Entertainment';s.server='entertainment.ca.msn.com';s.prop1='Entertainment';s.prop2='en-ca';s.channel='Entertainment';s.prop22='False';s.prop25='';s.prop26='';s.prop3='Music';s.prop4='Cyloop Home';s.prop7='Cyloop';s.prop49='';s.prop50=escape(document.URL);s.eVar1=s.getQueryParam('cp-documentid');s.prop11='';s.prop37='';var s_code=s.t();if(s_code)document.write(s_code);
          //]]>
          </script><script type="text/javascript">
  //<![CDATA[
          <!--if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')//-->
          //]]>
          </script><noscript>
          <div>
            <img src="http://msnportalentertainmentcaen.112.2O7.net/b/ss/msnportalentertainmentcaen/1/H.1--NS/0" height="1" width="1" alt="" />
          </div></noscript>
        </div><script type="text/javascript" src="http://blstj.msn.com/br/gbl/js/6/linktracking.js">
  </script>
      </div>

  <% else %>

      <div id="reporting">
        <img id="ctag" width="1" height="1" alt="" src="http://c.msn.com/c.gif?di=14234&amp;pi=11654&amp;ps=10128&amp;tp=http://entertainment.ca.msn.com/music/Partner/Music.aspx&amp;rf=" />
        <div id="omni">
          <script type="text/javascript">
  //<![CDATA[
          var s_account='msnportalentertainmentcaen';
          //]]>
          </script><script type="text/javascript" src="http://blstj.msn.com/br/om/js/s_code.js">
  </script><script type="text/javascript">
  //<![CDATA[
          s.charSet='UTF-8';s.linkInternalFilters='javascript:,entertainment.ca.msn.com';s.pageName='Cyloop|Music|Ent';s.server='entertainment.ca.msn.com';s.prop1='Entertainment';s.prop2='en-ca';s.channel='Entertainment';s.prop22='False';s.prop25='';s.prop26='';s.prop3='Music';s.prop4='Cyloop';s.prop49='';s.prop50=escape(document.URL);s.eVar1=s.getQueryParam('cp-documentid');s.prop11='';s.prop37='';var s_code=s.t();if(s_code)document.write(s_code);
          //]]>
          </script><script type="text/javascript">
  //<![CDATA[
          <!--if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')//-->
          //]]>
          </script><noscript>
          <div>
            <img src="http://msnportalentertainmentcaen.112.2O7.net/b/ss/msnportalentertainmentcaen/1/H.1--NS/0" height="1" width="1" alt="" />
          </div></noscript>
        </div><script type="text/javascript" src="http://blstj.msn.com/br/gbl/js/6/linktracking.js">
  </script>
      </div>

  <% end %>

<% elsif site_includes(:msncafr) %>
  <% if params[:controller] == "radio" %>
    <div id="reporting">
      <img id="ctag" width="1" height="1" alt="" src="http://c.msn.com/c.gif?di=14235&amp;pi=23608&amp;ps=10128&amp;tp=http://divertissement.ca.msn.com/musique/Partner/Musique%20-%20Radio.aspx&amp;rf=" />
      <div id="omni">
        <script type="text/javascript">
//<![CDATA[
        var s_account='msnportalentertainmentfrca';
        //]]>
        </script><script type="text/javascript" src="http://blstj.msn.com/br/om/js/s_code.js">
</script><script type="text/javascript">
//<![CDATA[
        s.charSet='UTF-8';s.linkInternalFilters='javascript:,divertissement.ca.msn.com';s.pageName='Radio|Cyloop|Musique|Divertissement';s.server='divertissement.ca.msn.com';s.prop1='Divertissement';s.prop2='fr-ca';s.channel='Divertissement';s.prop22='False';s.prop25='';s.prop26='';s.prop3='Musique';s.prop4='Cyloop';s.prop5='Radio';s.prop7='Cyloop';s.prop49='';s.prop50=escape(document.URL);s.eVar1=s.getQueryParam('cp-documentid');s.prop11='';s.prop37='';var s_code=s.t();if(s_code)document.write(s_code);
        //]]>
        </script><script type="text/javascript">
//<![CDATA[
        <!--if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')//-->
        //]]>
        </script><noscript>
        <div>
          <img src="http://msnportalentertainmentfrca.112.2O7.net/b/ss/msnportalentertainmentfrca/1/H.1--NS/0" height="1" width="1" alt="" />
        </div></noscript>
      </div><script type="text/javascript" src="http://blstj.msn.com/br/gbl/js/6/linktracking.js">
</script>
    </div>
  <% else %>
    <div id="reporting">
      <img id="ctag" width="1" height="1" alt="" src="http://c.msn.com/c.gif?di=14235&amp;pi=23608&amp;ps=10128&amp;tp=http://divertissement.ca.msn.com/musique/Partner/Musique.aspx&amp;rf=" />
      <div id="omni">
        <script type="text/javascript">
//<![CDATA[
        var s_account='msnportalentertainmentfrca';
        //]]>
        </script><script type="text/javascript" src="http://blstj.msn.com/br/om/js/s_code.js">
</script><script type="text/javascript">
//<![CDATA[
        s.charSet='UTF-8';s.linkInternalFilters='javascript:,divertissement.ca.msn.com';s.pageName='Cyloop Home|Musique|Divertissement';s.server='divertissement.ca.msn.com';s.prop1='Divertissement';s.prop2='fr-ca';s.channel='Divertissement';s.prop22='False';s.prop25='';s.prop26='';s.prop3='Musique';s.prop4='Cyloop Home';s.prop7='Cyloop';s.prop49='';s.prop50=escape(document.URL);s.eVar1=s.getQueryParam('cp-documentid');s.prop11='';s.prop37='';var s_code=s.t();if(s_code)document.write(s_code);
        //]]>
        </script><script type="text/javascript">
//<![CDATA[
        <!--if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')//-->
        //]]>
        </script><noscript>
        <div>
          <img src="http://msnportalentertainmentfrca.112.2O7.net/b/ss/msnportalentertainmentfrca/1/H.1--NS/0" height="1" width="1" alt="" />
        </div></noscript>
      </div><script type="text/javascript" src="http://blstj.msn.com/br/gbl/js/6/linktracking.js">
</script>
    </div>
  <% end %>
<% end %>

