<% if item.is_a? Hash %>
  <a href="#"><%= link_to (avatar_for(item['account'], :small), item) %></a>
<% elsif item.is_a? User %>
  <a href="#"><%= link_to (avatar_for(item, :small), item) %></a>
<% end %>
<% if params[:controller] == 'activities' %>
  <%= render :partial => 'shared/user_update_info', :locals => {:item => item} %>
<% else %>
  <%= render :partial => 'shared/user_details_and_setting_options', :locals => {:item => item} %>
<% end %>
<br class="clearer" />
