<div id="search_form">
    <form action="" method="post">
        <div>
            <input type="text" class="search_input" value="Search for your favorite artist &amp; music" onfocus="clearInput('Search for your favorite artist &amp; music', this); $('.search_results_box').show();" onblur="restoreInput('Search for your favorite artist &amp; music', this); setTimeout(function() {$('.search_results_box').hide();}, 300);" />
            <input type="image" src="images/search_icon.gif" class="search_button" />
            <div class="clearer"></div>
        </div>
    </form>
    
    <div class="search_results_box">
        <div class="oveflow_list">
            <h1>ARTISTS</h1>
            
            <ul class="search_list">
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b>
                        <br class="clearer" />
                    </a>
                </li>
            </ul>
            
            <div class="grey_spacer"></div>
            
            <h1>ALBUMS</h1>
            
            <ul class="search_list">
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b><br/>
                        Coldplay
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b><br/>
                        Coldplay
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b><br/>
                        Coldplay
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b><br/>
                        Coldplay
                        <br class="clearer" />
                    </a>
                </li>
            </ul>
            
            <div class="grey_spacer"></div>
            
            <h1>ARTISTS</h1>
            
            <ul class="search_list">
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b>
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b>
                        <br class="clearer" />
                    </a>
                </li>
            </ul>
            
            <div class="grey_spacer"></div>
            
            <h1>ALBUMS</h1>
            
            <ul class="search_list">
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b><br/>
                        Coldplay
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b><br/>
                        Coldplay
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b><br/>
                        Coldplay
                        <br class="clearer" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/search_result_icon.gif" alt="" />
                        <b>Cold</b><br/>
                        Coldplay
                        <br class="clearer" />
                    </a>
                </li>
            </ul>
        </div><!--/end oveflow_list -->
        
        <div class="search_term">
            search for "cold"
        </div>
    </div><!--/end search_results_box -->
</div><!--/end search_form -->
