<% unless  @status.nil? || @status['text'].nil? %>
  <a style="color:#333333;" href="<%= slug %>/activities"><i>&#8220;<%= truncate(@status['text'],150)%>&#8221;</i></a>
  <span class="grey">
    <%= t('basics.created_at', :when => nice_elapsed_time(@status['timestamp'])) %>
  </span>
<% end %>

