<div class="box_content">
  <h1>
    <%= t('dashboards.latest_tweet')%>
  </h1>

  <div id="tweet_big_text" class="big_text">
    <br/>
    <img src="/images/loading.gif"></img>
    <span style="display:none;"><%= t("user.has_no_tweet", :user_name => profile_account.name) %></span>
    <br/><br/>
  </div>

  <ul id="tweet_recent_activities" class="recent_activity_list">
  </ul>
</div><!--/end box_content -->

