<div class="follower_text">
  <b><%= link_to(item['user'], item['user']) %></b>
  <%= item['message'] %>
  <br />
  <span class="grey small">
    <%= nice_elapsed_time(item['timestamp']) %>
  </span>
</div>
