<div class="box_content">
  <h5>JASON'S TOP MIXES</h5>

  <ul class="top_mixes_list">
    <li>
      <a href="#"><img src="images/comment_icon.gif" class="top_mix_image" alt="" /></a>
      <div class="top_mix_text">
        <big><a href="#">Mix Name</a></big><br/>
        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>
      <div class="clearer"></div>
    </li>
    <li>
      <a href="#"><img src="images/comment_icon.gif" class="top_mix_image" alt="" /></a>
      <div class="top_mix_text">
        <big><a href="#">Mix Name</a></big><br/>
        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>
      <div class="clearer"></div>
    </li>
  </ul>

  <div class="align_right">
    <b><a href="#">view more</a></b>
  </div>
</div>

