<div id="userdata_box">
    <div class="user">
        <img src="images/userdata_icon.gif" alt="" /> <a href="#">jjcaleiro</a>
    </div>
    
    <ul class="links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Mixes</a></li>
        <li><a href="#">Stations</a></li>
        <li><a href="#" class="current">Subscriptions</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Activity</a></li>
        <li><a href="#">Followers</a></li>
        <li><a href="#">Following</a></li>
        <li class="last"><a href="#">Account Settings</a></li>
    </ul>
    
    <a href="#" id="userdata_arrow"><img src="images/userdata_arrow.png" class="png_fix" alt="" /><img class="arrow_up" src="images/arrow_up.gif" /></a>
</div><!--/end userdata_box -->
