<div class="box_content">
  <h1>RECENT ACTIVITY</h1>

  <ul class="recent_activity_list">
    <li><b><a href="#">Jason</a></b> created a new station called: <a href="#">These times that try mens souls</a> <span class="grey">5 days ago</span></li>
    <li><b><a href="#">Jason</a></b> created a new station called: <a href="#">These times that try mens souls</a> <span class="grey">5 days ago</span></li>
    <li><b><a href="#">Jason</a></b> created a new station called: <a href="#">These times that try mens souls</a> <span class="grey">5 days ago</span></li>
    <li><b><a href="#">Jason</a></b> created a new station called: <a href="#">These times that try mens souls</a> <span class="grey">5 days ago</span></li>
    <li><b><a href="#">Jason</a></b> created a new station called: <a href="#">These times that try mens souls</a> <span class="grey">5 days ago</span></li>
    <li><b><a href="#">Jason</a></b> created a new station called: <a href="#">These times that try mens souls</a> <span class="grey">5 days ago</span></li>
  </ul>

  <div class="align_right">
    <b><a href="#">view more</a></b>
  </div>
</div><!--/end box_content -->
