%li
  .artist
    .name
      = link_to(recommended_artist.nick_name)
    .image
      = link_to(image_tag("#{ENV['ASSETS_URL']}#{recommended_artist.image}", :width => '60px', :height => '60px', :class => 'thumb'))
