- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title
%p
  Cyloop is a social music application that allows users to create a powerful and personalized multimedia experience with one of the most extensive audio and video libraries on the web. On Cyloop you can to listen to and collect millions of songs, from the world's leading artists to local independent acts, and follow all the activity surrounding your favorite artists in a truly personalized manner.
%h4 How does it work?
%p
  Once you register, you can either sit back and enjoy the music that Cyloop Radio recommends to you, or you can actively collect music in your own playlists, or Loops as we like to call them, just as you would on any music desktop application. In addition, you can follow your favorite artists, read their latest news and blogs or just show them your support by leaving them a comment.
%p  
  Cyloop's proprietary recommendation and discovery engine is powered by The MAP Project and it is used extensively across the site, from the creation of personalized radio stations to the recommended artists on your Profile Dashboard. The MAP Project is based on the notion that when it comes to creating a personalized music experience, the recommendations should not only be determined by similarities between artists, but also by the users' demographic, psychographic and cultural characteristics, as well as, their social graph across the web. In other words, we believe that where you live, your language, your age and whom you hang out with will be powerful determinants of your music tastes.
%p
  The patent-pending technology behind The MAP Project is based on self-organizing maps (SOMs), which is a specific type of artificial neural networks that are trained using unsupervised learning to produce increasingly better results with increased user activity and data sources. Consequently, once Cyloop knows your unique MAP, it can identify similarities among people with similar MAPs and leverage their music related activity to create a more powerful and engaging experience for you.

%h4 What can artists find on Cyloop?

%p
  Cyloop serves as a tool for artists and their music labels to market themselves and their content, reaching millions of fans throughout multiple territories. If you are an artist, you will be happy to know that this is an “artist generated” and not a “user generated” content community. So your content is not competing against amateur videos (there are plenty of other sites for that!). In Cyloop, you can easily create a cool looking profile and share all of your content securely with your fans. Furthermore, we will provide you with all the statistics about your fan base; including their location, ages and what songs and videos they like the best, all while maintaining their privacy.
