- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title

%h4 Cyloop Safety Tips
%p
  Cyloop is an open environment where artists and fans can interact, listen to music, view videos, converse and share. As a public and open environment, irrespective of registration practices, users should exercise discretion and common sense:

%h4 Don't forget that profiles and forums are public spaces.
%p
  Don't post anything you wouldn't want the world to know (e.g., your real name, phone number, address, or specific whereabouts). Avoid posting anything that would make it easy for a stranger to find you, such as where you hang out.

%h4 People aren't always who they say they are.
%p
  Be careful about who you call “friend”. It's fun to connect with new Cyloop friends from all over the world, but avoid meeting people in person whom you do not fully know. If you must meet someone, do it in a public place and bring a friend or trusted adult.

%h4 Harassment, hate speech and inappropriate content should be reported.
%p
  If you feel someone's behavior is inappropriate, react. Report these incidences to Cyloop through our feedback forms.

%h4 Don't post anything that would embarrass you later.
%p
  Think twice before posting a photo or info you wouldn't want your friends, parents, significant other or boss to see! Also make sure you possess the legal right to post the photos, songs etc. on to your profile.

%h4 Don’t go phishing! .
%p
  Phishing is a method used by fraudsters to try to get your personal information, such as your username and password, by pretending to be a site you trust.

%h4 Always safe-guard your passwords!
%p
  NEVER give your passwords to strangers or friends you just made. Your profile, its assets and actions undertaken while logged in as you are tracked and violations will be brought back to you. Furthermore, malicious actions through your profile can put you in physical and/or legal risk.

%h4 Your profile is a reflection of you.
%p
  If you post photos, stories, jokes, or other content with sexual references, you'll attract people who want to talk about sex. When you post content online, you are making a statement to the entire online world about who you are. Manage your online image!

%h4 Do not reply to inappropriate e-mails or messages.
%p
  If you do respond, you'll just encourage the sender to send you more inappropriate material. Instead of responding, report the sender to Cyloop through our feedback forms.

%h4 For further assistance and tips on safe web usage, check out these other resources:

%p
  =link_to "OnGuard Online: FTC safety tips", "http://onguardonline.gov/socialnetworking_youth.html"
%p
  =link_to "Internet Crime Complaint Center", "http://www.ic3.gov/"
%p
  =link_to "Netsmartz.org","http://www.netsmartz.org/"
%p
  =link_to "BlogSafety.Com", "http://www.blogsafety.com/index.jspa"
%p
  =link_to "National Crime Prevention Council","http://www.ncpc.org/"

