.welcome
  %h3 Bienvenidos al video chat de Shakira!

  %p 
    Podrás comenzar a enviarle  tus preguntas
    %br
    a partir de la hora programada

  %p Recuerda actualizar o recargar esta página en tu navegador para poder visualizar el video chat correctamente una vez que comience.