#questions_head
#questions_body.chat_not_started
  %h3 El video chat con Shakira comenzará hoy a las:

  %ul 
    %li 21 hrs. Argentina
    %li 7 pm Colombia
    %li 6 pm México  

  %p 
    Si aún no estás registrado en MSN Música
    %br
    aprovecha para hacerlo antes de la hora de comienzo.