<h1>ARTISTS</h1>

<div class="sorting">
    <a href="#">DEMIAN + FOLLOWING</a> / <a href="#" class="active">JUST DEMIAN</a> / <a href="#">JUST FOLLOWING</a>
</div>

<ul class="followers_list">
    <li>
        <a href="#"><img src="/images/comment_icon.gif" class="follower_image" alt="" /></a>
        <div class="follower_text">
            <b><a href="#">Jason Calleiro</a></b><br/>
            <span>Miami, Fl</span><br/>
        </div>
        <div class="follower_actions w_settings">
            <a href="#"><img src="/images/play_button.png" class="png_fix" alt="" /></a>
            <a href="#" class="blue_button"><span><span>FOLLOW</span></span></a><br/>
        </div>
        <br class="clearer" />
        <div class="long_text"><a href="#">3,250</a> Mixes / <a href="#">5,350</a> Stations / <a href="#">5,350</a> Followers</div>
    </li>
    <li>
        <a href="#"><img src="/images/comment_icon.gif" class="follower_image" alt="" /></a>
        <div class="follower_text">
            <b><a href="#">Jason Calleiro</a></b><br/>
            <span>Miami, Fl</span><br/>
        </div>
        <div class="follower_actions w_settings">
            <a href="#"><img src="/images/play_button.png" class="png_fix" alt="" /></a>
            <a href="#" class="blue_button"><span><span>FOLLOW</span></span></a><br/>
        </div>
        <br class="clearer" />
        <div class="long_text"><a href="#">3,250</a> Mixes / <a href="#">5,350</a> Stations / <a href="#">5,350</a> Followers</div>
    </li>
    <li>
        <a href="#"><img src="/images/comment_icon.gif" class="follower_image" alt="" /></a>
        <div class="follower_text">
            <b><a href="#">Jason Calleiro</a></b><br/>
            <span>Miami, Fl</span><br/>
        </div>
        <div class="follower_actions w_settings">
            <a href="#"><img src="/images/play_button.png" class="png_fix" alt="" /></a>
            <a href="#" class="green_button"><span><span>FOLLOWING</span></span></a><br/>
        </div>
        <br class="clearer" />
        <div class="long_text"><a href="#">3,250</a> Mixes / <a href="#">5,350</a> Stations / <a href="#">5,350</a> Followers</div>
    </li>
</ul><!--/end followers_list -->

