<li>
  <a href="<%= artist_path(list_artist) %>">
    <%= avatar_for(list_artist, :search, {:alt => " #{list_artist.name}"}) %>
    <b> <%= list_artist.name %> </b><br/>
    <br class="clearer" />
  </a>
</li>
