<li>
  <a href="<%= radio_path(:station_id => list_station.station.id) %>">
    <%= avatar_for(list_station.artist, :search, {:alt => " #{list_station.name}"}) %>
    <b> <%= list_station.name %> </b><br/>
    <br class="clearer" />
  </a>
</li>
