<% if profile_artist.total_albums > 3 %>
<b class="right_side"><%= link_to(t('actions.view_more'), artist_albums_path) %></b>
<% end %>
<h1><%= t('dashboards.artist_latest_albums', :name => artist_or_user_name(profile_account)) %></h1>
<%= render :partial => 'shared/album', :collection => profile_artist.latest_albums, :locals => { :columns => 3 } %>
<% index = 3 -  profile_artist.latest_albums.size %>
<% index.times do |i| %>
  <div class="empty_box gb_big <%= "last_box" if i == (index-1) or (i+1+ profile_artist.latest_albums.size) == 3 %>">
    &nbsp;
  </div>
  <% if (i+1+ profile_artist.latest_albums.size) == 3 %>
    <br class="clearer" />
  <% end %>
<% end %>
