<ul class="comments_list" id="network_comment_list">
</ul>

<div class="align_right" id="show_more_comments" style="display:none;">
  <%= blue_button(t('actions.show_more'), :href => my_activities_path) %>
</div>
