<ul class="comments_list" id="network_comment_list">
</ul>

<div class="align_right" id="show_more_comments" style="display:none;">
  <a href="#" class="blue_button"><span><span><%= t('actions.show_more') %></span></span></a>
</div>
