<% if defined? with_title and with_title %>
  <h1><%= t('home.network_update', :user_name => profile_account.first_name) %></h1>
<% end %>

<ul class="comments_list" id="network_comment_list">
</ul>

<div class="align_right" id="show_more_comments" style="display:none;">
  <% if profile_owner? %>
    <%= blue_button(t('actions.show_more'), :onclick => "Base.network.show_more(this)", :width => "120px") %>
  <% else %>
    <%= link_to t('actions.view_more'), activities_path %>
  <% end %>
</div>
