<div class="box_content">
  <h1><%= t('home.cyloop_recommends') %></h1>
  <% recommended_artists(8).each_with_index do |artist, i| %>
    <% if ((i+1) % 4) == 0 %>
      <%= render :partial => 'artists/small_box', :locals => {:style => 'last_thumb', :clearer => true, :artist => artist} %>
    <% else %>
      <%= render :partial => 'artists/small_box', :locals => {:artist => artist} %>
    <% end %>
  <% end %>
</div><!--/end box_content -->

<%# render 'shared/top_mixes' %>
<%= render 'shared/top_stations_box' %>
