<h1><%= t('modules.recommended_stations.title') %></h1>
<%= render :partial => 'shared/abstract_station', :collection => @recommended_stations, :locals => { :columns => 3 } %>
<br class="clearer" />
<br />