<div id="right_column">
  <div class="ad_box">
    <%= banner_ad("square_banner") %>
  </div>
  <%= render 'shared/tweets'  if profile_artist? %>

  <div class="grey_box">
    <%= render profile_owner? ? 'dashboards/owner_sections' : 'dashboards/user_sections' %>
  </div><!--/end grey_box -->

</div><!--/end right_column -->

