%h1 New campaign

#campaigns
  - form_for :campaign, :url => campaigns_path, :html => {:multipart => true} do |f|
    %fieldset
      = render :partial => 'form_fields', :locals => {:f => f, :campaign => @campaign}
      = submit_tag 'Save'
      &nbsp;
      = link_to "Cancel", campaigns_path
    
    
