- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h1.alternate= @title

%h4 GENERAL
%strong
  Does Cyloop cost anything?
%p
  No, Cyloop will always be free of charge for all members. In the future, there might be some features that may have some costs associated with them.


%h4 MY INFORMATION
%strong
  How do I enter or change my personal information?
%p
  Log in to your account and follow these steps:
%ol
  %li Click on “Options” in your ‘Dashboard’ section
  %li Complete the information requested
  %li Click Save at the end of each page.

%strong
  Where can I change my e-mail address and/or password?
%p
  Log in to your account and follow these steps:
%ol
  %li In your ‘Dashboard’, click on “Options”
  %li Change your e-mail or password information
  %li Click Save at the end of each page.
%p
  Note: The next time you enter Cyloop.com you will need to use the new e-mail and/or the new password.

%strong
  How can I customize the look of my Cyloop profile page?
%p
  Once you log in to your account, follow these steps:
%ol
  %li Select the ‘Personalize Page’ tab
  %li Edit any of the available options (colors, background images, etc.)
  %li Click Save at the end of each page.
%p
  You will then find your page customized to your settings.


%h4 MY MUSIC
%strong
  How can I add songs to my Cyloop profile?
%p
  The moment you created your Cyloop profile, a number of default songs were automatically added to your Cyloop player. Go to the “Library” section, and from there you can easily manage these songs as well as other songs you've collected through your personal music player. You can also create your own music playlists, adding or removing songs as you please.

%strong
  How can I collect music in Cyloop?
%p
  Whatever song you are listening to anywhere on the site, either from your own profile or from a friend or artist’s profile, click on the [+] button to add that song to your collection.

%p
  Inside the radio player, you can just drag the song that is currently playing directly into the “mixer”, and then click on “Save”.

%strong
  How do I manage my music collection?

%p
  You must log in to your Cyloop account in order to manage your music. Once inside, go to the “Playlists” section (tab), and there you can organize your entire  collection.

%strong
  Can I upload music or photos?

%p
  Cyloop is a 100% legal site. In order to avoid piracy and music rights infringement issues, there is no option offered to users to upload music. If you are an artist, it is possible for you to upload music in order to promote your own work.

%p
  In regards to photos, you can upload only one picture which will be the one designated to your profile and will act as your icon. It is not possible to upload any other additional photos. At Cyloop, our main focus is music therefore photo uploading is not a priority at the time.


%strong
  Why can’t I choose the music to play on a radio station?
%p
  The radio players work just like any other regular radio station: it is not possible to choose the songs or the order in which they are played. Once you input an artist’s name and a radio station is created, you will listen to songs (or at least one song) from that artist or from others with a similar style.
%p
  This radio player model does allow you to “skip forward” to the next song. Keep in mind that you can’t replay a song once it’s been skipped.



%h4 USERS & FOLLOWERS
%strong
  What does it mean to be “following” other users or artists?
%p
  Next to the name of any user or artist you may be listening to, you’ll find a “Follow” button. If you click on it you’ll be choosing to follow that specific person. Once you do that, you will start receiving in your “Updates” list, continuous real-time updates of songs that specific user has just listened to. If it’s an artist that you’re following, you will then receive updates of songs he or she has uploaded.This way, you can keep track of  what your friends are listening to and/or discover new songs and artists.

%strong
  How can I block someone from following me?
%p
  If you would like for a specific user to stop following you, follow these steps. Log on to Cyloop.com, go to your ‘Dashboard’ and click on the “Followers” option. Once you do that,  a list with all the people following you will then display, and next to each name you’ll see a “Block” button. Click on that and  that user won’t be able to follow you anymore.

%strong
  I don’t want to be followed by anybody. What should I do?
%p
  Once you have logged in, from your ‘Dashboard’, select the “Options” link. Inside that section, select “Keep my profile private”, then click on “Save”.That will then block all users and artists from following you.


%strong
  Another Cyloop member is making me uncomfortable, what can I do?
%p
  Please contact us by clicking on the Contact link at the bottom of the screen and let us know what is occurring.

