.blue.headline.clearfix
  %h2
    %span
      =t 'modules.interviews.title'
%ul
  %li.clearfix.detour
    - unless @feed_detour.nil? 
      = link_to( image_tag(@feed_detour.image("310x112", "canada")), @feed_detour.link )
  %li.clearfix.invasion
    - unless @feed_invasion.nil? 
      = link_to( image_tag(@feed_invasion.image("310x112", "canada")), @feed_invasion.link )

