<div class="popular_mixes_column">
  <h1><%= t('home.latest_stations') %></h1>
  <%= render :partial => 'shared/user_station', :collection => @latest_stations, :locals => { :columns => 4, :includes => nil } %>
</div><!--/end popular_mixes_column -->

