- if @feed_noticias && !@feed_noticias.empty?
  .grey.headline.clearfix
    %h2
      %span
        =t 'modules.news.title'
  %ul
    - @feed_noticias.each_with_index do |feed, index|
      %li.clearfix{ :class => (index == 0 || 2) ? 'odd' : "even" }
        = link_to image_tag(feed.image), feed.link, {:target => "_blank"}
        = link_to truncate(feed.title, :length => 42), feed.link, {:target => "_blank"}
        %span
          = truncate(feed.description, :length => 55)
