<div class="popular_mixes_column">
  <h1>POPULAR MIXES</h1>

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Mix Name Here</a><br/>
        <div class="rating_stars">
          <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_white.png" alt="" /></a>
        </div>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Mix Name Here</a><br/>
        <div class="rating_stars">
          <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_white.png" alt="" /></a>
        </div>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Mix Name Here</a><br/>
        <div class="rating_stars">
          <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_white.png" alt="" /></a>
        </div>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix last_box">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Mix Name Here</a><br/>
        <div class="rating_stars">
          <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_white.png" alt="" /></a>
        </div>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <br class="clearer" /><!--/end of first row -->

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Mix Name Here</a><br/>
        <div class="rating_stars">
          <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_white.png" alt="" /></a>
        </div>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Mix Name Here</a><br/>
        <div class="rating_stars">
          <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_white.png" alt="" /></a>
        </div>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Mix Name Here</a><br/>
        <div class="rating_stars">
          <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_white.png" alt="" /></a>
        </div>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix last_box">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Mix Name Here</a><br/>
        <div class="rating_stars">
          <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_blue.png" alt="" /></a> <a href="#"><img src="images/star_white.png" alt="" /></a>
        </div>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <br class="clearer" />
</div><!--/end popular_mixes_column -->
