<% 
  #Phase 1 use top_radios_column class to get full width layout, phase 2 change to radios_recommended_column 
%>
<div class="top_radios_column">
  <h1><%= t("home.radios_recomended_for_you") %></h1>
  <%= render :partial => 'shared/abstract_station', :collection => @recommended_stations, :locals => { :columns => 6 } %>
  <div class="clearer"></div>
</div><!--/end radios_recomended_column -->
