- if @feed_reviews && !@feed_reviews.empty?
  .blue.headline.clearfix
    %h2
      %span
        =t 'modules.reviews.title'
  %ul
    - @feed_reviews.each_with_index do |feed, index|
      %li{:class => (feed == @feed_reviews.last ? "last" : nil )}
        = link_to(image_tag("#{feed.image}", :alt => feed.title), feed.link, :title => feed.title)
        %div{:style=>"width:85px;height:47px;overflow:hidden"}
          = link_to(feed.title, feed.link, :title => feed.title)
