<div class="top_radios_column">
  <h1><%= t("home.top_radios") %></h1>
  <%= render :partial => 'shared/user_station', :collection => @top_user_stations, :locals => { :columns => 6, :includes => nil } %>  
  <br class="clearer" />
</div><!--/end top_radios_column -->
