<div class="top_radios_column">
  <h5><%= t("home.top_radios") %></h5>
  <%= render :partial => 'shared/user_station', :collection => @top_user_stations, :locals => { :columns => 6, :includes => nil } %>
  <br class="clearer" />
</div><!--/end top_radios_column -->

