<div class="top_radios_column">
  <h1>TOP RADIOS</h1>

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Alice in Chains</a><br/>
        <a href="#">Station</a>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Alice in Chains</a><br/>
        <a href="#">Station</a>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Alice in Chains</a><br/>
        <a href="#">Station</a>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Alice in Chains</a><br/>
        <a href="#">Station</a>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Alice in Chains</a><br/>
        <a href="#">Station</a>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <div class="artist_box png_fix last_box">
    <img src="images/artist_image.jpg" alt="" />

    <div class="overlay">
      <div class="hidden">
        <a href="#"><img src="images/artist_icon.gif" class="artist_icon" alt="" /></a>
        <span>
          <span class="blue">Jason Calleiro</span><br/>
          09/10/10
        </span>
        <br class="clearer" />

        Contains: <a href="#">Metallica</a>, <a href="#">Someone Else</a>, <a href="#">Alice in Chains</a>...
      </div>

      <div class="visible">
        <a href="#"><img src="images/play_button.png" class="play_button" alt="" /></a>

        <a href="#">Alice in Chains</a><br/>
        <a href="#">Station</a>
      </div>
    </div><!--/end overlay -->
  </div><!--/end artist_box -->

  <br class="clearer" />
</div><!--/end top_radios_column -->
