= javascript_include_tag 'http://www.wlmessenger.net/api/3.7/loader.js'
:javascript
  function showBar() {
    $(".MessengerBarControl").show();
  }
  Microsoft.Live.Core.Loader.load(['messenger.ui.styles.core', 'messenger.ui'], showBar);
= stylesheet_link_tag 'messenger_theme'
/ [if lt IE 8]
  = stylesheet_link_tag 'messenger_theme_ie'
