<!-- Leave profile visists until include mixes -->
<div class="black_box left_side">
  <big class="blue">
    <%= number_with_delimiter(profile_account.visit_count) %>
  </big>
  <br />
  <%= t('user.visits', :default => "visits") %>
</div>
<!-- Remove mixes
  <div class="black_box left_side">
    <big class="blue"><a href="#">12,3698</a></big><br>
    Mixes
  </div>
-->
