<div class="box_content">
  <h1>
    <%= t('dashboards.recent_activity')%>
  </h1>

  <div id="user_activity_big_text" class="big_text">
    <br/>
    <img src="/images/loading.gif"></img>
    <span style="display:none;"><%= t("user.has_no_activity", :user_name => profile_account.first_name) %></span>
    <br/><br/>
  </div>

  <ul id="user_recent_activities" class="recent_activity_list">
  </ul>
</div><!--/end box_content -->
