<div id="right_column">

  <div class="ad_box">
    <%= banner_ad("square_banner") %>
  </div>
  <%= render 'accounts/tweets' %>

  <div class="grey_box">
    <%= render profile_user? ? 'users/boxes' : 'artists/boxes' %>
  </div><!--/end grey_box -->

</div><!--/end right_column -->
