<%= render 'shared/ajax_modules' %>
<div id="main_content">
  <%= render 'left_column' %>
  <div id="center_column">
    <%= render :partial => 'latest_stations', :locals => { :max_stations => 6 } %>
    <%
      # 
      # = render :partial => 'activities/all',  :locals => { :with_title => true, :limit => 5, :hide_sorting => !on_dashboard? } 
      #
    %>
  </div><!--/end center_column -->
  <%= render 'right_column' %>
  <div class="clearer"></div>
</div><!--/end main_content -->