- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title
%p
  Cyloop es una aplicación social de música que le permite a los usuarios crear una experiencia multimedia personalizada con una de las colecciones de audio y video más extensas de toda la web. En Cyloop puedes escuchar y coleccionar millones de canciones, tanto de artistas consagrados como de independientes; y puedes seguir de cerca toda la actividad relacionada con tus artistas favoritos de un modo auténticamente personalizado.
%h4 Cómo funciona?
%p
  En cuanto te hayas registrado, ya puedes dedicarte a disfrutar la música que Cyloop Radio te irá recomendando sin que tu tengas que preocuparte por hacer nada; o si lo prefieres, puedes proactivamente comenzar a colecionar música dentro de tus propios listados, o “Loops” como nos gusta llamarlos, tal como lo harías con cualquier aplicación de tu computadora. Además, puedes hacer un seguimiento de tus artistas favoritos, leer sus últimas novedades y blogs, o simplemente apoyarlos enviándoles tus comentarios.
%p  
  El motor de autoría propia de Cyloop para recomendar y descubrir música, es originado por The MAP Project, y es utilizado de manera extensiva a través de todo el sitio, tanto en la creación de las estaciones de radio personalizadas como en la selección de artistas que se recomiendan en los “Dashboards” de cada Perfil. The MAP Project se basa en el principio de que para crear una experiencia musical personalizada, las recomendaciones no deben ser determinadas solamente por las semejanzas entre artistas, sino que también se deben considerar los aspectos demográficos, psicográficos y culturales, así como también el parámetro sociográfico que cada usuario tiene dentro de la web. Dicho de otra manera, creemos que variables como el lugar dónde tu vives, tu lenguaje, tu edad o quiénes son tus amigos, son también datos críticos que determinan tus gustos musicales.
%p
  La tecnología aun en proceso de patentar detrás de The MAP Project está basada en la utilización de mapas autoorganizados (“SOMs”), los cuales son un tipo específico de red neuronal no supervisada, la cual aprende y genera mejores resultados incrementales a medida que la actividad en el sitio y las fuentes de información van creciendo. Consecuentemente, una vez que Cyloop ya identifica tu MAP único, puede entonces también encontrar semejanzas entre personas con MAPs similares, y así capitalizar aun más la actividad relacionada con música de cada usuario, para crear un experiencia más integral personalizada.

%h4 Qué pueden encontrar los artistas en Cyloop?

%p
  Cyloop funciona como una herramienta para que tanto artistas comos sus sellos discográficos puedan promocionarse a sí mismos y sus contenidos, llegando a millones de fans en múltiples regiones.
