- content_for :head do
  = render :partial => 'shared/logged_in_callback'

%h2.alternate= @title

%h4 Privacidad

%p
  En Cyloop estamos comprometidos a mantener tu privacidad. Esta política y acuerdo de privacidad (“Política de Privacidad”) incluye el modo como recogemos, usamos y tratamos la información personal que puedes suministrarnos a través de nuestros websites (el “Website” o el “Site”) o que podemos obtener de tu participación en los servicios que ofrecemos en el Website (los “Servicios”). Los términos “tu” y “tuyo” se refieren a cualquier visitante del Website, incluyendo (i) visitantes casuales que no participan en los Servicios (“Visitantes del Site”); (ii) músicos, grupos musicales, artistas visuales, videográfistas, mezcladores y productores de grabaciones de vídeo y audio, y otros participantes de la industria de la música y del vídeo, que visitan el Site para promover, presentar y hacer públicos sus trabajos (“Artistas Colaboradores”); y (iii) usuarios que crean sus perfiles, disfrutan de la música y de los trabajos audiovisuales de los Artistas Colaboradores y por otro lado participan en nuestros Servicios (“Miembros”). Los términos “Cyloop”, “nosotros” y “nuestro” se refieren a Cyloop, LLC y a Cyloop.com

%h4 1. Tu Consentimiento

%p
  Por favor lee esta Política de Privacidad cuidadosamente; una vez que hayas consentido a estos términos, se crean obligaciones legales para ti y para Cyloop. Te pedimos que prestes tu consentimiento a los términos de esta Política de Privacidad de formas diferentes, dependiendo de tu relación con el Site. Los procedimientos son (a) menos formales si eres simplemente un casual Visitante del Site y (b) más formales si pretendes ser un Miembro o un Artista Colaborador del Site.

%h4 1.1. Consentimiento de Visitantes del Site. 
%p
  Al acceder y usar nuestro Website como Visitante, reconoces que has leído y entendido esta Política de Privacidad y aceptas estar sujeto legalmente a ella. Si no aceptas los términos de esta Política de Privacidad, por favor abstente de usar nuestro Site.

%h4 1.2. Consentimiento de Artistas Colaboradores y Miembros. 
%p
  Si te registras como Artista Colaborador o Miembro se te pedirá que hagas click en un botón de “Acepto” enlazado con esta Política durante el proceso de registro. Pulsando “Acepto” confirmas que estás de acuerdo en sujetarte a esta Política de Privacidad.

%h4 2. Participación de Niños y Adolescentes; Aviso

%p
  Dada la naturaleza de las comunicaciones que pueden tener lugar en nuestro Site, y dada la política federal a favor de la protección de los niños menores de 13 años (como se refleja en el Children's Online Privacy Protection Act – Acta de Protección de la Privacidad Online de los Niños), NO ADMITIMOS A INDIVUDUOS QUE SEPAMOS QUE SON MENORES DE 13 AÑOS PARTICIPAR EN NUESTRO SITE NI EN NUESTROS SERVICIOS. Por favor, entiende que nosotros no podemos decir con seguridad si un usuario nos está diciendo su verdadera edad.

%p
  TIENES QUE TENER AL MENOS 13 AÑOS PARA USAR NUESTRO SITE Y NUESTROS SERVICIOS. COMO EL SERVICIO PUEDE FACILITAR EL ACCESO A CONTENIDOS QUE CONTENGAN MATERIAL EXPLÍCITO (COMO LENGUAJE DURO O DESCRIPCIÓN DE SEXO, VIOLENCIA O ABUSOS), SE ACONSEJA LA SUPERVISIÓN PATERNA PARA LOS USUARIOS COMPRENDIDOS ENTRE 13 Y 17 AÑOS.

%p
  SI TIENES ENTRE 13 Y 17 AÑOS, POR FAVOR REVISA ESTE ACUERDO CON TUS PADRES O TUTORES.

%h4 3. Tipos de Información que puedes suministrar

%p
  La información que puedes aportar al visitar nuestro Site o al participar en nuestros Servicios entran en dos grandes categorías: (i) información personal identificable y (ii) información agregada. Usamos el término “Información Personal Identificable” con el significado de cualquier información que puede ser razonablemente identificada contigo, incluyendo tu nombre, dirección, dirección de correo electrónico, fecha de nacimiento, información financiera, fotografía, número de teléfono o cualquier combinación de información que pueda usarse para identificarte. “Información Anónima” es aquella que no te identifica y puede incluir datos estadísticos respecto, por ejemplo, tu uso de nuestros Servicios, tu acceso a los trabajos de los Artistas Colaboradores o las páginas de nuestro Site que visitas más frecuentemente. Estas dos categorías de información pueden ser a su vez divididas en (iii) información que recogemos y que tú nos ofreces (“Información Controlada por el Site”), y (iv) información que tu pretendes ofrecer y poner a disposición de otros Miembros de nuestro Site (“Información Controlada por los Miembros”). Nuestra Política de Privacidad gobierna toda la Información Controlada por el Site – tanto si es información personalmente identificable como si es anónima – y no gobierna la Información Controlada por los Miembros, dado que no tenemos control directo de su recopilación y uso.


%h4 4. Información Personalmente Identificable Controlada por el Site; Nuestro Uso de esta Información

%p
  No compartiremos información personalmente identificable que nos suministres vía el Website con ningún tercero, excepto los que expresamente se incluyen en este documento. Recogemos información de Visitantes, Miembros y Artistas Colaboradores del Site en diferentes puntos de nuestro Website y a través de nuestros Servicios, y la usamos como sigue:

%h4 4.1. Información de Registro; Nombres de Usuario. 
%p
  Para participar en nuestros Servicios como Miembro o como Artista Colaborador, requerimos que rellenes un formulario de registro. Este formulario pide información de contacto que incluye datos como (i) nombre y apellido; (ii) localidad; (iii) fecha de nacimiento (para propósitos relacionados con COPPA); (iv) género; y (v) dirección de correo electrónico. El proceso de registro suministra a los Miembros y a los Artistas Colaboradores un nombre y una palabra clave que les permite acceder al Website y a los Servicios a los que se han suscrito. Nuestro sistema basa en los nombres de usuario la “identificación” pública de un Miembro particular.  Por favor observe que el nombre de usuario es el nombre que Ud. ingresa durante su registro.  Si Ud no quiere usar su nombre y apellido como su nombre de usuario, Ud. puede cambiar su nombre de usuario en la sección de “Configuración” del Site.

%h4 4.2. Información de Banda. 
%p
  Si registras tu grupo musical en nuestro Site como Artista Colaborador, se te pedirá que nos des el nombre y apellido y el género de todos los miembros de la banda. Además, te pediremos una biografía de la banda. Estos nombres y biografía se pondrán en tu página de perfil de la banda (los datos de género se mantendrán privados). Puedes dar información adicional de tu banda para su perfil a tu elección.

%h4 4.3. Dirección de Correo Electrónico. 
%p
  Usamos tu dirección de e-mail para mandar notificaciones relacionadas con nuestro Site, como por ejemplo, confirmación cuando un Miembro solicita ser tu amigo, dar aviso de que un Miembro ha recibido un mensaje o comentario tuyo y para invitar a nuevos amigos que se unan a Cyloop.com. Además, para facilitar la localización de amigos puedes buscar entre los perfiles de Miembros particulares usando su nombre completo o su dirección de e-mail. Nuestras utilidades de búsqueda están estructuradas de forma que tengas que conocer el nombre completo de tus amigos o su e-mail para localizar sus perfiles.

%h4 4.4. Invitaciones a Terceros. 
%p
  En nuestro Site los Miembros y los Artistas Colaboradores pueden usar el “servicio de invitación” para informar a sus amigos de sus perfiles y animar a sus amigos a registrarse. Si decides realizar una invitación, te pediremos el nombre y el e-mail de tu amigo. Entonces le enviaremos un e-mail invitándole a visitar el Site. Almacenamos la información con el único propósito de enviar este único email y tu amigo podrá contactar con nosotros de acuerdo con la Sección 10 (Cambio o Borrado de Información; Opción de salida) para pedir el borrado de su información de nuestras bases de datos.

%h4 4.5. Comunicaciones con otros Miembros. 
%p
  En el registro en el Website, los Miembros y los Artistas Colaboradores indican su interés en el intercambio de información con otros Miembros, sujeto a cualquier Control de Privacidad que se imponga. Para permitir estas comunicaciones, suministramos información para identificar a usuarios individuales, sus nombres. Buscamos limitar la información suministrada por nuestro sistema al mínimo necesario para identificar a un participante en comunicaciones y otros intercambios.

%h4 4.6. Otros intercambios de información. 
%p
  El Website permite a sus Miembros y Artistas Colaboradores (i) ofrecer y recibir información en un rango de formas de un ilimitado número de temas, y (ii) enlazar con otras actividades a través de discusiones que pueden incluir, a elección del usuario, un intercambio de información personal identificable. En estos casos, usamos cualquier información que nos suministras estrictamente para los propósitos para los que la aportas.

%h4 4.7. Uso de Perfiles en Promociones. 
%p
  Creemos que la experiencia de nuestros Miembros en el Site puede a menudo actuar como una fuerte promoción del Site y de nuestros Servicios. Para promocionar e ilustrar nuestros Servicios y nuestro Site, por lo tanto, puede que deseemos situar en nuestra Página Principal y en otras áreas del Site, perfiles y contenidos de nuestros Miembros. Entendemos que los Miembros que eligen no emplear nuestros Controles de Privacidad están interesados en (o no ponen objeción) publicar sus perfiles y sus contenidos. Si hemos usado tu perfil y otra información para estos propósitos y no quieres que lo hagamos, notifícanoslo por favor como se indica en la Sección 16 (Contacta con nosotros). Si está involucrada información personalmente identificable, la borraremos de nuestro material promocional en un periodo de tiempo razonable.

%h4 4.8. Avisos y boletines informativos. 
%p
  Periódicamente, podemos decidir enviar noticias, boletines, material de marketing u otra información a los Miembros y Artistas Colaboradores y usaremos información personalmente identificable para hacerlo. Si decidimos realizar dichas comunicaciones, tendrás la posibilidad de rechazar el envío como se indica en la Sección 12 (Cambio y Borrado de Información; Opción de Salida).

%h4 4.9. Tablones de boletines y chat rooms. 
%p
  Como uno de nuestros Servicios, podemos ofrecer un bulletin board system (BBS) y chat rooms en nuestro Site.  Cualquier comentario tuyo contribuye al diálogo online, sin embargo, se convierte en público automáticamente, siendo atribuido a tu nombre de usuario. Por lo tanto, deberás ser prudente en lo que envías a estos intercambios.

%h4 4.10. Encuestas y Concursos. 
%p
  Periódicamente podemos realizar encuestas o concursos en Cyloop.com y podemos pedirte información personalmente identificable. Eres libre de elegir si participas. La información que requerimos puede incluir información de contacto (como nombre y dirección de envío), y esta información será usada para notificar a los ganadores y otorgar premios. La información de encuestas será usada para propósitos de monitorización y mejora del uso y atractivo de este Site. Te notificaremos los detalles relevantes en relación a la petición de tu participación en estas encuestas y concursos.

%h4 5. Tu responsabilidad respecto a la Información Controlada por los Miembros
%p
  La Información Controlada por los Miembros es información que tienes intención de suministrar o poner a disposición de otros Miembros o Artistas Colaboradores de nuestro Site. Aunque te aconsejamos tener cuidado si incluyes información personalmente identificable en tu Información Controlada por los Miembros, nuestra Política de Privacidad no cubre esta información. Si eliges descubrir cualquier información personalmente identificable, puede ser recogida y usada por otros Miembros o usuarios y como resultado puedes recibir comunicaciones nos solicitadas. Ofrecemos una serie de Servicios para ayudarte a realizar elecciones correctas relacionadas con tu exhibición de información. Por favor, revisa la Sección 9 (Otras herramientas para proteger tu privacidad).

%h4 6. Información agregada anónima.
%p
  Utilizamos Información Anónima para analizar la efectividad de nuestro Site, para mejorar nuestros Servicios y para otros propósitos similares, que incluyen la generación de recomendaciones a los Miembros y de Informes para nuestros Artistas Colaboradores. Además, de vez en cuando, podemos realizar análisis estadísticos del comportamiento general y las características de los usuarios que participan en nuestros Servicios y de las características de los visitantes del Site y podemos compartir Información Anónima con terceros. Asegurando sin embargo, que esta Información Anónima entregada a terceros no permitirá a nadie identificarte o determinar ningún aspecto personal respecto a ti. Podemos recoger Información Anónima mediante las características del Software que soporta nuestros Servicios, mediante cookies y mediante otros medios descritos a continuación.

%h4 6.1. Direcciones IP, Logs. 
%p
  Podemos recibir y recoger información de forma automática en los logs de nuestros servidores desde tu navegador, incluyendo tu dirección IP (la dirección de Internet de tu PC), el nombre de tu ordenador, el tipo y versión de tu navegador web, direcciones de referencia y otra información de log generalmente aceptada. Podemos también recoger las páginas vistas (recuento de hits) y otra información general estadística y de rastreo, que será agregada con la de otros usuarios para entender como nuestro Website es usado y con propósitos de seguridad y monitorización. Ninguno de estos datos contiene información personal identificable.

%h4 6.2. Cookies. 
%p
  Una cookie es una pequeña cantidad de datos que a menudo incluye un identificador único anónimo, que se envía a tu navegador desde un website y se almacena en el disco duro de tu ordenador. Las cookies pueden usarse para ofrecerte una experiencia de usuario adaptada y para hacerte más fácil el uso de un website en futuras visitas. Podemos incluir cookies en nuestro Website u usarlas para reconocerte cuando vuelvas a él. Puedes establecer en tu navegador que no aceptas cookies. Sin embargo, si quieres recibir cierta personalización de nuestros Servicios necesitamos instalar cookies en tu navegador web.

%h4 6.3. Tags.
%p
  Podemos utilizar los llamados “pixel tags” – imágenes gráficas pequeñas (también conocidas como “web beacons” o “sigle-pixel GIFS”) – para decirnos que partes de nuestro website han sido visitadas o para medir la efectividad de las búsquedas que los clientes realizan en nuestro Site. Los Pixel tags también nos permiten mandar mensajes de email de forma que los usuarios pueden leer y nos informan si los emails han sido abiertos, para ayudarnos a estar seguros de que nuestros mensajes son del interés de nuestros Miembros y Artistas Colaboradores. Ninguno de estos datos incluyen información personalmente identificable, y puedes rechazar el envío de este tipo de emails siguiendo las instrucciones descritas en la Sección 10 (Cambiando y Borrando Información; Opción de Salida). Si se recoge alguna información personalmente identificable usando estas herramientas, estará sujeto a los términos de esta Política de Privacidad.

%h4 6.4. Click-Throughs.
%p
  Podemos enviar mensajes de email que usan una “click-through URL” enlazada con contenidos de nuestro Website. Cuando pinchas en uno de esos URL´s, entras en nuestro servidor web antes de llegar a la página web de destino. Rastreamos los datos de este click-through para ayudarnos a determinar el interés de temas particulares y medir la efectividad de nuestras comunicaciones con nuestros clientes. Si prefieres no ser rastreado, simplemente no pinches el texto o gráfico de enlace del email, o notifícanoslo de acuerdo con la Sección 10 (Cambios y Borrados de Información, Opción de Salida).

%h4 6.5. Banners de Publicidad. 
%p
  El servicio puede incluir el uso de socios de publicidad mediante banners para el servicio de publicidad, promociones y otros mensajes de marketing. Estos anuncios pueden ser suministrados, en algunos casos, por terceros proveedores de servicios de publicidad o anuncios (“Publicistas”). El publicista pude situar o utilizar sus propias cookies en tu navegador y puede utilizar Información Anónima sobre tu visita a nuestros sites, como el número de veces que has visto el anuncio. Si el Publicista te requiere información personalmente identificable, por favor ten en cuenta que la recogida y uso de esta información será gobernada por la política de privacidad de este Publicista y no por la nuestra. Recomendamos que revises la política de privacidad del Publicista antes de suministrar información personalmente identificable.

%h4 6.6. Configuración del Ordenador. 
%p
  Para determinar si tu ordenador es soportado por nuestro sistema podemos recoger cierta Información Anónima. Esta información incluye, pero no se limita, a tu sistema operativo y navegador, así como la presencia de cualquier software que nuestro Website pueda requerir para operar en tu ordenador u otro software de terceros en tu ordenador. Esta información es mantenida estrictamente confidencial y no se comparte con ninguna tercera parte, excepto como se indica en esta Política de Privacidad.

%h4 7. Cualquier información relacionada con tu Información Personal Identificable está protegida como “Información Personalmente Identificable.
%p
  Para permitirnos un mejor conocimiento de las características de nuestros Clientes y/o ofrecer servicios personalizados a tus necesidades, necesitamos conectar con (a) la información personalmente identificable que nos has suministrado; y con (b) información anónima. Si enlazamos cualquier información anónima con otra información personalmente identificable, la combinación resultante se tratará y protegerá como información personalmente identificable bajo esta Política de Privacidad. Como resultado, ningún tercero no relacionado tendrá acceso a ella y cualquiera de nuestros proveedores de servicio autorizados estará comprometido de acuerdo con esta Política.

%h4 8. No revelamos Información Personalmente Identificable gestionada por el Site a terceros; Excepciones
%p
  No revelaremos tu información personalmente identificable a terceras partes no afiliadas si tu expreso consentimiento, excepto en las siguientes circunstancias limitadas:

%h4 8.1. Proveedores del Site Cyloop. 
%p
  Podemos emplear otras compañías para realizar funciones en nuestro nombre, como el mantenimiento del Website, el suministro de servicios relacionados con el Site, recogida de información, respuesta y envío de correo electrónico u otras funciones necesarias para nuestro negocio. Puede que necesitemos compartir tu información personalmente identificable con estas compañías (colectivamente, “Proveedores del Site”). Les pasaremos solo la información necesaria para la ejecución de sus funciones y no les permitiremos usarla para otros propósitos.

%h4 8.2. Daño inminente. 
%p
  Podemos revelar tu información personalmente identificable a abogados, organizaciones de investigación privada o agencias de cumplimiento de la ley si creemos (a) que estás dañando o interfiriendo (o lo harás de forma inmediata) con otros o (b) estás violando (tanto intencionada como no intencionadamente) nuestros Términos y Condiciones de Uso o de otra forma violando los derechos legales.

%h4 8.3. Legal. 
%p
  Revelaremos tu información personalmente identificable si somos legalmente requeridos a hacerlo. Si recibimos un llamamiento legal para descubrir tu información legalmente identificable te lo intentaremos notificar a través de la dirección de email que diste en el registro con una antelación razonable antes de responder al requerimiento, a menos que dicha notificación no esté permitida.

%h4 8.4. Transferencia del Site. 
%p
  Estaremos autorizados a transferir a terceros información incluida la personalmente identificable, en relación con la venta de todos o sustancialmente todos los activos de la entidad de negocio responsable de la información que se encuentra bajo esta Política, a condición de que la tercera parte adquirente haya aceptado salvaguardar tu información con protecciones que sean materialmente similares o mejores que las de esta Política de Privacidad.


%h4 9. Herramientas adicionales para proteger tu privacidad
%p
  Reconocemos que los niños y otros usuarios pueden suministrar más información personal de la que quieren en las áreas públicas de los sites de redes sociales. Ofrecemos una gama de Servicios para asistir a nuestros Miembros que buscan preservar un apropiado nivel de privacidad, como son:

%h4 9.1. Controles de Privacidad.
%p
  Te ofrecemos controles de privacidad que te permiten designar tu perfil completo o parte de tu perfil como “cerrado” a todos excepto a ciertos Miembros o Artistas Colaboradores (nuestros “Controles de Privacidad”). Utiliza los Controles de Privacidad o selecciona cuidadosamente la información que pones en tu perfil y que das a otros Miembros. Debes tener cuidado si decides incluir información que te identifica personalmente como tu número de teléfono, dirección, apellido, dirección de email y fotos geográficamente reconocibles.

%h4 9.2. El papel de los Padres, acceso a la información. 
%p
  Animamos a los padres y a los niños a hablar sobre el tratamiento apropiado de la información personal online. Para una mayor promoción de este diálogo y a la luz de la relación legal paterno-filial, suministraremos a los padres (o tutores) de un miembro que sea menor de edad iguales derechos de acceso que a los Miembros (como se establece en la Sección 10 (Cambios y Borrados de Información, Opción de Salida)), teniendo en cuenta que se nos haya dado información suficiente para verificar que el individuo que hace la solicitud es realmente el padre o tutor del Miembro (un “Padre de un Miembro menor de edad”).

%h4 9.3. Borrado de un Perfil. 
%p
  Si es usted un Padre de un Miembro menor de edad y quiere que el perfil de su hijo sea borrado de nuestro Site (debe borrar el perfil de su hijo si es menor de 13 años), le sugerimos que en primer lugar pida a su hijo que lo borre por sí mismo. Si su hijo no está dispuesto a borrar su perfil, usted puede hacer que se borre de acuerdo con la Sección 10 (Cambio o Borrado de Información; Opción de Salida).

%h4 9.4. Reportando Problemas. 
%p
  Si notas que tu o uno de tus amigos ha sido acosado o intimidado en nuestro Site o que hay usuarios infringiendo tu privacidad o violando nuestro Código de Conducta, por favor informa de tu preocupación como se establece en los Términos y Condiciones de Uso.

%h4 10. Cambio o Borrado de Información; Opción de Salida.

%h4 10.1. Cuenta de Información Discrecional. 
%p
  Para permitir el control apropiado de la información personalmente identificable, puedes acceder a tu cuenta (después de indicar tu nombre de usuario y palabra clave) para cambiar o actualizar la información discrecional que has mandado previamente.

%h4 10.2. Opción de Salida. 
%p
  Si decidimos enviarte boletines, actualizaciones o otras comunicaciones no solicitadas de materiales relacionados con el marketing, te daremos la posibilidad de declinar el recibo de tales comunicaciones. Las instrucciones para realizar el rechazo te serán dadas cuando decidamos mandarte dichas comunicaciones. Entiende por favor que no podrás rechazar notificaciones formales respecto a la operativa de este Website, así como notificaciones legales u otras concernientes con tu relación con el Site.

%h4 10.3. Borrado de Información. 
%p
  Finalmente, si lo solicitas, borraremos tu nombre y toda la demás información personalmente identificable de nuestras bases de datos. Por favor entiende, sin embargo, que será imposible su borrado completo debido a los backups y registro de borrados. Adicionalmente, por favor entiende que si solicitas el borrado de tu información te será imposible utilizar los elementos asociados del Website ni sus Servicios. No podrás borrar información no identificada, anónima o agregada de nuestra base de datos.

%h4 10.4. Supervisión de los Padres.
%p
  Un padre o tutor de un miembro menor de edad tiene derecho a supervisar la información que hemos recogido de su hijo, a retirarnos su consentimiento para el uso posterior de esa información o al borrado directo contactando con nosotros de acuerdo con la Sección 16 (Contacta con nosotros).


%h4 11. Seguridad
%p
  Hemos puesto en marcha sistemas de seguridad diseñados para prevenir accesos no autorizados o la divulgación de información personalmente identificable gestionada por el Site que nos suministres y realizamos todos los pasos razonables para asegurarla y salvaguardarla. La sección protegida por palabra clave de nuestro Site requiere a los usuarios que den su identificador único que son su userid y su contraseña. Más aún, almacenamos toda la información personalmente identificable gestionada por el Site que recibimos en un sistema independiente, diseñado para ser seguro y aislado de la conexión directa a Internet. A nuestros empleados (y a los de nuestras filiales y proveedores) les exigimos que entiendan y cumplan nuestras políticas respecto a la confidencialidad de la información personalmente identificable. Más aún, damos acceso a las bases de datos que contienen esta información en solo en caso necesario.

%p
  Nuestros sistemas de seguridad están por lo tanto estructurados para impedir y prevenir los hackers y otras formas de acceso a la información que nos suministras. También usamos programas de software que monitorizan el tráfico de red para identificar intentos no autorizados de actualizar o cambiar la información o de causar daño de otro modo. Por favor, entiende sin embargo que esta información no será interpretada en forma alguna como entrega de negocio, legal u otra recomendación o garantía como falta de prueba, la seguridad de la información que nos es entregada. Dada la naturaleza de las comunicaciones por Internet y de la evolución de las tecnologías, no podemos ofrecer seguridad de que la información que nos entregas se mantendrá libre de pérdidas, abuso o alteración por parte de terceros que, a pesar de nuestros esfuerzos, consigan acceso no autorizado.


%h4 12. Notificación de Incidentes de Seguridad

%p
  Si detectamos, a pesar de las salvaguardas descritas arriba, una intrusión u otro acceso no autorizado o el uso de información personalmente identificable (una “Intrusión”), (i) lo notificaremos a los usuarios afectados si su información es sensible a nuestra discreción, (ii) entregaremos esta notificación de la forma que consideremos más eficiente ante las circunstancias (como por ejemplo, correo urgente o email); (iii) usaremos la información de contacto de cada usuario afectado que se encuentre en nuestros ficheros; y (iv) realizaremos los esfuerzos comerciales razonables para realizar estos pasos y efectuar esta notificación a tiempo. Si la ley aplicable requiere pasos adicionales a los anteriormente especificados, en todo caso cumpliremos la ley aplicable.


%h4 13. Notificación de Cambios

%p
  En algún momento podemos cambiar nuestra Política de Privacidad. Si realizamos algún cambio referente a la divulgación de información personalmente identificable a terceros, intentaremos previamente contactar contigo, antes de la fecha planificada para que la modificación de la Política sea efectiva. Anunciaremos la nueva Política en el link de privacidad de nuestro Website. Respecto a los Visitantes del Site, su uso de nuestro Site tras cualquiera de estos cambios constituye su aceptación a seguir y estar sometido a la Política de Privacidad con sus cambios. En relación a los Miembros y Artistas Colaboradores, estos cambios no tendrán efecto hasta que y a menos que nos hayan dado su consentimiento de acuerdo con las Secciones 1.2 y 1.3 de más arriba.

%h4 14. Relación con los Términos de Uso y Otros Contratos

%p
  Esta Política de Privacidad debe ser leída junto con nuestros Términos y Condiciones de Uso y las estipulaciones de nuestros Términos y Condiciones de Uso que están incorporadas en el presente documento. En caso de que haya conflicto entre los Términos y Condiciones de Uso y esta Política de Privacidad, los términos de la Política de Privacidad tendrán el control.

%h4 15. Recursos Adicionales

%p
  Si deseas más información referente a las políticas de privacidad en general, referentes a la red social online y a la seguridad, y referentes al Acta de Protección de la Privacidad Online de los Niños, puedes visitar los siguientes sitios:

%p
  http://www.safeteens.com
  %br
    http://www.ftc.gov/privacy/index.html
  %br
    http://www.ftc.gov/privacy/privacyinitiatives/childrens_educ.html
  %br
    http://www.ftc.gov/bcp/conline/edcams/kidzprivacy/index.html
  %br
    http://www.wiredsafety.org/internet101/blogs.html
  %br
    http://www.netsmartz.org/netteens.htm
  %br
    http://www.isafe.org/channels/sub.php?ch=op&sub_id=media_tips

%h4 16. Contacta con nosotros

%p
  Si tienes alguna pregunta respecto a la Política de Privacidad, las prácticas del Site o tus referencia con este Website, por favor contacta con nosotros en :

%p
  A la atención del Presidente
  %br
    Hoodiny Entertainment Group, LLC
  %br
    555 Washington Ave., Suite 340
  %br
    Miami Beach, FL 33139
  %br
  = mail_to "#{request.host}@hoodiny.com?subject=privacy_policy", "privacy@hoodiny.com"

%h4 17. Fecha Efectiva

%p
  La fecha efectiva de entrada en vigor de esta Política de Privacidad es el 20 de abril de 2009. 
